**Resources list**
1. pyspark tutorial https://github.com/pydatasg/Pydata_meetup_Nov_16/blob/master/RF_modeling_2.3_business_weimin.ipynb
2. follow this tutorial: https://www.analyticsvidhya.com/blog/2016/10/spark-dataframe-and-operations/
3. and this one: https://www.dezyre.com/apache-spark-tutorial/pyspark-tutorial
4. data engineer trick: http://nadbordrozd.github.io/blog/2016/05/22/one-weird-trick-that-will-fix-your-pyspark-schemas/
5. git http://rogerdudler.github.io/git-guide/

# Get data
## Downloand data from s3
version 1.0

In [2]:
! cd /home/ubuntu/s3/flight_1_5
! aws s3 sync s3://flight.price/flight_1_5 .

download: s3://flight.price/flight_1_5/flight_1_5_price_2017-04-14.zip to ./flight_1_5_price_2017-04-14.zip
download: s3://flight.price/flight_1_5/flight_1_5_price_2017-04-04.zip to ./flight_1_5_price_2017-04-04.zip
download: s3://flight.price/flight_1_5/flight_1_5_price_2017-04-15.zip to ./flight_1_5_price_2017-04-15.zip
download: s3://flight.price/flight_1_5/flight_1_5_price_2017-04-18.zip to ./flight_1_5_price_2017-04-18.zip
download: s3://flight.price/flight_1_5/flight_1_5_price_2017-04-16.zip to ./flight_1_5_price_2017-04-16.zip
download: s3://flight.price/flight_1_5/flight_1_5_price_2017-04-19.zip to ./flight_1_5_price_2017-04-19.zip
download: s3://flight.price/flight_1_5/flight_1_5_price_2017-04-20.zip to ./flight_1_5_price_2017-04-20.zip
download: s3://flight.price/flight_1_5/flight_1_5_price_2017-04-21.zip to ./flight_1_5_price_2017-04-21.zip
download: s3://flight.price/flight_1_5/flight_1_5_price_2017-04-22.zip to ./flight_1_5_price_2017-04-22.zip
download: s3://flight.price/flight_1_5/flight_1_5_price_2017-04-09.zip to ./flight_1_5_price_2017-04-09.zip
download: s3://flight.price/flight_1_5/flight_1_5_price_2017-04-13.zip to ./flight_1_5_price_2017-04-13.zip
download: s3://flight.price/flight_1_5/flight_1_5_price_2017-04-25.zip to ./flight_1_5_price_2017-04-25.zip
download: s3://flight.price/flight_1_5/flight_1_5_price_2017-04-26.zip to ./flight_1_5_price_2017-04-26.zip
download: s3://flight.price/flight_1_5/flight_1_5_price_2017-04-27.zip to ./flight_1_5_price_2017-04-27.zip
download: s3://flight.price/flight_1_5/flight_1_5_price_2017-04-12.zip to ./flight_1_5_price_2017-04-12.zip
download: s3://flight.price/flight_1_5/flight_1_5_price_2017-04-29.zip to ./flight_1_5_price_2017-04-29.zip
download: s3://flight.price/flight_1_5/flight_1_5_price_2017-04-30.zip to ./flight_1_5_price_2017-04-30.zip
download: s3://flight.price/flight_1_5/flight_1_5_price_2017-05-01.zip to ./flight_1_5_price_2017-05-01.zip
download: s3://flight.price/flight_1_5/flight_1_5_price_2017-05-02.zip to ./flight_1_5_price_2017-05-02.zip
download: s3://flight.price/flight_1_5/flight_1_5_price_2017-05-03.zip to ./flight_1_5_price_2017-05-03.zip
download: s3://flight.price/flight_1_5/flight_1_5_price_2017-04-06.zip to ./flight_1_5_price_2017-04-06.zip
download: s3://flight.price/flight_1_5/flight_1_5_price_2017-05-07.zip to ./flight_1_5_price_2017-05-07.zip
download: s3://flight.price/flight_1_5/flight_1_5_price_2017-05-08.zip to ./flight_1_5_price_2017-05-08.zip
download: s3://flight.price/flight_1_5/flight_1_5_price_2017-05-09.zip to ./flight_1_5_price_2017-05-09.zip
download: s3://flight.price/flight_1_5/flight_1_5_price_2017-05-10.zip to ./flight_1_5_price_2017-05-10.zip
download: s3://flight.price/flight_1_5/flight_1_5_price_2017-04-28.zip to ./flight_1_5_price_2017-04-28.zip
download: s3://flight.price/flight_1_5/flight_1_5_price_2017-04-24.zip to ./flight_1_5_price_2017-04-24.zip
download: s3://flight.price/flight_1_5/flight_1_5_price_2017-04-23.zip to ./flight_1_5_price_2017-04-23.zip
download: s3://flight.price/flight_1_5/flight_1_5_price_2017-05-06.zip to ./flight_1_5_price_2017-05-06.zip
download: s3://flight.price/flight_1_5/flight_1_5_price_2017-05-11.zip to ./flight_1_5_price_2017-05-11.zip

version 1.1

In [13]:
! aws s3 ls s3://flight.price.11/flight_1_5 --recursive
! aws s3 sync s3://flight.price.11/flight_1_5 .

2017-05-11 12:21:21   51976702 flight_1_5/flight_1_5_price_2017-05-11.zip
2017-05-12 11:41:26  488154487 flight_1_5/flight_1_5_price_2017-05-12.zip
2017-05-13 11:12:53  488920458 flight_1_5/flight_1_5_price_2017-05-13.zip
2017-05-14 23:50:24  489340830 flight_1_5/flight_1_5_price_2017-05-14.zip
download: s3://flight.price.11/flight_1_5/flight_1_5_price_2017-05-11.zip to ./flight_1_5_price_2017-05-11.zip
download: s3://flight.price.11/flight_1_5/flight_1_5_price_2017-05-14.zip to ./flight_1_5_price_2017-05-14.zip
download: s3://flight.price.11/flight_1_5/flight_1_5_price_2017-05-13.zip to ./flight_1_5_price_2017-05-13.zip
download: s3://flight.price.11/flight_1_5/flight_1_5_price_2017-05-12.zip to ./flight_1_5_price_2017-05-12.zip

In [17]:
! du -h

4.0K	./spark-warehouse
1.5G	./extracted/final_results
1.6G	./extracted
4.5G	.

## Extract
Note: version 1.1 from 2017-05-11 onwards

In [20]:
import zipfile
import os

# dir_in = 'C:\\s3\\20170503\\flight_1_6' # sydney to shanghai
# dir_in = 'C:\\s3\\20170503\\flight_5_1' # beijing to sydney
# dir_in = 'C:\\s3\\20170503'
dir_in = '/home/ubuntu/s3/flight_1_5'

# dir_out = 'C:\\s3\\20170503_extracted\\flight_1_6'
dir_out = '/home/ubuntu/s3/flight_1_5/extracted'
extension = ".zip"

os.chdir(dir_in) # change directory from working dir to dir with files

for subdir, dirs, files in os.walk(dir_in):
    for item in files:
        if item.endswith(extension): # check for ".zip" extension
            file_name = os.path.join(subdir, item)
#             file_name = os.path.abspath(item) # get full path of files
            zip_ref = zipfile.ZipFile(file_name) # create zipfile object
            zip_ref.extractall(dir_out) # extract file to dir
            zip_ref.close() # close file

Move files in final_results to the main folder and delete the folder

In [34]:
# ! cd /home/ubuntu/s3/flight_1_5/extracted
# ! mv /home/ubuntu/s3/flight_1_5/extracted/final_results/*.txt .
! find /home/ubuntu/s3/flight_1_5/extracted/final_results -name '*.txt' -exec mv {} /home/ubuntu/s3/flight_1_5/extracted \;
# -exec runs any command,  {} inserts the filename found, \; marks the end of the exec command.
! rmdir /home/ubuntu/s3/flight_1_5/extracted/final_results

http://stackoverflow.com/questions/9157138/recursively-counting-files-in-a-linux-directory
* -type f to include only files.  
* | (and not Â¦) redirects find command's standard output to wc command's standard input.  
* wc (short for word count) counts newlines, words and bytes on its input (docs).  
* -l to count just newlines.
* You can also remove the -type f to include directories (and symlinks) in the count.
* It's possible this command will overcount if filenames can contain newline characters.

In [36]:
! find /home/ubuntu/s3/flight_1_5/extracted -type f | wc -l
! du -sh

26261
5.9G	.

# Launch spark

In [1]:
import h2o
# import pysparkling
import os
import sys
from pyspark.sql import SparkSession
from IPython.display import display
from pyspark.sql.functions import regexp_extract, col, split, udf, trim, when, from_unixtime, unix_timestamp, minute, hour, datediff
from pyspark.sql import functions as F
from pyspark.sql.types import IntegerType, StringType, BooleanType
# from pyspark.sql.types import *
import datetime

from pyspark import SparkContext
sc = SparkContext()

# # # spark_home = os.environ.get('SPARK_HOME', None)
# spark_home = "C:\spark-2.1.0-bin-hadoop2.7\spark-2.1.0-bin-hadoop2.7"

# if not spark_home:

#     raise ValueError('SPARK_HOME environment variable is not set')

# sys.path.insert(0, os.path.join(spark_home, 'python'))

# sys.path.insert(0, os.path.join(spark_home, 'C:\spark-2.1.0-bin-hadoop2.7\spark-2.1.0-bin-hadoop2.7\python\lib\py4j-0.10.4-src.zip')) ## may need to adjust on your system depending on which Spark version you're using and where you installed it.

# exec(open(os.path.join(spark_home, 'python/pyspark/shell.py')).read())

spark = SparkSession \
        .builder \
        .appName("Python Spark SQL basic example") \
        .config("spark.some.config.option", "some-value") \
        .getOrCreate()
        
spark.version

In [1]:
# hc= H2OContext(sc).start()

In [107]:
# h2o not working yet
# # Start H2O Context
# from pysparkling import *
# sc
# hc= H2OContext(sc).start()

## Read in json files and aggregate into a dataframe

In [108]:
#!/usr/bin/env python3
# Copyright (C) 2015-2025 Wang,Jing   <jingwangian@gmail.com>
#
# This file is part of Flight Inforation Query System (fiqs)
#
# fiqs is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# fiqs is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with fiqs.  If not, see <http://www.gnu.org/licenses/>.

import argparse
import json
from pyspark.sql import SparkSession

# def spark_write(spark,jsonl_file_name,parquet_file_name):
#     df = spark.read.json(jsonl_file_name)
#     df.write.parquet(parquet_file_name)
    
# def spark_print_json(spark,json_file_name):
#     d = read_from_json_file(json_file_name)
    
#     jsonl_file_name = json_file_name.replace('.json','.jsonl')
    
#     with open(jsonl_file_name,'w') as f:
#         json.dump(d, f)
    
#     df = spark.read.json(jsonl_file_name)
    
#     df.createGlobalTempView("flight")
    
#     spark.sql("SELECT fromCity,toCity,flight_leg1.departureTime, flight_leg1.departureLocation.airportLongName FROM global_temp.flight").show()
    
def read_from_json_file(filename):
    with open(filename,'r') as f:
        d = json.load(f)
        
    return d

# def pq_to_json_file(spark, pq_file_name, json_file_name):
#     df = spark.read.load(pq_file_name)
    
#     df.write.json(json_file_name)
    
# def read_data_from_pq_file(spark,filename):
#     df = spark.read.load(filename)
    
#     df.select('from_city_name','to_city_name').show()
#     #spark.sql("SELECT from_city_name,to_city_name FROM global_temp.flight").show()
    
# def main():
#     full_path_pq_file_name = "test/t.parquet"

#     spark = SparkSession \
#         .builder \
#         .appName("Python Spark SQL basic example") \
#         .config("spark.some.config.option", "some-value") \
#         .getOrCreate()
            
#     parser = argparse.ArgumentParser()
    
#     parser.add_argument('cmd',help='[json,pq,json2pq,jsonprint]')
#     parser.add_argument('--json',help='json file namejson,pq]')
#     parser.add_argument('--pq',help='parquet file name')
    
#     args = parser.parse_args()
    
#     cmd_ind = args.cmd
#     json_file_name = args.json
#     pq_file_name = args.pq
    
#     if cmd_ind == 'json2pq':
#         if json_file_name is None:
#             print("Please set the json file name by --json")
#             quit(0)
            
#         if pq_file_name is None:
#             print("Please set the pqrquet file name by --pq")
#             quit(0)
#         d = read_from_json_file(json_file_name)
        
#         jsonl_file_name = json_file_name.replace('.json','.jsonl')
        
#         with open(jsonl_file_name,'w') as f:
#             json.dump(d, f)
            
#         spark_write(spark, jsonl_file_name, pq_file_name)
#     elif cmd_ind == 'pq':
#         if pq_file_name is None:
#             print("Please set the pqrquet file name by --pq")
#             quit(0)
#         read_data_from_pq_file(spark,full_path_pq_file_name)
#     elif cmd_ind == 'pq2json':
#         if json_file_name is None:
#             print("Please set the json file name by --json")
#             quit(0)
            
#         if pq_file_name is None:
#             print("Please set the pqrquet file name by --pq")
#             quit(0)
            
#         pq_to_json_file(spark,pq_file_name,json_file_name)
        
#     elif cmd_ind== 'jsonprint':
#         if json_file_name is None:
#             print("Please set the json file name by --json")
#             quit(0)
            
#         spark_print_json(spark,json_file_name)
#     else:
#         print('invalid cmd command')
        
#     spark.stop()
    
    
# if __name__== '__main__':
#     main()
    
    
# spark-submit sp.py jsonprint --json final_flight_result_format_v1.1.json


# json_file_name = "D:\\Data Science\\pySpark\\test_schema\\final_flight_result_format_v1.1.json"
# jsonl_file_name = "C:\\s3\\20170503_jsonl\\flight_1_6.jsonl"
jsonl_file_name = "C:\\s3\\a3.json"

# d = read_from_json_file(json_file_name)

# jsonl_file_name = json_file_name.replace('.json','.jsonl')

# with open(jsonl_file_name,'w') as f:
#     json.dump(d, f)

# flight = spark.read.json(jsonl_file_name)

# df.createGlobalTempView("flight")

# spark.sql("SELECT fromCity,toCity,flight_leg1.departureTime, flight_leg1.departureLocation.airportLongName FROM global_temp.flight").show()
  
# flight.printSchema()

In [109]:
# flight.printSchema()
# flight.drop('airline_codes').repartition(1).write.format('com.databricks.spark.csv').save('C:\\s3\\20170503_jsonl\\flight_1_6.csv', header=True)

In [110]:
# flight.write.parquet("C:\\s3\\20170503_jsonl\\flight.parquet")

In [2]:
# flight = spark.read.parquet("C:\\s3\\20170503_jsonl\\flight.parquet")
flight = spark.read.parquet("/home/ubuntu/parquet/flight.parquet")

In [3]:
flight.count()

1862553

In [4]:
flight.printSchema()
flight.show(2,truncate=False)
display(flight.count())

root
 |-- airline_code: string (nullable = true)
 |-- airline_codes: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- arr_time: string (nullable = true)
 |-- check_bag_inc: boolean (nullable = true)
 |-- company: string (nullable = true)
 |-- dep_time: string (nullable = true)
 |-- duration: string (nullable = true)
 |-- flight_code: string (nullable = true)
 |-- flight_number: string (nullable = true)
 |-- from_city_name: string (nullable = true)
 |-- id: string (nullable = true)
 |-- index: long (nullable = true)
 |-- plane: string (nullable = true)
 |-- power: boolean (nullable = true)
 |-- price: double (nullable = true)
 |-- price_code: string (nullable = true)
 |-- search_date: string (nullable = true)
 |-- span_days: long (nullable = true)
 |-- start_date: string (nullable = true)
 |-- stay_days: string (nullable = true)
 |-- stop: long (nullable = true)
 |-- stop_info: string (nullable = true)
 |-- table_name: string (nullable = true)
 |-- task_id: string (nullable = true)
 |-- ticket_left: long (nullable = true)
 |-- to_city_name: string (nullable = true)
 |-- trip: string (nullable = true)
 |-- version: string (nullable = true)
 |-- video: boolean (nullable = true)
 |-- wifi: boolean (nullable = true)

+------------+-------------+-----------------------------+-------------+----------------+-----------------------------+--------+-----------+-------------+--------------+----+-----+-------------------------+-----+-------+----------+-----------+---------+----------+---------+----+-----------------+----------------+-------+-----------+------------+----+-------+-----+-----+
|airline_code|airline_codes|arr_time                     |check_bag_inc|company         |dep_time                     |duration|flight_code|flight_number|from_city_name|id  |index|plane                    |power|price  |price_code|search_date|span_days|start_date|stay_days|stop|stop_info        |table_name      |task_id|ticket_left|to_city_name|trip|version|video|wifi |
+------------+-------------+-----------------------------+-------------+----------------+-----------------------------+--------+-----------+-------------+--------------+----+-----+-------------------------+-----+-------+----------+-----------+---------+----------+---------+----+-----------------+----------------+-------+-----------+------------+----+-------+-----+-----+
|QF          |[QF]         |2017-04-05T19:20:00.000+08:00|false        |Qantas Airways  |2017-04-05T11:00:00.000+10:00|10h20m  |QF301      |301          |sydney        |null|12   |AIRBUS INDUSTRIE A330-200|false|1178.42|AUD       |2017-04-04 |0        |2017-04-05|0        |0   |                 |flight_1_6_price|901    |9          |shanghai    |1   |1.0    |true |false|
|VN          |[VN, VN]     |2017-04-06T14:25:00.000+08:00|false        |Vietnam Airlines|2017-04-05T14:15:00.000+10:00|26h10m  |VN786      |786          |sydney        |null|69   |Boeing 787               |false|1095.22|AUD       |2017-04-04 |0        |2017-04-05|0        |1   |Hanoi(HAN):13h35m|flight_1_6_price|901    |4          |shanghai    |1   |1.0    |false|false|
+------------+-------------+-----------------------------+-------------+----------------+-----------------------------+--------+-----------+-------------+--------------+----+-----+-------------------------+-----+-------+----------+-----------+---------+----------+---------+----+-----------------+----------------+-------+-----------+------------+----+-------+-----+-----+
only showing top 2 rows

1862553

In [113]:
# path_to_input = "D:\Data Science\pySpark\original_json"
# original_data = spark.read.json(sc.wholeTextFiles(path_to_input).values())

# original_data = sqlContext.read.json("D:\\Data Science\\pySpark\\original_json\\original_flight_info.txt")
# original_data.printSchema()

In [114]:
# import json
# from pprint import pprint

# # with open("D:\\Data Science\\pySpark\\original_json\\original_flight_info.txt") as data_file:    
# #     data = json.load(data_file)

# # pprint(data)
# # # data.head()

# df = spark.read.json("D:\\Data Science\\Flight v2\\python\\final_flight_result_format_v1.1.json")
# # Displays the content of the DataFrame to stdout
# df.show()

In [115]:
# flight = sc.textFile("C:\\s3_temp\\summary\\flat_table.csv").map(lambda line: (line.split(',')[5], line.split(',')[10])).collect()
# flight = sc.textFile("C:\\s3_temp\\summary\\flat_table.csv")
# flight = spark.read.csv("C:\\s3_temp\\summary\\flat_table.csv", header=True, mode="DROPMALFORMED")

# flight.cache()

In [116]:
# flight.repartition(1).write.format('com.databricks.spark.csv').save('D://Data Science//pySpark//test2.csv', header=True)

In [5]:
flight.first()

Row(airline_code='QF', airline_codes=['QF'], arr_time='2017-04-05T19:20:00.000+08:00', check_bag_inc=False, company='Qantas Airways', dep_time='2017-04-05T11:00:00.000+10:00', duration='10h20m', flight_code='QF301', flight_number='301', from_city_name='sydney', id=None, index=12, plane='AIRBUS INDUSTRIE A330-200', power=False, price=1178.42, price_code='AUD', search_date='2017-04-04', span_days=0, start_date='2017-04-05', stay_days='0', stop=0, stop_info='', table_name='flight_1_6_price', task_id='901', ticket_left=9, to_city_name='shanghai', trip='1', version='1.0', video=True, wifi=False)

In [9]:
# flight.rdd.takeSample(False, 3, 1234)

In [6]:
flight.dtypes

[('airline_code', 'string'),
 ('airline_codes', 'array<string>'),
 ('arr_time', 'string'),
 ('check_bag_inc', 'boolean'),
 ('company', 'string'),
 ('dep_time', 'string'),
 ('duration', 'string'),
 ('flight_code', 'string'),
 ('flight_number', 'string'),
 ('from_city_name', 'string'),
 ('id', 'string'),
 ('index', 'bigint'),
 ('plane', 'string'),
 ('power', 'boolean'),
 ('price', 'double'),
 ('price_code', 'string'),
 ('search_date', 'string'),
 ('span_days', 'bigint'),
 ('start_date', 'string'),
 ('stay_days', 'string'),
 ('stop', 'bigint'),
 ('stop_info', 'string'),
 ('table_name', 'string'),
 ('task_id', 'string'),
 ('ticket_left', 'bigint'),
 ('to_city_name', 'string'),
 ('trip', 'string'),
 ('version', 'string'),
 ('video', 'boolean'),
 ('wifi', 'boolean')]

In [7]:
# from pyspark.sql.functions import year, month, dayofmonth, hour, minute, weekofyear, crosstab
# flight2.select(year("arr_time").alias('year'), 
# from pyspark.sql.functions import regexp_extract, col, split
# # import re

# from pyspark.sql.functions import udf
# from pyspark.sql.types import IntegerType, StringType, BooleanType

def toBool(aString):
    if aString.lower() == 'true':
        return True
    else: 
        return False
 
udfToBool = udf(toBool, BooleanType())


def groupTicketLeft(aString):
    if aString == '0':
        return 'plenty'
    else: 
        return aString
 
udfGroupTicketLeft = udf(groupTicketLeft, StringType())

# def getMinutes(aString):
#     return minute(unix_timestamp(aString, "HH'h'mm'm'").cast("timestamp"))

# udfGetMinutes = udf(getMinutes, IntegerType())

# def getHours(x):
#   return re.match('([0-9]+(?=h))', x)
# getHours("14h")
# len(flight.columns)
# flight.columns
# flight.dtypes
flight2 = (flight.withColumn('search_date', flight.search_date.cast('timestamp'))
#           .withColumn('search_date_y', flight.search_date_y.cast('timestamp'))
#           .withColumnRenamed('search_date_y', 'search_date')
          .withColumn('stay_days', flight.stay_days.cast('int'))                                
           #create local time first
           .withColumn('dep_time_local', flight.dep_time.substr(1, 23).cast('timestamp'))                      
          .withColumn('dep_time', flight.dep_time.cast('timestamp'))
           #create local time first
          .withColumn('arr_time_local', flight.arr_time.substr(1, 23).cast('timestamp'))                      
          .withColumn('arr_time', flight.arr_time.cast('timestamp'))
           #duration           
           .withColumn('duration_h',split(flight.duration,'h').getItem(0))
           .withColumn('duration_m',split(flight.duration,'h').getItem(1))
           #stop info
           .withColumn('stop_info1',split(flight.stop_info,';').getItem(0))
           .withColumn('stop_info2',split(flight.stop_info,';').getItem(1))
#            .withColumn('druation_hours', 
#                        flight.selectExpr("duration", "regexp_extract(duration,'([0-9]+(?=h))', 1) as duration_hours")
#                        .duration_hours
#                        .cast('int'))
          .withColumn('start_date', flight.start_date.cast('date'))           
          .withColumn('price', flight.price.cast('double'))          
           # to correct the name
          .withColumnRenamed('check_bag_inc', 'check_bag_not_inc')
#           .withColumn('check_bag_not_inc', udfToBool(flight.check_bag_inc))
          .withColumn('power', flight.power.cast('boolean'))           
          .withColumn('video', flight.video.cast('boolean'))
          .withColumn('wifi', flight.wifi.cast('boolean'))           
          .withColumn('stop', flight.stop.cast('int')) 
          .withColumn('span_days', flight.span_days.cast('int'))           
           .withColumn('ticket_left', udfGroupTicketLeft(flight.ticket_left))
           .drop('search_date_x', 'check_bag_inc')
          )

flight2 = (flight2.withColumn('stop_loc1',split(flight2.stop_info1,':').getItem(0))
           .withColumn('stop_duration1',split(flight2.stop_info1, ':').getItem(1))
           .withColumn('stop_loc2',split(flight2.stop_info2,':').getItem(0))
           .withColumn('stop_duration2',split(flight2.stop_info2, ':').getItem(1)))

flight2 = (flight2.withColumn('stop_duration_h1',split(flight2.stop_duration1,'h').getItem(0))
           .withColumn('stop_duration_m1',split(flight2.stop_duration1,'h').getItem(1))
           .withColumn('stop_duration_h2',split(flight2.stop_duration2,'h').getItem(0))
           .withColumn('stop_duration_m2',split(flight2.stop_duration2,'h').getItem(1)))
# .withColumn('arr_time_zone', flight.arr_time.substr(24, 6))

In [121]:
# Define udf

def getMinutes(hString, minString):
    if (hString is not None) & (minString is not None): return int(hString) * 60 + int(minString[:-1])
    else: return None
#     if score >= 80: return 'A'
#     elif score >= 60: return 'B'
#     elif score >= 35: return 'C'
#     else: return 'D'
 
udfGetMinutes = udf(getMinutes, IntegerType())
flight2 = (flight2.withColumn("duration_minutes", udfGetMinutes("duration_h", "duration_m"))
                    .withColumn("stop1_minutes", udfGetMinutes("stop_duration_h1", "stop_duration_m1"))
                   .withColumn("stop2_minutes", udfGetMinutes("stop_duration_h2", "stop_duration_m2")))
                 
flight2.show(2)

+------------+-------------+--------------------+-----------------+----------------+--------------------+--------+-----------+-------------+--------------+----+-----+--------------------+-----+-------+----------+--------------------+---------+----------+---------+----+-----------------+----------------+-------+-----------+------------+----+-------+-----+-----+--------------------+--------------------+----------+----------+-----------------+----------+----------+--------------+---------+--------------+----------------+----------------+----------------+----------------+----------------+-------------+-------------+
|airline_code|airline_codes|            arr_time|check_bag_not_inc|         company|            dep_time|duration|flight_code|flight_number|from_city_name|  id|index|               plane|power|  price|price_code|         search_date|span_days|start_date|stay_days|stop|        stop_info|      table_name|task_id|ticket_left|to_city_name|trip|version|video| wifi|      dep_time_local|      arr_time_local|duration_h|duration_m|       stop_info1|stop_info2| stop_loc1|stop_duration1|stop_loc2|stop_duration2|stop_duration_h1|stop_duration_m1|stop_duration_h2|stop_duration_m2|duration_minutes|stop1_minutes|stop2_minutes|
+------------+-------------+--------------------+-----------------+----------------+--------------------+--------+-----------+-------------+--------------+----+-----+--------------------+-----+-------+----------+--------------------+---------+----------+---------+----+-----------------+----------------+-------+-----------+------------+----+-------+-----+-----+--------------------+--------------------+----------+----------+-----------------+----------+----------+--------------+---------+--------------+----------------+----------------+----------------+----------------+----------------+-------------+-------------+
|          QF|         [QF]|2017-04-05 21:20:...|            false|  Qantas Airways|2017-04-05 11:00:...|  10h20m|      QF301|          301|        sydney|null|   12|AIRBUS INDUSTRIE ...|false|1178.42|       AUD|2017-04-04 00:00:...|        0|2017-04-05|        0|   0|                 |flight_1_6_price|    901|          9|    shanghai|   1|    1.0| true|false|2017-04-05 11:00:...|2017-04-05 19:20:...|        10|       20m|                 |      null|          |          null|     null|          null|            null|            null|            null|            null|             620|         null|         null|
|          VN|     [VN, VN]|2017-04-06 16:25:...|            false|Vietnam Airlines|2017-04-05 14:15:...|  26h10m|      VN786|          786|        sydney|null|   69|          Boeing 787|false|1095.22|       AUD|2017-04-04 00:00:...|        0|2017-04-05|        0|   1|Hanoi(HAN):13h35m|flight_1_6_price|    901|          4|    shanghai|   1|    1.0|false|false|2017-04-05 14:15:...|2017-04-06 14:25:...|        26|       10m|Hanoi(HAN):13h35m|      null|Hanoi(HAN)|        13h35m|     null|          null|              13|             35m|            null|            null|            1570|          815|         null|
+------------+-------------+--------------------+-----------------+----------------+--------------------+--------+-----------+-------------+--------------+----+-----+--------------------+-----+-------+----------+--------------------+---------+----------+---------+----+-----------------+----------------+-------+-----------+------------+----+-------+-----+-----+--------------------+--------------------+----------+----------+-----------------+----------+----------+--------------+---------+--------------+----------------+----------------+----------------+----------------+----------------+-------------+-------------+
only showing top 2 rows

In [13]:
# flight2.groupby('search_date', 'from_city_name', 'to_city_name', 'trip').count().show()
# flight2.groupby('table_name').count().show()
flight2.groupby('stop_info', 
                'stop_info1', 'stop_loc1', 
                'stop_duration1', 'stop_duration_h1', 'stop_duration_m1',
                'stop_info2', 'stop_loc2', 
                'stop_duration2',  'stop_duration_h2', 'stop_duration_m2').count().show(500, truncate=False)
# flight2.groupby('stop_duration1').count().show()

Py4JJavaError: An error occurred while calling o286.showString.
: org.apache.spark.SparkException: Job aborted due to stage failure: Task 0 in stage 8.0 failed 1 times, most recent failure: Lost task 0.0 in stage 8.0 (TID 6, localhost, executor driver): java.lang.RuntimeException: file:/home/ubuntu/flight.parquet/part-00008-f2da479a-50b6-4ead-9188-97fc7359de20.snappy.parquet is not a Parquet file. expected magic number at tail [80, 65, 82, 49] but found [0, 33, 32, 33]
	at org.apache.parquet.hadoop.ParquetFileReader.readFooter(ParquetFileReader.java:423)
	at org.apache.parquet.hadoop.ParquetFileReader.readFooter(ParquetFileReader.java:386)
	at org.apache.spark.sql.execution.datasources.parquet.SpecificParquetRecordReaderBase.initialize(SpecificParquetRecordReaderBase.java:107)
	at org.apache.spark.sql.execution.datasources.parquet.VectorizedParquetRecordReader.initialize(VectorizedParquetRecordReader.java:109)
	at org.apache.spark.sql.execution.datasources.parquet.ParquetFileFormat$$anonfun$buildReader$1.apply(ParquetFileFormat.scala:381)
	at org.apache.spark.sql.execution.datasources.parquet.ParquetFileFormat$$anonfun$buildReader$1.apply(ParquetFileFormat.scala:355)
	at org.apache.spark.sql.execution.datasources.FileScanRDD$$anon$1.nextIterator(FileScanRDD.scala:168)
	at org.apache.spark.sql.execution.datasources.FileScanRDD$$anon$1.hasNext(FileScanRDD.scala:109)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIterator.scan_nextBatch$(Unknown Source)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIterator.agg_doAggregateWithKeys$(Unknown Source)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIterator.processNext(Unknown Source)
	at org.apache.spark.sql.execution.BufferedRowIterator.hasNext(BufferedRowIterator.java:43)
	at org.apache.spark.sql.execution.WholeStageCodegenExec$$anonfun$8$$anon$1.hasNext(WholeStageCodegenExec.scala:377)
	at scala.collection.Iterator$$anon$11.hasNext(Iterator.scala:408)
	at org.apache.spark.shuffle.sort.BypassMergeSortShuffleWriter.write(BypassMergeSortShuffleWriter.java:126)
	at org.apache.spark.scheduler.ShuffleMapTask.runTask(ShuffleMapTask.scala:96)
	at org.apache.spark.scheduler.ShuffleMapTask.runTask(ShuffleMapTask.scala:53)
	at org.apache.spark.scheduler.Task.run(Task.scala:99)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:322)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1142)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:617)
	at java.lang.Thread.run(Thread.java:748)

Driver stacktrace:
	at org.apache.spark.scheduler.DAGScheduler.org$apache$spark$scheduler$DAGScheduler$$failJobAndIndependentStages(DAGScheduler.scala:1435)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$abortStage$1.apply(DAGScheduler.scala:1423)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$abortStage$1.apply(DAGScheduler.scala:1422)
	at scala.collection.mutable.ResizableArray$class.foreach(ResizableArray.scala:59)
	at scala.collection.mutable.ArrayBuffer.foreach(ArrayBuffer.scala:48)
	at org.apache.spark.scheduler.DAGScheduler.abortStage(DAGScheduler.scala:1422)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$handleTaskSetFailed$1.apply(DAGScheduler.scala:802)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$handleTaskSetFailed$1.apply(DAGScheduler.scala:802)
	at scala.Option.foreach(Option.scala:257)
	at org.apache.spark.scheduler.DAGScheduler.handleTaskSetFailed(DAGScheduler.scala:802)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.doOnReceive(DAGScheduler.scala:1650)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:1605)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:1594)
	at org.apache.spark.util.EventLoop$$anon$1.run(EventLoop.scala:48)
	at org.apache.spark.scheduler.DAGScheduler.runJob(DAGScheduler.scala:628)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:1925)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:1938)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:1951)
	at org.apache.spark.sql.execution.SparkPlan.executeTake(SparkPlan.scala:333)
	at org.apache.spark.sql.execution.CollectLimitExec.executeCollect(limit.scala:38)
	at org.apache.spark.sql.Dataset$$anonfun$org$apache$spark$sql$Dataset$$execute$1$1.apply(Dataset.scala:2386)
	at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:57)
	at org.apache.spark.sql.Dataset.withNewExecutionId(Dataset.scala:2788)
	at org.apache.spark.sql.Dataset.org$apache$spark$sql$Dataset$$execute$1(Dataset.scala:2385)
	at org.apache.spark.sql.Dataset.org$apache$spark$sql$Dataset$$collect(Dataset.scala:2392)
	at org.apache.spark.sql.Dataset$$anonfun$head$1.apply(Dataset.scala:2128)
	at org.apache.spark.sql.Dataset$$anonfun$head$1.apply(Dataset.scala:2127)
	at org.apache.spark.sql.Dataset.withTypedCallback(Dataset.scala:2818)
	at org.apache.spark.sql.Dataset.head(Dataset.scala:2127)
	at org.apache.spark.sql.Dataset.take(Dataset.scala:2342)
	at org.apache.spark.sql.Dataset.showString(Dataset.scala:248)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.lang.reflect.Method.invoke(Method.java:498)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:280)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.GatewayConnection.run(GatewayConnection.java:214)
	at java.lang.Thread.run(Thread.java:748)
Caused by: java.lang.RuntimeException: file:/home/ubuntu/flight.parquet/part-00008-f2da479a-50b6-4ead-9188-97fc7359de20.snappy.parquet is not a Parquet file. expected magic number at tail [80, 65, 82, 49] but found [0, 33, 32, 33]
	at org.apache.parquet.hadoop.ParquetFileReader.readFooter(ParquetFileReader.java:423)
	at org.apache.parquet.hadoop.ParquetFileReader.readFooter(ParquetFileReader.java:386)
	at org.apache.spark.sql.execution.datasources.parquet.SpecificParquetRecordReaderBase.initialize(SpecificParquetRecordReaderBase.java:107)
	at org.apache.spark.sql.execution.datasources.parquet.VectorizedParquetRecordReader.initialize(VectorizedParquetRecordReader.java:109)
	at org.apache.spark.sql.execution.datasources.parquet.ParquetFileFormat$$anonfun$buildReader$1.apply(ParquetFileFormat.scala:381)
	at org.apache.spark.sql.execution.datasources.parquet.ParquetFileFormat$$anonfun$buildReader$1.apply(ParquetFileFormat.scala:355)
	at org.apache.spark.sql.execution.datasources.FileScanRDD$$anon$1.nextIterator(FileScanRDD.scala:168)
	at org.apache.spark.sql.execution.datasources.FileScanRDD$$anon$1.hasNext(FileScanRDD.scala:109)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIterator.scan_nextBatch$(Unknown Source)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIterator.agg_doAggregateWithKeys$(Unknown Source)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIterator.processNext(Unknown Source)
	at org.apache.spark.sql.execution.BufferedRowIterator.hasNext(BufferedRowIterator.java:43)
	at org.apache.spark.sql.execution.WholeStageCodegenExec$$anonfun$8$$anon$1.hasNext(WholeStageCodegenExec.scala:377)
	at scala.collection.Iterator$$anon$11.hasNext(Iterator.scala:408)
	at org.apache.spark.shuffle.sort.BypassMergeSortShuffleWriter.write(BypassMergeSortShuffleWriter.java:126)
	at org.apache.spark.scheduler.ShuffleMapTask.runTask(ShuffleMapTask.scala:96)
	at org.apache.spark.scheduler.ShuffleMapTask.runTask(ShuffleMapTask.scala:53)
	at org.apache.spark.scheduler.Task.run(Task.scala:99)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:322)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1142)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:617)
	... 1 more

In [14]:
flight2.dtypes

[('airline_code', 'string'),
 ('airline_codes', 'array<string>'),
 ('arr_time', 'timestamp'),
 ('check_bag_not_inc', 'boolean'),
 ('company', 'string'),
 ('dep_time', 'timestamp'),
 ('duration', 'string'),
 ('flight_code', 'string'),
 ('flight_number', 'string'),
 ('from_city_name', 'string'),
 ('id', 'string'),
 ('index', 'bigint'),
 ('plane', 'string'),
 ('power', 'boolean'),
 ('price', 'double'),
 ('price_code', 'string'),
 ('search_date', 'timestamp'),
 ('span_days', 'int'),
 ('start_date', 'date'),
 ('stay_days', 'int'),
 ('stop', 'int'),
 ('stop_info', 'string'),
 ('table_name', 'string'),
 ('task_id', 'string'),
 ('ticket_left', 'string'),
 ('to_city_name', 'string'),
 ('trip', 'string'),
 ('version', 'string'),
 ('video', 'boolean'),
 ('wifi', 'boolean'),
 ('dep_time_local', 'timestamp'),
 ('arr_time_local', 'timestamp'),
 ('duration_h', 'string'),
 ('duration_m', 'string'),
 ('stop_info1', 'string'),
 ('stop_info2', 'string'),
 ('stop_loc1', 'string'),
 ('stop_duration1', 'string'),
 ('stop_loc2', 'string'),
 ('stop_duration2', 'string'),
 ('stop_duration_h1', 'string'),
 ('stop_duration_m1', 'string'),
 ('stop_duration_h2', 'string'),
 ('stop_duration_m2', 'string')]

In [ ]:
# flight2 = flight2.drop('stop_duration_h1', 'stop_duration_m1', 'stop_duration_h2', 'stop_duration_m2',
#                       'stop_duration1', 'stop_duration2',
#                       'duration_h', 'duration_m', 
#                        'stop_info', 'stop_info1', 'stop_info2')
# display(flight2.show(2))
# display(flight2.dtypes)

In [15]:
flight2.show(2)

+------------+-------------+--------------------+-----------------+----------------+--------------------+--------+-----------+-------------+--------------+----+-----+--------------------+-----+-------+----------+--------------------+---------+----------+---------+----+-----------------+----------------+-------+-----------+------------+----+-------+-----+-----+--------------------+--------------------+----------+----------+-----------------+----------+----------+--------------+---------+--------------+----------------+----------------+----------------+----------------+
|airline_code|airline_codes|            arr_time|check_bag_not_inc|         company|            dep_time|duration|flight_code|flight_number|from_city_name|  id|index|               plane|power|  price|price_code|         search_date|span_days|start_date|stay_days|stop|        stop_info|      table_name|task_id|ticket_left|to_city_name|trip|version|video| wifi|      dep_time_local|      arr_time_local|duration_h|duration_m|       stop_info1|stop_info2| stop_loc1|stop_duration1|stop_loc2|stop_duration2|stop_duration_h1|stop_duration_m1|stop_duration_h2|stop_duration_m2|
+------------+-------------+--------------------+-----------------+----------------+--------------------+--------+-----------+-------------+--------------+----+-----+--------------------+-----+-------+----------+--------------------+---------+----------+---------+----+-----------------+----------------+-------+-----------+------------+----+-------+-----+-----+--------------------+--------------------+----------+----------+-----------------+----------+----------+--------------+---------+--------------+----------------+----------------+----------------+----------------+
|          QF|         [QF]|2017-04-05 11:20:...|            false|  Qantas Airways|2017-04-05 01:00:...|  10h20m|      QF301|          301|        sydney|null|   12|AIRBUS INDUSTRIE ...|false|1178.42|       AUD|2017-04-04 00:00:...|        0|2017-04-05|        0|   0|                 |flight_1_6_price|    901|          9|    shanghai|   1|    1.0| true|false|2017-04-05 11:00:...|2017-04-05 19:20:...|        10|       20m|                 |      null|          |          null|     null|          null|            null|            null|            null|            null|
|          VN|     [VN, VN]|2017-04-06 06:25:...|            false|Vietnam Airlines|2017-04-05 04:15:...|  26h10m|      VN786|          786|        sydney|null|   69|          Boeing 787|false|1095.22|       AUD|2017-04-04 00:00:...|        0|2017-04-05|        0|   1|Hanoi(HAN):13h35m|flight_1_6_price|    901|          4|    shanghai|   1|    1.0|false|false|2017-04-05 14:15:...|2017-04-06 14:25:...|        26|       10m|Hanoi(HAN):13h35m|      null|Hanoi(HAN)|        13h35m|     null|          null|              13|             35m|            null|            null|
+------------+-------------+--------------------+-----------------+----------------+--------------------+--------+-----------+-------------+--------------+----+-----+--------------------+-----+-------+----------+--------------------+---------+----------+---------+----+-----------------+----------------+-------+-----------+------------+----+-------+-----+-----+--------------------+--------------------+----------+----------+-----------------+----------+----------+--------------+---------+--------------+----------------+----------------+----------------+----------------+
only showing top 2 rows

In [16]:
def groupTime(dt):
    h = dt.hour
    if h < 5 : return 'early morning'    
    elif h < 12 : return 'morning'
    elif h < 18 : return 'afternoon'    
    else: return 'evening'
#     if h >= 18 or h < 7 : return 'night'    
#     elif 7 <= h < 12 : return 'morning'
#     elif 12 <= h < 18 : return 'afternoon'    
#     else: return 'error'
    
    
udfGroupTime = udf(groupTime, StringType())
flight2 = flight2.withColumn("arr_time_group", udfGroupTime("arr_time_local")) \
                .withColumn("dep_time_group", udfGroupTime("dep_time_local"))              
flight2.cache()

DataFrame[airline_code: string, airline_codes: array<string>, arr_time: timestamp, check_bag_not_inc: boolean, company: string, dep_time: timestamp, duration: string, flight_code: string, flight_number: string, from_city_name: string, id: string, index: bigint, plane: string, power: boolean, price: double, price_code: string, search_date: timestamp, span_days: int, start_date: date, stay_days: int, stop: int, stop_info: string, table_name: string, task_id: string, ticket_left: string, to_city_name: string, trip: string, version: string, video: boolean, wifi: boolean, dep_time_local: timestamp, arr_time_local: timestamp, duration_h: string, duration_m: string, stop_info1: string, stop_info2: string, stop_loc1: string, stop_duration1: string, stop_loc2: string, stop_duration2: string, stop_duration_h1: string, stop_duration_m1: string, stop_duration_h2: string, stop_duration_m2: string, arr_time_group: string, dep_time_group: string]

In [ ]:
import pyspark.sql.functions as F

# flight2.select("dep_time_local", "dep_time_group", "arr_time_local", "arr_time_group").show(10)
#flight2.describe(['price']).show()# groupBy("dep_time_group", "arr_time_group")
# flight2.freqItems(flight2.trip)
# flight2.groupby(flight2.trip, flight2.stay_days, flight.dep_time_group).agg(func.mean('price')).show()
# flight2.groupby(flight2.trip, flight2.dep_time_group).agg(func.mean('price')).orderBy(['trip', 'avg(price)'], ascending=[1, 0]).show()
# flight2.groupby(flight2.trip, flight2.company).agg(F.mean('price'), F.stddev('price'), F.max('price'), F.min('price')).orderBy(['trip', 'stddev_samp(price)'], ascending=[1, 0]).show(10000)
flight2.filter(flight2.price <= 0).count() / flight2.count()

# drop rows with zero price
flight2 = flight2.filter(flight2.price > 0)

In [ ]:
# duration_test.select(trim(col("duration"))).show()
# df
# .withColumn('Created-formatted',when((df.Created.isNull() | (df.Created == '')) ,'0')
# .otherwise(unix_timestamp(df.Created,'yyyy-MM-dd')))

duration_test = flight2.select("stop_duration1")
duration_test.show()

duration_test.withColumn('duration_h', when(duration_test.stop_duration1.isNull(), None)
                          .otherwise(hour(unix_timestamp(duration_test.stop_duration1,"HH'h'mm'm'").cast("timestamp")))).show(20)          
    
#     .withColumn('duration_m', minute(unix_timestamp(duration_test.duration,"HH'h'mm'm'").cast("timestamp")))).show(2)


# duration_test.withColumn('duration2',when((duration_test.duration.isNull() | (duration_test.duration == '')) , 0)\
#   .otherwise(unix_timestamp(duration_test.duration,"HH'h'mm'm'").cast("timestamp"))).show(2)

In [129]:
# from datetime import date

# import holidays

# us_holidays = holidays.UnitedStates()  # or holidays.US()

# date(2015, 1, 1) in us_holidays  # True
# date(2020, 12, 25) in us_holidays  # False

# # print(us_holidays)


# for date, name in sorted(holidays.AU(state='NSW', years=2017).items()):
#      print(date, name)
        
# for date, name in sorted(holidays.NZ(state='AUK', years=2017).items()):
#      print(date, name)

In [130]:


# # The Holiday class will also recognize strings of any format
# # and int/float representing a Unix timestamp
# '2014-01-01' in us_holidays  # True
# '1/1/2014' in us_holidays    # True
# 1388597445 in us_holidays    # True

# us_holidays.get('2014-01-01')  # "New Year's Day"

# # Easily create custom Holiday objects with your own dates instead
# # of using the pre-defined countries/states/provinces available
# custom_holidays = holidays.HolidayBase()
# # Append custom holiday dates by passing:
# # 1) a dict with date/name key/value pairs,
# custom_holidays.append({"2015-01-01": "New Year's Day"})
# # 2) a list of dates (in any format: date, datetime, string, integer),
# custom_holidays.append(['2015-07-01', '07/04/2015'])
# # 3) a single date item
# custom_holidays.append(date(2015, 12, 25))

# date(2015, 1, 1) in custom_holidays  # True
# date(2015, 1, 2) in custom_holidays  # False
# '12/25/2015' in custom_holidays      # True

# # For more complex logic like 4th Monday of January, you can inherit the
# # HolidayBase class and define your own _populate(year) method. See below
# # documentation for examples.

In [131]:
# from datetime import date
# from workalendar.europe import France
# cal = France()
# cal.holidays(2017)

In [132]:
# flight2.show(2)
flight3 = flight2


def getWeekday(dt):
    return dt.weekday()
    
def getWeeknumber(dt):
    return dt.isocalendar()[1]

    
udfGetWeekday = udf(getWeekday, StringType())
udfGetWeeknumber = udf(getWeeknumber, IntegerType())

flight3 = flight3.withColumn("dep_weekday", udfGetWeekday("start_date")) \
                .withColumn("dep_weeknum", udfGetWeeknumber("start_date")) \
                .withColumn("lead_time", datediff(flight3.start_date, flight3.search_date)) 
#                 .drop('start_date', 'search_date')

flight3.show(2)
display(flight2.count(), flight3.count())
flight3.describe('lead_time').show()

+------------+-------------+--------------------+-----------------+----------------+--------------------+--------+-----------+-------------+--------------+----+-----+--------------------+-----+-------+----------+--------------------+---------+----------+---------+----+-----------------+----------------+-------+-----------+------------+----+-------+-----+-----+--------------------+--------------------+----------+----------+-----------------+----------+----------+--------------+---------+--------------+----------------+----------------+----------------+----------------+----------------+-------------+-------------+--------------+--------------+-----------+-----------+---------+
|airline_code|airline_codes|            arr_time|check_bag_not_inc|         company|            dep_time|duration|flight_code|flight_number|from_city_name|  id|index|               plane|power|  price|price_code|         search_date|span_days|start_date|stay_days|stop|        stop_info|      table_name|task_id|ticket_left|to_city_name|trip|version|video| wifi|      dep_time_local|      arr_time_local|duration_h|duration_m|       stop_info1|stop_info2| stop_loc1|stop_duration1|stop_loc2|stop_duration2|stop_duration_h1|stop_duration_m1|stop_duration_h2|stop_duration_m2|duration_minutes|stop1_minutes|stop2_minutes|arr_time_group|dep_time_group|dep_weekday|dep_weeknum|lead_time|
+------------+-------------+--------------------+-----------------+----------------+--------------------+--------+-----------+-------------+--------------+----+-----+--------------------+-----+-------+----------+--------------------+---------+----------+---------+----+-----------------+----------------+-------+-----------+------------+----+-------+-----+-----+--------------------+--------------------+----------+----------+-----------------+----------+----------+--------------+---------+--------------+----------------+----------------+----------------+----------------+----------------+-------------+-------------+--------------+--------------+-----------+-----------+---------+
|          QF|         [QF]|2017-04-05 21:20:...|            false|  Qantas Airways|2017-04-05 11:00:...|  10h20m|      QF301|          301|        sydney|null|   12|AIRBUS INDUSTRIE ...|false|1178.42|       AUD|2017-04-04 00:00:...|        0|2017-04-05|        0|   0|                 |flight_1_6_price|    901|          9|    shanghai|   1|    1.0| true|false|2017-04-05 11:00:...|2017-04-05 19:20:...|        10|       20m|                 |      null|          |          null|     null|          null|            null|            null|            null|            null|             620|         null|         null|       evening|       morning|          2|         14|        1|
|          VN|     [VN, VN]|2017-04-06 16:25:...|            false|Vietnam Airlines|2017-04-05 14:15:...|  26h10m|      VN786|          786|        sydney|null|   69|          Boeing 787|false|1095.22|       AUD|2017-04-04 00:00:...|        0|2017-04-05|        0|   1|Hanoi(HAN):13h35m|flight_1_6_price|    901|          4|    shanghai|   1|    1.0|false|false|2017-04-05 14:15:...|2017-04-06 14:25:...|        26|       10m|Hanoi(HAN):13h35m|      null|Hanoi(HAN)|        13h35m|     null|          null|              13|             35m|            null|            null|            1570|          815|         null|     afternoon|     afternoon|          2|         14|        1|
+------------+-------------+--------------------+-----------------+----------------+--------------------+--------+-----------+-------------+--------------+----+-----+--------------------+-----+-------+----------+--------------------+---------+----------+---------+----+-----------------+----------------+-------+-----------+------------+----+-------+-----+-----+--------------------+--------------------+----------+----------+-----------------+----------+----------+--------------+---------+--------------+----------------+----------------+----------------+----------------+----------------+-------------+-------------+--------------+--------------+-----------+-----------+---------+
only showing top 2 rows

1835752

1835752

+-------+------------------+
|summary|         lead_time|
+-------+------------------+
|  count|           1835752|
|   mean| 90.30425950782023|
| stddev|51.508851575859815|
|    min|                 1|
|    max|               180|
+-------+------------------+

In [133]:
flight3.show(5)
flight3.dtypes

+------------+-------------+--------------------+-----------------+--------------------+--------------------+--------+-----------+-------------+--------------+----+-----+--------------------+-----+-------+----------+--------------------+---------+----------+---------+----+--------------------+----------------+-------+-----------+------------+----+-------+-----+-----+--------------------+--------------------+----------+----------+--------------------+----------+--------------+--------------+---------+--------------+----------------+----------------+----------------+----------------+----------------+-------------+-------------+--------------+--------------+-----------+-----------+---------+
|airline_code|airline_codes|            arr_time|check_bag_not_inc|             company|            dep_time|duration|flight_code|flight_number|from_city_name|  id|index|               plane|power|  price|price_code|         search_date|span_days|start_date|stay_days|stop|           stop_info|      table_name|task_id|ticket_left|to_city_name|trip|version|video| wifi|      dep_time_local|      arr_time_local|duration_h|duration_m|          stop_info1|stop_info2|     stop_loc1|stop_duration1|stop_loc2|stop_duration2|stop_duration_h1|stop_duration_m1|stop_duration_h2|stop_duration_m2|duration_minutes|stop1_minutes|stop2_minutes|arr_time_group|dep_time_group|dep_weekday|dep_weeknum|lead_time|
+------------+-------------+--------------------+-----------------+--------------------+--------------------+--------+-----------+-------------+--------------+----+-----+--------------------+-----+-------+----------+--------------------+---------+----------+---------+----+--------------------+----------------+-------+-----------+------------+----+-------+-----+-----+--------------------+--------------------+----------+----------+--------------------+----------+--------------+--------------+---------+--------------+----------------+----------------+----------------+----------------+----------------+-------------+-------------+--------------+--------------+-----------+-----------+---------+
|          QF|         [QF]|2017-04-05 21:20:...|            false|      Qantas Airways|2017-04-05 11:00:...|  10h20m|      QF301|          301|        sydney|null|   12|AIRBUS INDUSTRIE ...|false|1178.42|       AUD|2017-04-04 00:00:...|        0|2017-04-05|        0|   0|                    |flight_1_6_price|    901|          9|    shanghai|   1|    1.0| true|false|2017-04-05 11:00:...|2017-04-05 19:20:...|        10|       20m|                    |      null|              |          null|     null|          null|            null|            null|            null|            null|             620|         null|         null|       evening|       morning|          2|         14|        1|
|          VN|     [VN, VN]|2017-04-06 16:25:...|            false|    Vietnam Airlines|2017-04-05 14:15:...|  26h10m|      VN786|          786|        sydney|null|   69|          Boeing 787|false|1095.22|       AUD|2017-04-04 00:00:...|        0|2017-04-05|        0|   1|   Hanoi(HAN):13h35m|flight_1_6_price|    901|          4|    shanghai|   1|    1.0|false|false|2017-04-05 14:15:...|2017-04-06 14:25:...|        26|       10m|   Hanoi(HAN):13h35m|      null|    Hanoi(HAN)|        13h35m|     null|          null|              13|             35m|            null|            null|            1570|          815|         null|     afternoon|     afternoon|          2|         14|        1|
|          CZ|     [CZ, CZ]|2017-04-06 14:25:...|            false|China Southern Ai...|2017-04-05 21:45:...|  16h40m|      CZ302|          302|        sydney|null|   20|         Airbus A330|false|1279.32|       AUD|2017-04-04 00:00:...|        0|2017-04-05|        0|   1|Guangzhou(CAN):4h35m|flight_1_6_price|    901|          1|    shanghai|   1|    1.0|false|false|2017-04-05 21:45:...|2017-04-06 12:25:...|        16|       40m|Guangzhou(CAN):4h35m|      null|Guangzhou(CAN)|         4h35m|     null|          null|               4|             35m|            null|            null|            1000|          275|         null|     afternoon|       evening|          2|         14|        1|
|          QF|     [QF, CA]|2017-04-06 09:15:...|            false|      Qantas Airways|2017-04-05 13:15:...|   20h0m|      QF147|          147|        sydney|null|   49|BOEING 737-800 (W...|false|2233.52|       AUD|2017-04-04 00:00:...|        0|2017-04-05|        0|   1| Auckland(AKL):4h35m|flight_1_6_price|    901|          9|    shanghai|   1|    1.0|false|false|2017-04-05 13:15:...|2017-04-06 07:15:...|        20|        0m| Auckland(AKL):4h35m|      null| Auckland(AKL)|         4h35m|     null|          null|               4|             35m|            null|            null|            1200|          275|         null|       morning|     afternoon|          2|         14|        1|
|          CZ|     [CZ, FM]|2017-04-06 12:50:...|            false|China Southern Ai...|2017-04-05 21:45:...|   15h5m|      CZ302|          302|        sydney|null|   80|         Airbus A330|false|1722.32|       AUD|2017-04-04 00:00:...|        0|2017-04-05|        0|   1| Guangzhou(CAN):3h5m|flight_1_6_price|    901|          1|    shanghai|   1|    1.0|false|false|2017-04-05 21:45:...|2017-04-06 10:50:...|        15|        5m| Guangzhou(CAN):3h5m|      null|Guangzhou(CAN)|          3h5m|     null|          null|               3|              5m|            null|            null|             905|          185|         null|       morning|       evening|          2|         14|        1|
+------------+-------------+--------------------+-----------------+--------------------+--------------------+--------+-----------+-------------+--------------+----+-----+--------------------+-----+-------+----------+--------------------+---------+----------+---------+----+--------------------+----------------+-------+-----------+------------+----+-------+-----+-----+--------------------+--------------------+----------+----------+--------------------+----------+--------------+--------------+---------+--------------+----------------+----------------+----------------+----------------+----------------+-------------+-------------+--------------+--------------+-----------+-----------+---------+
only showing top 5 rows

[('airline_code', 'string'),
 ('airline_codes', 'array<string>'),
 ('arr_time', 'timestamp'),
 ('check_bag_not_inc', 'boolean'),
 ('company', 'string'),
 ('dep_time', 'timestamp'),
 ('duration', 'string'),
 ('flight_code', 'string'),
 ('flight_number', 'string'),
 ('from_city_name', 'string'),
 ('id', 'string'),
 ('index', 'bigint'),
 ('plane', 'string'),
 ('power', 'boolean'),
 ('price', 'double'),
 ('price_code', 'string'),
 ('search_date', 'timestamp'),
 ('span_days', 'int'),
 ('start_date', 'date'),
 ('stay_days', 'int'),
 ('stop', 'int'),
 ('stop_info', 'string'),
 ('table_name', 'string'),
 ('task_id', 'string'),
 ('ticket_left', 'string'),
 ('to_city_name', 'string'),
 ('trip', 'string'),
 ('version', 'string'),
 ('video', 'boolean'),
 ('wifi', 'boolean'),
 ('dep_time_local', 'timestamp'),
 ('arr_time_local', 'timestamp'),
 ('duration_h', 'string'),
 ('duration_m', 'string'),
 ('stop_info1', 'string'),
 ('stop_info2', 'string'),
 ('stop_loc1', 'string'),
 ('stop_duration1', 'string'),
 ('stop_loc2', 'string'),
 ('stop_duration2', 'string'),
 ('stop_duration_h1', 'string'),
 ('stop_duration_m1', 'string'),
 ('stop_duration_h2', 'string'),
 ('stop_duration_m2', 'string'),
 ('duration_minutes', 'int'),
 ('stop1_minutes', 'int'),
 ('stop2_minutes', 'int'),
 ('arr_time_group', 'string'),
 ('dep_time_group', 'string'),
 ('dep_weekday', 'string'),
 ('dep_weeknum', 'int'),
 ('lead_time', 'int')]

get distance to nearest holiday: http://stackoverflow.com/questions/40752378/spark-sql-distance-to-nearest-holiday

In [134]:


# datetime.datetime('2017-09-01')
# date1 = datetime.datetime.strptime("2015-01-30", "%Y-%m-%d").strftime("%d-%m-%Y")
# print(date1)
# start_date_test = flight3.select("start_date").distinct()
flight3 = flight3.withColumn("start_date_str", flight3.start_date.cast('string'))

holidays = ['2017-01-01', '2017-01-02', '2017-01-27', '2017-01-28',
            '2017-01-29', '2017-01-30', '2017-01-31', '2017-02-01', '2017-02-02',
            '2017-04-02', '2017-04-03', '2017-04-04',
            '2017-05-01', '2017-05-28', '2017-05-29', '2017-05-30',
            '2017-10-01', '2017-10-02', '2017-10-03', '2017-10-04', '217-10-05', '2017-10-06']
 

index = spark.sparkContext.broadcast(sorted(holidays))

def last_holiday(date):
    last_holiday = index.value[0]
    for next_holiday in index.value:
        if next_holiday >= date:
            break
        last_holiday = next_holiday
    if last_holiday > date:
        last_holiday = None
    if next_holiday < date:
        next_holiday = None        
    return last_holiday

def next_holiday(date):
    last_holiday = index.value[0]
    for next_holiday in index.value:
        if next_holiday >= date:
            break
        last_holiday = next_holiday
    if last_holiday > date:
        last_holiday = None
    if next_holiday < date:
        next_holiday = None        
    return next_holiday


# return_type = StructType([StructField('last_holiday', StringType()), StructField('next_holiday', StringType())])

last_holiday_udf = udf(last_holiday, StringType())
next_holiday_udf = udf(next_holiday, StringType())

flight4 = flight3.withColumn('last_holiday', last_holiday_udf('start_date_str'))
flight4 = flight4.withColumn('next_holiday', next_holiday_udf('start_date_str'))
flight4 = flight4.withColumn('days_to_last_holiday', datediff('last_holiday', 'start_date_str'))
flight4 = flight4.withColumn('days_to_next_holiday', datediff('next_holiday', 'start_date_str'))

In [135]:
(flight4
    .select('days_to_last_holiday', 'days_to_next_holiday', 'last_holiday', 'next_holiday', 'start_date')    
    .distinct().show())

+--------------------+--------------------+------------+------------+----------+
|days_to_last_holiday|days_to_next_holiday|last_holiday|next_holiday|start_date|
+--------------------+--------------------+------------+------------+----------+
|                 -40|                  84|  2017-05-30|  2017-10-01|2017-07-09|
|                 -17|                  10|  2017-04-04|  2017-05-01|2017-04-21|
|                  -8|                  19|  2017-04-04|  2017-05-01|2017-04-12|
|                 -34|                  90|  2017-05-30|  2017-10-01|2017-07-03|
|                 -22|                 102|  2017-05-30|  2017-10-01|2017-06-21|
|                 -70|                  54|  2017-05-30|  2017-10-01|2017-08-08|
|                 -75|                  49|  2017-05-30|  2017-10-01|2017-08-13|
|                 -28|                  96|  2017-05-30|  2017-10-01|2017-06-27|
|                 -16|                  11|  2017-04-04|  2017-05-01|2017-04-20|
|                 -12|                  15|  2017-05-01|  2017-05-28|2017-05-13|
|                 -19|                   8|  2017-05-01|  2017-05-28|2017-05-20|
|                -100|                  24|  2017-05-30|  2017-10-01|2017-09-07|
|                 -27|                  97|  2017-05-30|  2017-10-01|2017-06-26|
|                 -65|                  59|  2017-05-30|  2017-10-01|2017-08-03|
|                 -23|                null|  2017-10-06|   217-10-05|2017-10-29|
|                 -46|                  78|  2017-05-30|  2017-10-01|2017-07-15|
|                 -10|                  17|  2017-04-04|  2017-05-01|2017-04-14|
|                 -11|                  16|  2017-04-04|  2017-05-01|2017-04-15|
|                 -84|                  40|  2017-05-30|  2017-10-01|2017-08-22|
|                 -98|                  26|  2017-05-30|  2017-10-01|2017-09-05|
+--------------------+--------------------+------------+------------+----------+
only showing top 20 rows

In [218]:
# flight4.show()
#'table_name', 'trip', 'stay_days'
# flight5 = (flight4.filter((flight4.trip==1) & (flight4.start_date=='2017-10-01') & (flight4.company=='AirAsiaX'))
#          .select('start_date', 'company', 'dep_time_local', 'stop_info', 'duration', 'search_date', 'price')
#          .sort(F.desc('start_date'), 'company', 'dep_time_local', 'stop_info', 'duration', 'search_date'))       
         
flight5 = flight4.sort('table_name', 'trip', 'stay_days', 
                       'start_date', 'company', 'dep_time_local',
                       'stop_info', 'duration', 'search_date')       
    
byVar = ['table_name', 'trip', 'stay_days', 'start_date', 'company', 'dep_time_local', 'stop_info', 'duration']


from pyspark.sql.window import Window

Threshold = 5

w =  Window.partitionBy(byVar).orderBy('search_date').rowsBetween(0, sys.maxsize)
flight6 = (flight5.withColumn('future_min_price', F.min(col('price')).over(w))
          .withColumn('price_will_drop',                       
                      (col('price') - col('future_min_price')) > Threshold ))
flight6 = flight6.withColumn('price_will_drop_num', flight6.price_will_drop.cast('int'))
flight6.cache()
# min_price = (flight5
#                   .groupBy(byVar)
#                   .agg(F.min(col("price"))).alias("min_price"))

# flight6 = flight5.join(min_price, on=byVar, how='left')
# # flight6.select('price', 'min(price)').show(10)
# # flight6.select('price', 'min(price)').show()
# flight6 = flight6.withColumn('price_diff', col('price')-col('min(price)'))
# flight6.show()

DataFrame[airline_code: string, airline_codes: array<string>, arr_time: timestamp, check_bag_not_inc: boolean, company: string, dep_time: timestamp, duration: string, flight_code: string, flight_number: string, from_city_name: string, id: string, index: bigint, plane: string, power: boolean, price: double, price_code: string, search_date: timestamp, span_days: int, start_date: date, stay_days: int, stop: int, stop_info: string, table_name: string, task_id: string, ticket_left: string, to_city_name: string, trip: string, version: string, video: boolean, wifi: boolean, dep_time_local: timestamp, arr_time_local: timestamp, duration_h: string, duration_m: string, stop_info1: string, stop_info2: string, stop_loc1: string, stop_duration1: string, stop_loc2: string, stop_duration2: string, stop_duration_h1: string, stop_duration_m1: string, stop_duration_h2: string, stop_duration_m2: string, duration_minutes: int, stop1_minutes: int, stop2_minutes: int, arr_time_group: string, dep_time_group: string, dep_weekday: string, dep_weeknum: int, lead_time: int, start_date_str: string, last_holiday: string, next_holiday: string, days_to_last_holiday: int, days_to_next_holiday: int, future_min_price: double, price_will_drop: boolean, price_will_drop_num: int]

In [219]:
flight6.filter((flight6.trip==1) & \
               (flight6.start_date=='2017-10-01') & \
               (flight6.company=='AirAsiaX')) \
    .select('duration', 'search_date', 'price', 'future_min_price', 'price_will_drop') \
    .show(100)

+--------+--------------------+-----+----------------+---------------+
|duration|         search_date|price|future_min_price|price_will_drop|
+--------+--------------------+-----+----------------+---------------+
|  14h20m|2017-04-04 00:00:...|529.5|           439.0|           true|
|  14h20m|2017-04-06 00:00:...|529.5|           439.0|           true|
|  14h20m|2017-04-15 00:00:...|529.5|           439.0|           true|
|  14h20m|2017-04-16 00:00:...|529.5|           439.0|           true|
|  14h20m|2017-04-19 00:00:...|529.5|           439.0|           true|
|  14h20m|2017-04-20 00:00:...|529.5|           439.0|           true|
|  14h20m|2017-04-21 00:00:...|579.5|           439.0|           true|
|  14h20m|2017-04-22 00:00:...|579.5|           439.0|           true|
|  14h20m|2017-04-24 00:00:...|579.5|           439.0|           true|
|  14h20m|2017-04-25 00:00:...|579.5|           439.0|           true|
|  14h20m|2017-04-26 00:00:...|535.5|           439.0|           true|
|  14h20m|2017-04-27 00:00:...|439.0|           439.0|          false|
|  14h20m|2017-04-28 00:00:...|439.0|           439.0|          false|
|  14h20m|2017-04-29 00:00:...|439.0|           439.0|          false|
|  14h20m|2017-04-30 00:00:...|439.0|           439.0|          false|
|  14h20m|2017-05-01 00:00:...|535.5|           535.5|          false|
|  14h20m|2017-05-02 00:00:...|535.5|           535.5|          false|
|  28h35m|2017-04-04 00:00:...|579.5|           439.0|           true|
|  28h35m|2017-04-06 00:00:...|579.5|           439.0|           true|
|  28h35m|2017-04-13 00:00:...|579.5|           439.0|           true|
|  28h35m|2017-04-15 00:00:...|579.5|           439.0|           true|
|  28h35m|2017-04-16 00:00:...|579.5|           439.0|           true|
|  28h35m|2017-04-19 00:00:...|579.5|           439.0|           true|
|  28h35m|2017-04-20 00:00:...|579.5|           439.0|           true|
|  28h35m|2017-04-21 00:00:...|579.5|           439.0|           true|
|  28h35m|2017-04-22 00:00:...|579.5|           439.0|           true|
|  28h35m|2017-04-24 00:00:...|579.5|           439.0|           true|
|  28h35m|2017-04-25 00:00:...|450.0|           439.0|           true|
|  28h35m|2017-04-26 00:00:...|439.0|           439.0|          false|
|  28h35m|2017-04-27 00:00:...|439.0|           439.0|          false|
|  28h35m|2017-04-28 00:00:...|439.0|           439.0|          false|
|  28h35m|2017-04-29 00:00:...|439.0|           439.0|          false|
|  28h35m|2017-04-30 00:00:...|439.0|           439.0|          false|
|  28h35m|2017-05-01 00:00:...|439.0|           439.0|          false|
|  28h35m|2017-05-02 00:00:...|469.0|           469.0|          false|
+--------+--------------------+-----+----------------+---------------+

In [214]:
flight2.unpersist()

DataFrame[airline_code: string, airline_codes: array<string>, arr_time: timestamp, check_bag_not_inc: boolean, company: string, dep_time: timestamp, duration: string, flight_code: string, flight_number: string, from_city_name: string, id: string, index: bigint, plane: string, power: boolean, price: double, price_code: string, search_date: timestamp, span_days: int, start_date: date, stay_days: int, stop: int, stop_info: string, table_name: string, task_id: string, ticket_left: string, to_city_name: string, trip: string, version: string, video: boolean, wifi: boolean, dep_time_local: timestamp, arr_time_local: timestamp, duration_h: string, duration_m: string, stop_info1: string, stop_info2: string, stop_loc1: string, stop_duration1: string, stop_loc2: string, stop_duration2: string, stop_duration_h1: string, stop_duration_m1: string, stop_duration_h2: string, stop_duration_m2: string, duration_minutes: int, stop1_minutes: int, stop2_minutes: int, arr_time_group: string, dep_time_group: string]

In [216]:
flight6.cache()

DataFrame[airline_code: string, airline_codes: array<string>, arr_time: timestamp, check_bag_not_inc: boolean, company: string, dep_time: timestamp, duration: string, flight_code: string, flight_number: string, from_city_name: string, id: string, index: bigint, plane: string, power: boolean, price: double, price_code: string, search_date: timestamp, span_days: int, start_date: date, stay_days: int, stop: int, stop_info: string, table_name: string, task_id: string, ticket_left: string, to_city_name: string, trip: string, version: string, video: boolean, wifi: boolean, dep_time_local: timestamp, arr_time_local: timestamp, duration_h: string, duration_m: string, stop_info1: string, stop_info2: string, stop_loc1: string, stop_duration1: string, stop_loc2: string, stop_duration2: string, stop_duration_h1: string, stop_duration_m1: string, stop_duration_h2: string, stop_duration_m2: string, duration_minutes: int, stop1_minutes: int, stop2_minutes: int, arr_time_group: string, dep_time_group: string, dep_weekday: string, dep_weeknum: int, lead_time: int, start_date_str: string, last_holiday: string, next_holiday: string, days_to_last_holiday: int, days_to_next_holiday: int, future_min_price: double, price_will_drop: boolean, price_will_drop_num: int]

In [217]:
# ['table_name', 'trip', 'stay_days', 'start_date', 'company', 'dep_time_local', 'stop_info', 'duration']
# groupby(flight2.trip, flight2.stay_days, flight.dep_time_group).agg(func.mean('price')).show()
# flight6.groupBy(col('trip'), col('stay_days'), col('lead_time')).agg(F.mean('price_will_drop_num')).show()
flight6.groupBy(col('trip'), col('stay_days'), col('lead_time')). \
    agg(F.mean('price_will_drop_num')).orderBy(['trip', 'stay_days', 'lead_time'], ascending=[1, 1, 0]).show(1000)

+----+---------+---------+------------------------+
|trip|stay_days|lead_time|avg(price_will_drop_num)|
+----+---------+---------+------------------------+
|   1|        0|      180|     0.36288265306122447|
|   1|        0|      179|     0.35714285714285715|
|   1|        0|      178|      0.3497304582210243|
|   1|        0|      177|     0.37575757575757573|
|   1|        0|      176|     0.33737244897959184|
|   1|        0|      175|     0.32705248990578734|
|   1|        0|      174|      0.3657289002557545|
|   1|        0|      173|       0.361376673040153|
|   1|        0|      172|     0.36607142857142855|
|   1|        0|      171|     0.36630504148053605|
|   1|        0|      170|      0.3647959183673469|
|   1|        0|      169|     0.37333333333333335|
|   1|        0|      168|      0.3832908163265306|
|   1|        0|      167|      0.3860880663688577|
|   1|        0|      166|     0.38049713193116635|
|   1|        0|      165|                 0.40625|
|   1|        0|      164|       0.412252712188896|
|   1|        0|      163|      0.4218181818181818|
|   1|        0|      162|      0.4175757575757576|
|   1|        0|      161|     0.40700808625336926|
|   1|        0|      160|     0.42510612492419647|
|   1|        0|      159|     0.39794064203513024|
|   1|        0|      158|     0.41600970285021227|
|   1|        0|      157|      0.3925970873786408|
|   1|        0|      156|      0.3812121212121212|
|   1|        0|      155|     0.37393939393939396|
|   1|        0|      154|     0.38326258338386904|
|   1|        0|      153|       0.438058748403576|
|   1|        0|      152|      0.3949121744397335|
|   1|        0|      151|      0.4077855775366943|
|   1|        0|      150|     0.41322815533980584|
|   1|        0|      149|      0.4018181818181818|
|   1|        0|      148|      0.4115151515151515|
|   1|        0|      147|     0.40388114008489995|
|   1|        0|      146|     0.38872043662825956|
|   1|        0|      145|     0.37970644543714105|
|   1|        0|      144|     0.39357186173438446|
|   1|        0|      143|      0.4240102171136654|
|   1|        0|      142|      0.3933333333333333|
|   1|        0|      141|       0.396969696969697|
|   1|        0|      140|      0.3997569866342649|
|   1|        0|      139|     0.38811400848999394|
|   1|        0|      138|     0.40520896426408237|
|   1|        0|      137|     0.39963614311704065|
|   1|        0|      136|       0.397444089456869|
|   1|        0|      135|     0.41333333333333333|
|   1|        0|      134|      0.4115151515151515|
|   1|        0|      133|       0.422680412371134|
|   1|        0|      132|      0.4063068526379624|
|   1|        0|      131|     0.38711734693877553|
|   1|        0|      130|      0.4166161309884779|
|   1|        0|      129|     0.41686893203883496|
|   1|        0|      128|      0.4072727272727273|
|   1|        0|      127|     0.39454545454545453|
|   1|        0|      126|     0.42449969678593086|
|   1|        0|      125|     0.42328684050939963|
|   1|        0|      124|      0.4179285281647486|
|   1|        0|      123|      0.4335961188599151|
|   1|        0|      122|      0.4362864077669903|
|   1|        0|      121|      0.4192724952137843|
|   1|        0|      120|     0.43333333333333335|
|   1|        0|      119|      0.4408732565191025|
|   1|        0|      118|     0.42813826561552454|
|   1|        0|      117|     0.41005451241671714|
|   1|        0|      116|      0.4275318374772589|
|   1|        0|      115|      0.4362864077669903|
|   1|        0|      114|     0.45151515151515154|
|   1|        0|      113|     0.42303030303030303|
|   1|        0|      112|     0.41954022988505746|
|   1|        0|      111|      0.4342025469981807|
|   1|        0|      110|      0.4439733494851605|
|   1|        0|      109|     0.44630484988452657|
|   1|        0|      108|      0.4429611650485437|
|   1|        0|      107|     0.44431621465666477|
|   1|        0|      106|      0.4339167169583585|
|   1|        0|      105|      0.4482957827845176|
|   1|        0|      104|     0.44771808203350666|
|   1|        0|      103|     0.43499101258238465|
|   1|        0|      102|     0.43117040630685266|
|   1|        0|      101|      0.4144508670520231|
|   1|        0|      100|      0.4106602059357965|
|   1|        0|       99|     0.43636363636363634|
|   1|        0|       98|      0.4393203883495146|
|   1|        0|       97|       0.446360153256705|
|   1|        0|       96|      0.4409448818897638|
|   1|        0|       95|      0.4208611279563372|
|   1|        0|       94|     0.40191693290734826|
|   1|        0|       93|      0.4161114476075106|
|   1|        0|       92|     0.42727272727272725|
|   1|        0|       91|      0.4532766990291262|
|   1|        0|       90|     0.45057610673135234|
|   1|        0|       89|     0.42761962447001817|
|   1|        0|       88|     0.41904184354154034|
|   1|        0|       87|      0.4405339805825243|
|   1|        0|       86|      0.4403391883706844|
|   1|        0|       85|      0.4381818181818182|
|   1|        0|       84|      0.4578544061302682|
|   1|        0|       83|     0.42510612492419647|
|   1|        0|       82|     0.44700181708055725|
|   1|        0|       81|      0.4478787878787879|
|   1|        0|       80|       0.422680412371134|
|   1|        0|       79|      0.4496969696969697|
|   1|        0|       78|      0.4380069524913094|
|   1|        0|       77|     0.45465049104563837|
|   1|        0|       76|      0.4436741767764298|
|   1|        0|       75|     0.45239469128678594|
|   1|        0|       74|      0.4618937644341801|
|   1|        0|       73|      0.4405339805825243|
|   1|        0|       72|      0.4382217090069284|
|   1|        0|       71|      0.4270051933064051|
|   1|        0|       70|      0.4343551185656449|
|   1|        0|       69|      0.4246100519930676|
|   1|        0|       68|     0.42008078476630123|
|   1|        0|       67|     0.42345465049104564|
|   1|        0|       66|     0.43893591293833134|
|   1|        0|       65|     0.40877598152424943|
|   1|        0|       64|     0.40704387990762125|
|   1|        0|       63|     0.42987249544626593|
|   1|        0|       62|                     0.4|
|   1|        0|       61|      0.4193939393939394|
|   1|        0|       60|      0.4246100519930676|
|   1|        0|       59|     0.42926533090467517|
|   1|        0|       58|      0.4122401847575058|
|   1|        0|       57|     0.44451182534869615|
|   1|        0|       56|      0.3888888888888889|
|   1|        0|       55|     0.42744383727990287|
|   1|        0|       54|      0.4309090909090909|
|   1|        0|       53|      0.4191693290734824|
|   1|        0|       52|     0.44289185905224787|
|   1|        0|       51|     0.43117040630685266|
|   1|        0|       50|     0.43412264723740135|
|   1|        0|       49|      0.4340425531914894|
|   1|        0|       48|     0.42581423401688784|
|   1|        0|       47|     0.42354368932038833|
|   1|        0|       46|      0.3989071038251366|
|   1|        0|       45|      0.4094775212636695|
|   1|        0|       44|     0.41530054644808745|
|   1|        0|       43|      0.4269254093389933|
|   1|        0|       42|      0.4297872340425532|
|   1|        0|       41|     0.42354368932038833|
|   1|        0|       40|      0.4074074074074074|
|   1|        0|       39|      0.4077669902912621|
|   1|        0|       38|     0.42597087378640774|
|   1|        0|       37|      0.4211165048543689|
|   1|        0|       36|     0.42319368548876746|
|   1|        0|       35|      0.4513973268529769|
|   1|        0|       34|     0.45051608986035213|
|   1|        0|       33|     0.42597087378640774|
|   1|        0|       32|     0.44410692588092343|
|   1|        0|       31|      0.4541590771098968|
|   1|        0|       30|      0.4272030651340996|
|   1|        0|       29|     0.43412264723740135|
|   1|        0|       28|      0.4251918158567775|
|   1|        0|       27|      0.4286628278950736|
|   1|        0|       26|      0.4095846645367412|
|   1|        0|       25|     0.43039513677811553|
|   1|        0|       24|      0.4397810218978102|
|   1|        0|       23|     0.42137219186399516|
|   1|        0|       22|      0.4111253196930946|
|   1|        0|       21|     0.43647416413373863|
|   1|        0|       20|       0.409367396593674|
|   1|        0|       19|      0.4356014580801944|
|   1|        0|       18|      0.4297017650639075|
|   1|        0|       17|      0.4723067559342666|
|   1|        0|       16|     0.42744383727990287|
|   1|        0|       15|     0.41008505467800727|
|   1|        0|       14|      0.4142335766423358|
|   1|        0|       13|     0.41105039465695203|
|   1|        0|       12|        0.40485312899106|
|   1|        0|       11|      0.4116575591985428|
|   1|        0|       10|     0.40765492102065615|
|   1|        0|        9|     0.38447543966040026|
|   1|        0|        8|      0.4008489993935719|
|   1|        0|        7|      0.3600485731633273|
|   1|        0|        6|     0.34081261370527594|
|   1|        0|        5|     0.34902200488997553|
|   1|        0|        4|      0.2760511882998172|
|   1|        0|        3|     0.19854280510018216|
|   1|        0|        2|     0.11333333333333333|
|   1|        0|        1|    0.011078717201166181|
|   2|        7|      180|      0.6121270452358036|
|   2|        7|      179|      0.6142786316311354|
|   2|        7|      178|      0.5876777251184834|
|   2|        7|      177|      0.6447952639368525|
|   2|        7|      176|      0.5970079476390837|
|   2|        7|      175|      0.5989583333333334|
|   2|        7|      174|      0.6037825059101655|
|   2|        7|      173|      0.5816125860373648|
|   2|        7|      172|      0.6315294117647059|
|   2|        7|      171|      0.5863770977295163|
|   2|        7|      170|      0.6248168050806058|
|   2|        7|      169|      0.5760765550239234|
|   2|        7|      168|      0.6121635094715853|
|   2|        7|      167|      0.5910176779741997|
|   2|        7|      166|      0.6016617790811339|
|   2|        7|      165|       0.604073522106309|
|   2|        7|      164|       0.597037037037037|
|   2|        7|      163|       0.598856598380181|
|   2|        7|      162|       0.581048581048581|
|   2|        7|      161|      0.6233703524867213|
|   2|        7|      160|      0.6291033806957373|
|   2|        7|      159|      0.6057494866529775|
|   2|        7|      158|      0.5232273838630807|
|   2|        7|      157|      0.5371428571428571|
|   2|        7|      156|       0.586073500967118|
|   2|        7|      155|      0.5642787046123651|
|   2|        7|      154|      0.5601761252446184|
|   2|        7|      153|      0.5522174535050072|
|   2|        7|      152|       0.551622418879056|
|   2|        7|      151|      0.6101871101871101|
|   2|        7|      150|      0.5988483685220729|
|   2|        7|      149|      0.5450941526263627|
|   2|        7|      148|      0.5634995296331138|
|   2|        7|      147|       0.549074074074074|
|   2|        7|      146|      0.5798664612223934|
|   2|        7|      145|      0.6026399635867091|
|   2|        7|      144|      0.6111869031377899|
|   2|        7|      143|      0.6199298948422634|
|   2|        7|      142|      0.6032461677186655|
|   2|        7|      141|      0.5422953818015547|
|   2|        7|      140|      0.5227775320654577|
|   2|        7|      139|      0.5020842982862437|
|   2|        7|      138|      0.5302768166089965|
|   2|        7|      137|      0.5415411106328024|
|   2|        7|      136|      0.5513464171611137|
|   2|        7|      135|      0.5464362850971922|
|   2|        7|      134|      0.5850920520880107|
|   2|        7|      133|      0.5656656207978485|
|   2|        7|      132|      0.5716096324461344|
|   2|        7|      131|      0.5746739587715608|
|   2|        7|      130|      0.5801847187237615|
|   2|        7|      129|      0.5880806310254163|
|   2|        7|      128|       0.603607567091949|
|   2|        7|      127|      0.5894378194207837|
|   2|        7|      126|      0.5931352030138133|
|   2|        7|      125|      0.6158318425760286|
|   2|        7|      124|      0.5940803382663847|
|   2|        7|      123|      0.6084945332211943|
|   2|        7|      122|      0.5841161400512382|
|   2|        7|      121|      0.5777964676198486|
|   2|        7|      120|      0.6033684210526316|
|   2|        7|      119|      0.5554150863885378|
|   2|        7|      118|      0.5703805593764328|
|   2|        7|      117|      0.5533683289588801|
|   2|        7|      116|      0.5801385681293303|
|   2|        7|      115|      0.5981308411214953|
|   2|        7|      114|      0.6306306306306306|
|   2|        7|      113|      0.6193633952254642|
|   2|        7|      112|      0.5705521472392638|
|   2|        7|      111|      0.5848724714160071|
|   2|        7|      110|      0.5544412607449857|
|   2|        7|      109|      0.5579839429081177|
|   2|        7|      108|      0.5972346119536128|
|   2|        7|      107|      0.5665254237288135|
|   2|        7|      106|      0.5940254652301665|
|   2|        7|      105|      0.5611285266457681|
|   2|        7|      104|       0.563212927756654|
|   2|        7|      103|      0.6054391440035667|
|   2|        7|      102|      0.5976223136716964|
|   2|        7|      101|      0.5558659217877095|
|   2|        7|      100|       0.559040590405904|
|   2|        7|       99|      0.5775780510879849|
|   2|        7|       98|      0.5873015873015873|
|   2|        7|       97|      0.5633410672853828|
|   2|        7|       96|      0.5602171767028628|
|   2|        7|       95|      0.6049618320610687|
|   2|        7|       94|      0.6269430051813472|
|   2|        7|       93|      0.6021450459652706|
|   2|        7|       92|      0.5722460658082976|
|   2|        7|       91|       0.607125890736342|
|   2|        7|       90|      0.6147501213003397|
|   2|        7|       89|      0.6031518624641834|
|   2|        7|       88|      0.5836096636665088|
|   2|        7|       87|      0.6409614421632449|
|   2|        7|       86|      0.6494897959183673|
|   2|        7|       85|      0.6856732151413513|
|   2|        7|       84|      0.6708354177088545|
|   2|        7|       83|      0.6485911749069644|
|   2|        7|       82|      0.6147919876733436|
|   2|        7|       81|       0.603598971722365|
|   2|        7|       80|      0.6143931256713212|
|   2|        7|       79|      0.6308758040573973|
|   2|        7|       78|      0.6593301435406699|
|   2|        7|       77|      0.5968054211035818|
|   2|        7|       76|      0.6647673314339981|
|   2|        7|       75|      0.5880398671096345|
|   2|        7|       74|      0.5888324873096447|
|   2|        7|       73|      0.6284704694598687|
|   2|        7|       72|      0.6129184347006129|
|   2|        7|       71|      0.6389280677009873|
|   2|        7|       70|      0.5432269995376792|
|   2|        7|       69|      0.5670198065407647|
|   2|        7|       68|      0.5571095571095571|
|   2|        7|       67|      0.5490105844454671|
|   2|        7|       66|       0.536484625975218|
|   2|        7|       65|      0.5490654205607477|
|   2|        7|       64|      0.5694138386954606|
|   2|        7|       63|      0.6136261766024205|
|   2|        7|       62|      0.5985267034990792|
|   2|        7|       61|      0.6174988547869904|
|   2|        7|       60|      0.5622943112364833|
|   2|        7|       59|      0.5859338612016768|
|   2|        7|       58|      0.5953038674033149|
|   2|        7|       57|      0.5959409594095941|
|   2|        7|       56|      0.5541343079031521|
|   2|        7|       55|      0.5453290381960424|
|   2|        7|       54|       0.591743119266055|
|   2|        7|       53|      0.5989061075660893|
|   2|        7|       52|      0.5859843245735362|
|   2|        7|       51|      0.5171568627450981|
|   2|        7|       50|       0.553519768563163|
|   2|        7|       49|      0.5415129151291513|
|   2|        7|       48|      0.5274223034734917|
|   2|        7|       47|      0.5641399416909622|
|   2|        7|       46|      0.5306615161757605|
|   2|        7|       45|      0.5225102319236017|
|   2|        7|       44|      0.5254237288135594|
|   2|        7|       43|      0.5402912621359224|
|   2|        7|       42|      0.5291723202170964|
|   2|        7|       41|      0.5601295097132285|
|   2|        7|       40|      0.5714285714285714|
|   2|        7|       39|      0.5825621042377009|
|   2|        7|       38|      0.5612575127138234|
|   2|        7|       37|      0.5940499040307101|
|   2|        7|       36|      0.6024930747922438|
|   2|        7|       35|       0.611085870059064|
|   2|        7|       34|      0.5956502441189525|
|   2|        7|       33|      0.5946798917944094|
|   2|        7|       32|       0.615931721194879|
|   2|        7|       31|      0.6136261766024205|
|   2|        7|       30|      0.6095860566448802|
|   2|        7|       29|      0.5701519213583557|
|   2|        7|       28|       0.608433734939759|
|   2|        7|       27|      0.5954403218596335|
|   2|        7|       26|       0.620253164556962|
|   2|        7|       25|      0.6138702460850112|
|   2|        7|       24|       0.562247191011236|
|   2|        7|       23|      0.5816993464052288|
|   2|        7|       22|      0.5892286627110909|
|   2|        7|       21|      0.5736154885186853|
|   2|        7|       20|      0.6089681774349084|
|   2|        7|       19|      0.5501618122977346|
|   2|        7|       18|      0.5448588709677419|
|   2|        7|       17|      0.5811642214860389|
|   2|        7|       16|      0.5613382899628253|
|   2|        7|       15|      0.5304036791006643|
|   2|        7|       14|      0.5402750491159135|
|   2|        7|       13|      0.5538169748696065|
|   2|        7|       12|     0.49836065573770494|
|   2|        7|       11|      0.4195488721804511|
|   2|        7|       10|      0.4899559039686428|
|   2|        7|        9|     0.46116970278044106|
|   2|        7|        8|      0.5294392523364486|
|   2|        7|        7|     0.44595864661654133|
|   2|        7|        6|      0.4298621017593913|
|   2|        7|        5|      0.4014851485148515|
|   2|        7|        4|     0.38365719980069757|
|   2|        7|        3|        0.36980947728383|
|   2|        7|        2|     0.22475401346452614|
|   2|        7|        1|     0.02948525737131434|
|   2|       14|      180|      0.5582948125321007|
|   2|       14|      179|      0.5650504080652905|
|   2|       14|      178|      0.5628310062590275|
|   2|       14|      177|      0.5629807692307692|
|   2|       14|      176|      0.5562814070351759|
|   2|       14|      175|      0.5835762876579204|
|   2|       14|      174|      0.5670362903225806|
|   2|       14|      173|      0.5952725518572117|
|   2|       14|      172|      0.6071789686552073|
|   2|       14|      171|      0.6256632899179932|
|   2|       14|      170|      0.6154216867469879|
|   2|       14|      169|      0.6238670694864048|
|   2|       14|      168|       0.603998096144693|
|   2|       14|      167|      0.6084656084656085|
|   2|       14|      166|      0.5597269624573379|
|   2|       14|      165|      0.6154239019407559|
|   2|       14|      164|      0.5582039911308204|
|   2|       14|      163|      0.5989173228346457|
|   2|       14|      162|      0.5912098298676749|
|   2|       14|      161|      0.6195048004042446|
|   2|       14|      160|      0.6261501210653753|

# Save to parquet

In [221]:
flight6.coalesce(2).write.parquet("C:\\s3\\20170503_jsonl\\flight6.parquet")

In [9]:
# flight6 = spark.read.parquet("C:\\s3\\20170503_jsonl\\flight6.parquet")
flight6 = spark.read.parquet("/home/ubuntu/parquet/flight6.parquet")

In [10]:
flight6.count()

1835752

In [11]:
flight6.printSchema()

root
 |-- airline_code: string (nullable = true)
 |-- airline_codes: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- arr_time: timestamp (nullable = true)
 |-- check_bag_not_inc: boolean (nullable = true)
 |-- company: string (nullable = true)
 |-- dep_time: timestamp (nullable = true)
 |-- duration: string (nullable = true)
 |-- flight_code: string (nullable = true)
 |-- flight_number: string (nullable = true)
 |-- from_city_name: string (nullable = true)
 |-- id: string (nullable = true)
 |-- index: long (nullable = true)
 |-- plane: string (nullable = true)
 |-- power: boolean (nullable = true)
 |-- price: double (nullable = true)
 |-- price_code: string (nullable = true)
 |-- search_date: timestamp (nullable = true)
 |-- span_days: integer (nullable = true)
 |-- start_date: date (nullable = true)
 |-- stay_days: integer (nullable = true)
 |-- stop: integer (nullable = true)
 |-- stop_info: string (nullable = true)
 |-- table_name: string (nullable = true)
 |-- task_id: string (nullable = true)
 |-- ticket_left: string (nullable = true)
 |-- to_city_name: string (nullable = true)
 |-- trip: string (nullable = true)
 |-- version: string (nullable = true)
 |-- video: boolean (nullable = true)
 |-- wifi: boolean (nullable = true)
 |-- dep_time_local: timestamp (nullable = true)
 |-- arr_time_local: timestamp (nullable = true)
 |-- duration_h: string (nullable = true)
 |-- duration_m: string (nullable = true)
 |-- stop_info1: string (nullable = true)
 |-- stop_info2: string (nullable = true)
 |-- stop_loc1: string (nullable = true)
 |-- stop_duration1: string (nullable = true)
 |-- stop_loc2: string (nullable = true)
 |-- stop_duration2: string (nullable = true)
 |-- stop_duration_h1: string (nullable = true)
 |-- stop_duration_m1: string (nullable = true)
 |-- stop_duration_h2: string (nullable = true)
 |-- stop_duration_m2: string (nullable = true)
 |-- duration_minutes: integer (nullable = true)
 |-- stop1_minutes: integer (nullable = true)
 |-- stop2_minutes: integer (nullable = true)
 |-- arr_time_group: string (nullable = true)
 |-- dep_time_group: string (nullable = true)
 |-- dep_weekday: string (nullable = true)
 |-- dep_weeknum: integer (nullable = true)
 |-- lead_time: integer (nullable = true)
 |-- start_date_str: string (nullable = true)
 |-- last_holiday: string (nullable = true)
 |-- next_holiday: string (nullable = true)
 |-- days_to_last_holiday: integer (nullable = true)
 |-- days_to_next_holiday: integer (nullable = true)
 |-- future_min_price: double (nullable = true)
 |-- price_will_drop: boolean (nullable = true)
 |-- price_will_drop_num: integer (nullable = true)

In [12]:
flight7 = (flight6.withColumn('price_drop_amt', col('price') - col('future_min_price'))
                  .withColumn('stop_minutes', col('stop1_minutes') + col('stop2_minutes'))
                  .withColumn('few_tickets_left', col('ticket_left') != '0')
                  .select('price_will_drop_num', 'price', 'few_tickets_left', 'from_city_name', 'to_city_name', 'trip', 'stay_days',
                          'company', 'flight_code', 'plane', 'span_days', 'stop',
                         'power', 'video', 'wifi', 'check_bag_not_inc', 
                         'dep_time_group', 'arr_time_group',  
                         'lead_time', 'dep_weekday', 'dep_weeknum', 
                         'days_to_last_holiday', 'days_to_next_holiday',                         
                         'duration_minutes', 'stop_minutes'
                      ).filter(flight6.price > 0))
flight7.dtypes
flight7 = flight7.na.fill({'stop_minutes': 0, 'days_to_next_holiday': 999})
flight7.show(2, truncate=False)

+-------------------+-------+----------------+--------------+------------+----+---------+--------------+-----------+-------------------------+---------+----+-----+-----+-----+-----------------+--------------+--------------+---------+-----------+-----------+--------------------+--------------------+----------------+------------+
|price_will_drop_num|price  |few_tickets_left|from_city_name|to_city_name|trip|stay_days|company       |flight_code|plane                    |span_days|stop|power|video|wifi |check_bag_not_inc|dep_time_group|arr_time_group|lead_time|dep_weekday|dep_weeknum|days_to_last_holiday|days_to_next_holiday|duration_minutes|stop_minutes|
+-------------------+-------+----------------+--------------+------------+----+---------+--------------+-----------+-------------------------+---------+----+-----+-----+-----+-----------------+--------------+--------------+---------+-----------+-----------+--------------------+--------------------+----------------+------------+
|1                  |1671.42|true            |sydney        |shanghai    |1   |0        |Qantas Airways|QF129      |AIRBUS INDUSTRIE A330-300|0        |0   |false|true |false|false            |morning       |evening       |3        |4          |14         |-3                  |24                  |655             |0           |
|0                  |949.42 |true            |sydney        |shanghai    |1   |0        |Qantas Airways|QF129      |AIRBUS INDUSTRIE A330-300|0        |0   |false|true |false|false            |morning       |evening       |1        |4          |14         |-3                  |24                  |655             |0           |
+-------------------+-------+----------------+--------------+------------+----+---------+--------------+-----------+-------------------------+---------+----+-----+-----+-----+-----------------+--------------+--------------+---------+-----------+-----------+--------------------+--------------------+----------------+------------+
only showing top 2 rows

How to transform categorical variables? See
http://stackoverflow.com/questions/32982425/encode-and-assemble-multiple-features-in-pyspark


# One hot encoding

In [13]:
from pyspark.ml.feature import StringIndexer
from pyspark.ml.feature import OneHotEncoder

column_vec_in = ['from_city_name', 'to_city_name', 'trip', 'company', 'flight_code', 'plane', 
                 'arr_time_group', 'dep_time_group', 'dep_weekday']
column_vec_out = ['from_city_name_catVec','to_city_name_catVec', 'trip_catVec',
                'company_catVec', 'flight_code_catVec', 'plane_catVec', 
                  'arr_time_group_catVec', 'dep_time_group_catVec', 'dep_weekday_catVec']
 
indexers = [StringIndexer(inputCol=x, outputCol=x+'_tmp') for x in column_vec_in ]
 
encoders = [OneHotEncoder(dropLast=False, inputCol=x+"_tmp", outputCol=y)
            for x,y in zip(column_vec_in, column_vec_out)]

tmp = [[i,j] for i,j in zip(indexers, encoders)]
tmp = [i for sublist in tmp for i in sublist]

# Prepare features and labels

In [14]:
from pyspark.ml import Pipeline
from pyspark.ml.feature import StringIndexer, VectorIndexer, VectorAssembler, SQLTransformer

# prepare labeled sets
# 'price_will_drop',

cols_now = ['price', 'few_tickets_left', 'stay_days',
              'span_days', 'stop',
             'power', 'video', 'wifi', 'check_bag_not_inc',                          
             'lead_time', 'dep_weeknum', 
             'days_to_last_holiday', 'days_to_next_holiday',                         
             'duration_minutes', 'stop_minutes',
            'from_city_name_catVec','to_city_name_catVec', 'trip_catVec',
            'company_catVec', 'flight_code_catVec', 'plane_catVec', 
            'arr_time_group_catVec', 'dep_time_group_catVec', 'dep_weekday_catVec']

assembler_features = VectorAssembler(inputCols=cols_now, outputCol='features')
# labelIndexer = StringIndexer(inputCol='price', outputCol="label")
# tmp += [assembler_features, labelIndexer]
tmp += [assembler_features]
pipeline = Pipeline(stages=tmp)

In [15]:
# flight3.na.drop().count()

# from pyspark.ml import Pipeline
# from pyspark.ml.feature import StringIndexer

# indexers = [StringIndexer(inputCol=column, outputCol=column+"_index")\
#             .fit(flight3) for column in list(set(flight3.columns)-\
#                                              set(['stay_days', 'power', 'price', 'span_days',\
#                                                   'stop', 'video', 'wifi', 'duration_minutes',\
#                                                  'dep_weeknum', 'lead_time']))]

# pipeline = Pipeline(stages=indexers)
# flight4 = pipeline.fit(flight3).transform(flight3)

# flight4.show()

In [16]:
cols = ['from_city_name', 'to_city_name', 'trip', 'company', 'flight_code', 'plane', 
                 'arr_time_group', 'dep_time_group', 'dep_weekday']

for c in cols:
    flight7.groupBy(col(c)).count().show(50000)
    
    
flight7 = flight7.na.replace('', 'unknown', 'plane')

# http://stackoverflow.com/questions/40711229/pyspark-ml-error-urequirement-failed-cannot-have-an-empty-string-for-name
# replacements = {
#   'plane': 'unknown', 'another_col': 'another_replacement',
#   'numeric_column_wont_be_replaced': 1.0
# }

# for k, v in replacements.items():
#     # We can replace string only if target is string
#     # In Python 2 str -> basestring
#     if isinstance(v, str):
#         df = df.na.replace("", v, [k])

+--------------+-------+
|from_city_name|  count|
+--------------+-------+
|        sydney|1835752|
+--------------+-------+

+------------+-------+
|to_city_name|  count|
+------------+-------+
|    shanghai|1835752|
+------------+-------+

+----+-------+
|trip|  count|
+----+-------+
|   1| 295267|
|   2|1540485|
+----+-------+

+--------------------+------+
|             company| count|
+--------------------+------+
|      Cathay Pacific|482702|
| Philippine Airlines|   714|
|    Juneyao Airlines|   701|
|      Japan Airlines| 41421|
|    Virgin Australia| 80045|
|China Southern Ai...|230960|
|     Hainan Airlines| 46185|
|Thai Airways Inte...| 52266|
|        Fiji Airways| 38559|
|   Malaysia Airlines| 47129|
|    Vietnam Airlines| 21673|
|     Asiana Airlines| 30163|
|      China Airlines|  8390|
|          Air Canada|    62|
|           Air China|134287|
|  All Nippon Airways| 42670|
|  Singapore Airlines| 72912|
|            AirAsiaX| 66254|
|    Sichuan Airlines| 25138|
|LATAM Airlines Group|   370|
|             Jetstar|     3|
|      Qantas Airways|175007|
|   Shanghai Airlines|     6|
|     Xiamen Airlines| 43283|
|     Air New Zealand| 32618|
|          Korean Air| 40956|
|China Eastern Air...| 99724|
|    Garuda Indonesia| 21554|
+--------------------+------+

+-----------+------+
|flight_code| count|
+-----------+------+
|     CZ3072| 19217|
|      MU715|    69|
|     HO1211|   596|
|      NZ710|   674|
|      TG663|  9166|
|     MU6153|   474|
|     CA1832|   506|
|      QF127|  3566|
|     CA1550|  1123|
|     3U8974|  2728|
|     CA1532|   348|
|      MU292|    43|
|      QF431|   139|
|      QF130|  5953|
|      QF457|   209|
|      SQ827|    20|
|        QF5|   875|
|      QF471|   100|
|      NZ286|  2949|
|      QF461|  1802|
|      QF451|   483|
|       CI52|  6090|
|     CA1836|  2199|
|      SQ242| 25763|
|      D7223| 26233|
|      QF304|     7|
|      MF808|  7357|
|      CI504|  2300|
|     KE5858|    39|
|      CA175|  4661|
|     MU5269|     1|
|     MF8512|   906|
|     VA5510|  4912|
|      PR212|   714|
|      CX365|    62|
|      VN786|  7005|
|      SQ232|  4545|
|      VA816|   725|
|     VA5412|  7953|
|      SQ212| 12840|
|      TG665|  5185|
|     VA5547|    64|
|      QF409|  8660|
|      NZ706|  1215|
|      TG476| 17746|
|      VA804|  1666|
|      VN523|  8019|
|     JL5604|     2|
|      CZ302|132064|
|      MU561|  8233|
|      CX138|219852|
|     CA4514|   548|
|      OZ364|  1403|
|      QF417|  1310|
|     MU5107|     3|
|     CZ3532|  1529|
|     MU5121|   149|
|     CX5857|    27|
|      QF508|  6941|
|      QF342|    13|
|      QF439|   231|
|      MH389| 13004|
|      QF516|   969|
|      QF449|    82|
|     VA5508|  7442|
|     CZ3576|   762|
|      VA806|  1396|
|      QF453|  1305|
|      QF302|  3065|
|      MU750|  3146|
|     MF8586|  3738|
|     JL5642|     2|
|     CZ3548|   425|
|      QF129| 17526|
|     CX5809|   588|
|     MU5157|    31|
|     CA1856|  2183|
|      QF459|  1690|
|      NZ702|   355|
|     CX5831|    54|
|     VA5654|   729|
|      QF117|  2264|
|     MU6141|   419|
|      SQ252|  7534|
|      SQ825|  4172|
|      QF510|  9612|
|     CZ5281|  2192|
|     CZ3572|  1862|
|     MU6785|   152|
|      NZ110|  1670|
|      QF477|    10|
|      QF502|  1047|
|     MU8439|  1231|
|      SQ831|   442|
|     KE5862|     1|
|      MU562| 17678|
|      CX162| 50255|
|      QF401|  3339|
|      QF455|  1246|
|      D7221| 17060|
|      QF497|   191|
|     MU5804|   402|
|     MF8518|  1168|
|     MU5151|     2|
|     MU6783|    77|
|     CZ3596|   381|
|     MF8510|  2227|
|     MF8574|  1947|
|     CZ5275|   230|
|     MU6083|   361|
|      NZ716|     5|
|     CA3293|    17|
|      QF514|   495|
|      QF493|   227|
|      NZ288|  1593|
|     MU6081|   543|
|     CZ3538|  3718|
|      OZ366|  5308|
|     CA1590|   349|
|     MU8419|  1154|
|     MU2154|   443|
|      D7333|  4765|
|      CA156|   725|
|      QF427|   118|
|      CA176| 13108|
|      CA174| 87402|
|     MU8440| 16560|
|      QF504|  4891|
|     CZ3504|  2290|
|     MU5810|   165|
|     QF4097|   105|
|     CA1884|  1751|
|     MU5153|     1|
|     CX5871|    29|
|      QF469|    80|
|     MU5111|     1|
|       VA35|    11|
|      QF147|    61|
|     MU2506|   268|
|     CX5877|  3896|
|      MU565|     1|
|      QF405|  3223|
|      VA812|   440|
|      JL876|  5035|
|     MU4202|   502|
|      KE896|   341|
|      QF447|   402|
|     CX5897|  5960|
|     VA5514| 29219|
|     MU5103|     1|
|      QF467|   415|
|      MF802| 20909|
|      CZ326| 38138|
|     MU2469|   373|
|     CZ6752|   265|
|     CZ3554|  2678|
|      MU736|  6496|
|      MU735|  4373|
|     CA1518|   903|
|     CA1516|  1302|
|     CX5813|  2346|
|      QF419|  1291|
|      MU739|   233|
|     CZ3966|  2040|
|     MU2508|   404|
|      QF433|   301|
|     VA5545|  2823|
|      CZ380|   743|
|     HU7994| 11693|
|      CX369|  9248|
|     MU5271|    67|
|      QF443|   266|
|     CZ3612|  1204|
|     MU6113|   524|
|       VA37|    20|
|     VA5512| 11306|
|      JL874|  1151|
|     CZ3175|  2331|
|     MF8568|  1053|
|      QF429|    68|
|      NZ718|  6621|
|     MU5117|     3|
|     KE5894|  2356|
|      MU778| 21870|
|      SQ833|  6915|
|      QF506|  6243|
|     QF5006|    94|
|     MU5109|     5|
|      MU545|     1|
|     CA1947|   218|
|      QF300|  5991|
|     CZ3526|  6344|
|      QF301| 16625|
|      QF500|   959|
|      VN772|  5407|
|     CZ3645|    58|
|      QF556|    14|
|      D7331| 18196|
|      MU728|  1308|
|      NZ118|  2389|
|     CZ3610|   535|
|      SQ835|    72|
|      QF407|  7568|
|     MU5369|    52|
|      TG472| 20164|
|     CX5805|  4088|
|     MU4204|   120|
|     MU6087|  1314|
|      MH122| 16777|
|      QF437|   212|
|      QF499|     5|
|      QF411| 10543|
|     VA5549|   691|
|     CZ4010|   130|
|      JL872|    74|
|     FJ5322|  9081|
|     CX5891|  7051|
|      CX110|148250|
|      QF441|   359|
|      VA814|   542|
|      QF512| 10498|
|      QF403|  3291|
|     CX5835|  5942|
|      QF423|   118|
|     CZ3582|  3120|
|     MU5371|   166|
|     HU7998| 32530|
|     CX5865|  2692|
|     CZ3236|  5040|
|      QF367|   729|
|      FM827|     6|
|      KE898|  6598|
|      OZ362|  1346|
|      KE894|  1187|
|      VA800|  2021|
|      QF145|     6|
|      MU737|   434|
|     CA1520|   684|
|      QF425|   145|
|     QF5001|     1|
|      JL772| 35157|
|      QF435|   240|
|      CX100| 10295|
|      QF463|   462|
|     CA3221|     2|
|      NH880| 42670|
|     MF8542|  1924|
|     MU5123|    36|
|      OZ602| 21762|
|     MU6143|   355|
|     MU5812|    68|
|       QF81|  1574|
|     MU5119|    13|
|     QF1333|    11|
|     CX5893|  4302|
|     FJ5320| 29478|
|      QF415|  7023|
|     MU6149|   648|
|     VA5551|  3316|
|      LA800|   370|
|     NZ3892|  4779|
|     CA4504|  1689|
|     KE5886|   473|
|      GA895|  2306|
|     KE5864|    19|
|     3U8972|   930|
|     NZ3891|   229|
|      QF479|  1401|
|     KE5808|    50|
|     MU5802|    70|
|      QF445|   103|
|     TG4761|     5|
|      QF491|    75|
|     CA4516|   176|
|      KE122| 29892|
|      QF465|   180|
|      3U606| 21480|
|      CX367|  1706|
|      QF389|     1|
|      VN531|  1242|
|     MU8438|   251|
|     MU2692|  1053|
|     MU6151|   513|
|     CA4592|   656|
|     CA1522|  1220|
|      JQ503|     3|
|     MU8450|   549|
|     CX5803|   227|
|     CA1584|   129|
|      QF413|  6636|
|      NZ104|  8700|
|      QF473|  2379|
|      QF489|    55|
|     CZ3614|  2132|
|     CZ3590|   686|
|     CX5875|  5135|
|      QF495|   626|
|      GA715|  7810|
|      CA177|    55|
|       AC34|    62|
|     CX5883|   697|
|      QF303|  6127|
|     HO1125|   105|
|     MF8522|  1189|
|     MU6781|    58|
|     MF8502|   865|
|      OZ368|   344|
|      MU712|  6098|
|     HU7816|  1962|
|      VA808|  4637|
|     CZ3524|   846|
|      VA810|   132|
|      CA430|  9850|
|     MU2510|   156|
|      NZ102|  1439|
|     CA1502|   606|
|      MH140| 17348|
|      SQ222| 10609|
|      GA713| 11438|
|     CA1558|   731|
|     CA1949|  1146|
|      QF421|   135|
|     MU5113|     3|
+-----------+------+

+--------------------+------+
|               plane| count|
+--------------------+------+
|         Airbus A319|   166|
|AIRBUS INDUSTRIE ...|215550|
|NOTE: THIS IS TRA...|  5151|
|BOEING 737-800 (W...|107928|
|          Boeing 737|  1606|
|    BOEING 777-300ER|323202|
|          Boeing 757|   147|
|         Airbus A321| 24167|
|          Boeing 767|    18|
|      Boeing 737-900|     1|
|AIRBUS INDUSTRIE ...|  9388|
|Airbus Industrie ...| 42211|
|BOEING 777-300 PA...|  8516|
|        BOEING 787-9| 89384|
|      Boeing 767-300|     4|
|         Embraer 190|   158|
|772 - BOEING 777/200| 27564|
|          Boeing 787| 42376|
|AIRBUS INDUSTRIE ...|466299|
|NOTE:  THIS IS BU...|   287|
|         Airbus A320| 34000|
|      Boeing 737-800| 19776|
|BOEING 737-700 (W...|    54|
|         Airbus A340|   457|
|                    | 74199|
|         Airbus A330|279193|
|    BOEING 777-200LR| 15355|
|          Boeing 747| 19401|
|        Boeing 787-8|  5109|
|      Boeing 747-400| 24085|
+--------------------+------+

+--------------+------+
|arr_time_group| count|
+--------------+------+
|     afternoon|408728|
|       morning|629869|
|       evening|732401|
| early morning| 64754|
+--------------+------+

+--------------+------+
|dep_time_group| count|
+--------------+------+
|     afternoon|306784|
|       morning|780710|
|       evening|715389|
| early morning| 32869|
+--------------+------+

+-----------+------+
|dep_weekday| count|
+-----------+------+
|          3|259307|
|          0|261083|
|          5|261913|
|          6|263861|
|          1|263950|
|          4|261794|
|          2|263844|
+-----------+------+

In [17]:
cols = ['price_will_drop', 'price', 'few_tickets_left', 'from_city_name', 'to_city_name', 'trip', 'stay_days',
                          'company', 'flight_code', 'plane', 'span_days', 'stop',
                         'power', 'video', 'wifi', 'check_bag_not_inc', 
                         'dep_time_group', 'arr_time_group',  
                         'lead_time', 'dep_weekday', 'dep_weeknum', 
                         'days_to_last_holiday', 'days_to_next_holiday',                         
                         'duration_minutes', 'stop_minutes']

for c in cols:
    display(c + " :" + str(flight7.where(col(c).isNull()).count()))

'price_will_drop :0'

'price :0'

'few_tickets_left :0'

'from_city_name :0'

'to_city_name :0'

'trip :0'

'stay_days :0'

'company :0'

'flight_code :0'

'plane :0'

'span_days :0'

'stop :0'

'power :0'

'video :0'

'wifi :0'

'check_bag_not_inc :0'

'dep_time_group :0'

'arr_time_group :0'

'lead_time :0'

'dep_weekday :0'

'dep_weeknum :0'

'days_to_last_holiday :0'

'days_to_next_holiday :0'

'duration_minutes :0'

'stop_minutes :0'

In [18]:
flight7.show(2)
flight7.count()

+-------------------+-------+----------------+--------------+------------+----+---------+--------------+-----------+--------------------+---------+----+-----+-----+-----+-----------------+--------------+--------------+---------+-----------+-----------+--------------------+--------------------+----------------+------------+
|price_will_drop_num|  price|few_tickets_left|from_city_name|to_city_name|trip|stay_days|       company|flight_code|               plane|span_days|stop|power|video| wifi|check_bag_not_inc|dep_time_group|arr_time_group|lead_time|dep_weekday|dep_weeknum|days_to_last_holiday|days_to_next_holiday|duration_minutes|stop_minutes|
+-------------------+-------+----------------+--------------+------------+----+---------+--------------+-----------+--------------------+---------+----+-----+-----+-----+-----------------+--------------+--------------+---------+-----------+-----------+--------------------+--------------------+----------------+------------+
|                  1|1671.42|            true|        sydney|    shanghai|   1|        0|Qantas Airways|      QF129|AIRBUS INDUSTRIE ...|        0|   0|false| true|false|            false|       morning|       evening|        3|          4|         14|                  -3|                  24|             655|           0|
|                  0| 949.42|            true|        sydney|    shanghai|   1|        0|Qantas Airways|      QF129|AIRBUS INDUSTRIE ...|        0|   0|false| true|false|            false|       morning|       evening|        1|          4|         14|                  -3|                  24|             655|           0|
+-------------------+-------+----------------+--------------+------------+----+---------+--------------+-----------+--------------------+---------+----+-----+-----+-----+-----------------+--------------+--------------+---------+-----------+-----------+--------------------+--------------------+----------------+------------+
only showing top 2 rows

1835752

In [20]:
# flight7 = flight7.na.drop()
output = pipeline.fit(flight7).transform(flight7)
output = output.withColumnRenamed('price_will_drop_num', 'label')
output.cache()

DataFrame[label: int, price: double, few_tickets_left: boolean, from_city_name: string, to_city_name: string, trip: string, stay_days: int, company: string, flight_code: string, plane: string, span_days: int, stop: int, power: boolean, video: boolean, wifi: boolean, check_bag_not_inc: boolean, dep_time_group: string, arr_time_group: string, lead_time: int, dep_weekday: string, dep_weeknum: int, days_to_last_holiday: int, days_to_next_holiday: int, duration_minutes: int, stop_minutes: int, from_city_name_tmp: double, from_city_name_catVec: vector, to_city_name_tmp: double, to_city_name_catVec: vector, trip_tmp: double, trip_catVec: vector, company_tmp: double, company_catVec: vector, flight_code_tmp: double, flight_code_catVec: vector, plane_tmp: double, plane_catVec: vector, arr_time_group_tmp: double, arr_time_group_catVec: vector, dep_time_group_tmp: double, dep_time_group_catVec: vector, dep_weekday_tmp: double, dep_weekday_catVec: vector, features: vector]

In [21]:
output.show(2)

Py4JError: An error occurred while calling o648.showString

In [ ]:
# flight4.columns

In [ ]:
# flight4.select('stay_days',
#  'power', 
#  'span_days',
#  'stop',
#  'video',
#  'wifi',
#  'duration_minutes',
#  'dep_weeknum',
#  'lead_time',
#  'trip_index',
#  'arr_time_group_index',
#  'to_city_name_index',
#  'ticket_left_index',
#  'company_index',
#  'from_city_name_index',
#  'airline_code_index',
#  'plane_index',
#  'check_bag_not_inc_index',
#  'dep_weekday_index',
#  'dep_time_group_index').dtypes

In [ ]:
# from pyspark.ml.linalg import Vectors
# from pyspark.ml.feature import VectorAssembler

# # from pyspark.ml.feature import VectorAssembler

# # ignore = ['id', 'label', 'binomial_label']
# # assembler = VectorAssembler(
# #     inputCols=[x for x in df.columns if x not in ignore],
# #     outputCol='features')

# # assembler.transform(df)
# # arr_time_group

# assembler = VectorAssembler(    
#     inputCols=[
#  'stay_days',
#  'power', 
#  'span_days',
#  'stop',
#  'video',
#  'wifi',
#  'duration_minutes', 
#  'dep_weeknum',
#  'lead_time',
#  'trip_index',
#  'arr_time_group_index',
#  'to_city_name_index',
#  'ticket_left_index',
#  'company_index',
#  'from_city_name_index',
#  'airline_code_index',
#  'plane_index',
#  'check_bag_not_inc_index',
#  'dep_weekday_index',
#  'dep_time_group_index'],
#     outputCol="features")

# output = assembler.transform(flight4)
# # print("Assembled columns 'hour', 'mobile', 'userFeatures' to vector column 'features'")
# # output.select("features", "clicked").show(truncate=False)
# output = output.withColumnRenamed('price', 'label')
# output.show(5, truncate=False)

In [22]:
display(output.count(), flight6.count(), flight7.count())

Py4JNetworkError: An error occurred while trying to connect to the Java server (127.0.0.1:40455)

In [12]:
# output.coalesce(2).write.parquet("C:\\s3\\20170503_jsonl\\output.parquet")
output.coalesce(2).write.parquet("/home/ubuntu/parquet/output.parquet/output.parquet")

In [6]:
output = spark.read.parquet("/home/ubuntu/parquet/output.parquet/output.parquet")

In [12]:
output.count()

18379

In [11]:
output = output.sample(False, 0.1, seed=0)

In [13]:
output.count()
output.printSchema()
output.show(2)

root
 |-- label: integer (nullable = true)
 |-- price: double (nullable = true)
 |-- few_tickets_left: boolean (nullable = true)
 |-- from_city_name: string (nullable = true)
 |-- to_city_name: string (nullable = true)
 |-- trip: string (nullable = true)
 |-- stay_days: integer (nullable = true)
 |-- company: string (nullable = true)
 |-- flight_code: string (nullable = true)
 |-- plane: string (nullable = true)
 |-- span_days: integer (nullable = true)
 |-- stop: integer (nullable = true)
 |-- power: boolean (nullable = true)
 |-- video: boolean (nullable = true)
 |-- wifi: boolean (nullable = true)
 |-- check_bag_not_inc: boolean (nullable = true)
 |-- dep_time_group: string (nullable = true)
 |-- arr_time_group: string (nullable = true)
 |-- lead_time: integer (nullable = true)
 |-- dep_weekday: string (nullable = true)
 |-- dep_weeknum: integer (nullable = true)
 |-- days_to_last_holiday: integer (nullable = true)
 |-- days_to_next_holiday: integer (nullable = true)
 |-- duration_minutes: integer (nullable = true)
 |-- stop_minutes: integer (nullable = true)
 |-- from_city_name_tmp: double (nullable = true)
 |-- from_city_name_catVec: vector (nullable = true)
 |-- to_city_name_tmp: double (nullable = true)
 |-- to_city_name_catVec: vector (nullable = true)
 |-- trip_tmp: double (nullable = true)
 |-- trip_catVec: vector (nullable = true)
 |-- company_tmp: double (nullable = true)
 |-- company_catVec: vector (nullable = true)
 |-- flight_code_tmp: double (nullable = true)
 |-- flight_code_catVec: vector (nullable = true)
 |-- plane_tmp: double (nullable = true)
 |-- plane_catVec: vector (nullable = true)
 |-- arr_time_group_tmp: double (nullable = true)
 |-- arr_time_group_catVec: vector (nullable = true)
 |-- dep_time_group_tmp: double (nullable = true)
 |-- dep_time_group_catVec: vector (nullable = true)
 |-- dep_weekday_tmp: double (nullable = true)
 |-- dep_weekday_catVec: vector (nullable = true)
 |-- features: vector (nullable = true)

+-----+-------+----------------+--------------+------------+----+---------+--------------------+-----------+--------------------+---------+----+-----+-----+-----+-----------------+--------------+--------------+---------+-----------+-----------+--------------------+--------------------+----------------+------------+------------------+---------------------+----------------+-------------------+--------+-------------+-----------+--------------+---------------+------------------+---------+--------------+------------------+---------------------+------------------+---------------------+---------------+------------------+--------------------+
|label|  price|few_tickets_left|from_city_name|to_city_name|trip|stay_days|             company|flight_code|               plane|span_days|stop|power|video| wifi|check_bag_not_inc|dep_time_group|arr_time_group|lead_time|dep_weekday|dep_weeknum|days_to_last_holiday|days_to_next_holiday|duration_minutes|stop_minutes|from_city_name_tmp|from_city_name_catVec|to_city_name_tmp|to_city_name_catVec|trip_tmp|  trip_catVec|company_tmp|company_catVec|flight_code_tmp|flight_code_catVec|plane_tmp|  plane_catVec|arr_time_group_tmp|arr_time_group_catVec|dep_time_group_tmp|dep_time_group_catVec|dep_weekday_tmp|dep_weekday_catVec|            features|
+-----+-------+----------------+--------------+------------+----+---------+--------------------+-----------+--------------------+---------+----+-----+-----+-----+-----------------+--------------+--------------+---------+-----------+-----------+--------------------+--------------------+----------------+------------+------------------+---------------------+----------------+-------------------+--------+-------------+-----------+--------------+---------------+------------------+---------+--------------+------------------+---------------------+------------------+---------------------+---------------+------------------+--------------------+
|    0| 689.52|            true|        sydney|    shanghai|   1|        0|China Southern Ai...|      CZ302|         Airbus A330|        0|   1|false|false|false|            false|       evening|     afternoon|       47|          5|         23|                 -11|                 113|            1060|           0|               0.0|        (1,[0],[1.0])|             0.0|      (1,[0],[1.0])|     1.0|(2,[1],[1.0])|        1.0|(28,[1],[1.0])|            2.0|   (323,[2],[1.0])|      2.0|(30,[2],[1.0])|               2.0|        (4,[2],[1.0])|               1.0|        (4,[1],[1.0])|            3.0|     (7,[3],[1.0])|(415,[0,1,4,9,10,...|
|    1|1025.42|            true|        sydney|    shanghai|   1|        0|   Malaysia Airlines|      MH140|AIRBUS INDUSTRIE ...|        0|   1|false|false|false|            false|       evening|     afternoon|       64|          3|         26|                 -30|                  94|            1085|           0|               0.0|        (1,[0],[1.0])|             0.0|      (1,[0],[1.0])|     1.0|(2,[1],[1.0])|        9.0|(28,[9],[1.0])|           24.0|  (323,[24],[1.0])|      0.0|(30,[0],[1.0])|               2.0|        (4,[2],[1.0])|               1.0|        (4,[1],[1.0])|            6.0|     (7,[6],[1.0])|(415,[0,1,4,9,10,...|
+-----+-------+----------------+--------------+------------+----+---------+--------------------+-----------+--------------------+---------+----+-----+-----+-----+-----------------+--------------+--------------+---------+-----------+-----------+--------------------+--------------------+----------------+------------+------------------+---------------------+----------------+-------------------+--------+-------------+-----------+--------------+---------------+------------------+---------+--------------+------------------+---------------------+------------------+---------------------+---------------+------------------+--------------------+
only showing top 2 rows

# interlude to model in h2o (not sparkling water)  
When converting the whole dataset to pandas dataframe, there was not enough RAM, JAVA was forced to shutdown!!!

In [14]:
output.printSchema()
output2 = output.select('label', 'features')
# output2 = output.select('label', 'features').rdd

root
 |-- label: integer (nullable = true)
 |-- price: double (nullable = true)
 |-- few_tickets_left: boolean (nullable = true)
 |-- from_city_name: string (nullable = true)
 |-- to_city_name: string (nullable = true)
 |-- trip: string (nullable = true)
 |-- stay_days: integer (nullable = true)
 |-- company: string (nullable = true)
 |-- flight_code: string (nullable = true)
 |-- plane: string (nullable = true)
 |-- span_days: integer (nullable = true)
 |-- stop: integer (nullable = true)
 |-- power: boolean (nullable = true)
 |-- video: boolean (nullable = true)
 |-- wifi: boolean (nullable = true)
 |-- check_bag_not_inc: boolean (nullable = true)
 |-- dep_time_group: string (nullable = true)
 |-- arr_time_group: string (nullable = true)
 |-- lead_time: integer (nullable = true)
 |-- dep_weekday: string (nullable = true)
 |-- dep_weeknum: integer (nullable = true)
 |-- days_to_last_holiday: integer (nullable = true)
 |-- days_to_next_holiday: integer (nullable = true)
 |-- duration_minutes: integer (nullable = true)
 |-- stop_minutes: integer (nullable = true)
 |-- from_city_name_tmp: double (nullable = true)
 |-- from_city_name_catVec: vector (nullable = true)
 |-- to_city_name_tmp: double (nullable = true)
 |-- to_city_name_catVec: vector (nullable = true)
 |-- trip_tmp: double (nullable = true)
 |-- trip_catVec: vector (nullable = true)
 |-- company_tmp: double (nullable = true)
 |-- company_catVec: vector (nullable = true)
 |-- flight_code_tmp: double (nullable = true)
 |-- flight_code_catVec: vector (nullable = true)
 |-- plane_tmp: double (nullable = true)
 |-- plane_catVec: vector (nullable = true)
 |-- arr_time_group_tmp: double (nullable = true)
 |-- arr_time_group_catVec: vector (nullable = true)
 |-- dep_time_group_tmp: double (nullable = true)
 |-- dep_time_group_catVec: vector (nullable = true)
 |-- dep_weekday_tmp: double (nullable = true)
 |-- dep_weekday_catVec: vector (nullable = true)
 |-- features: vector (nullable = true)

In [15]:
output2.count()

18379

In [18]:
# output2.count()
flight_pd = output.select('label', 'price', 'few_tickets_left', 
                          'from_city_name', 'to_city_name', 'trip', 'stay_days',
                          'company', 'flight_code', 'plane', 'span_days', 'stop',
                         'power', 'video', 'wifi', 'check_bag_not_inc', 
                         'dep_time_group', 'arr_time_group',  
                         'lead_time', 'dep_weekday', 'dep_weeknum', 
                         'days_to_last_holiday', 'days_to_next_holiday',                         
                         'duration_minutes', 'stop_minutes').toPandas()
flight_pd.head()

,label,price,few_tickets_left,from_city_name,to_city_name,trip,stay_days,company,flight_code,plane,...,check_bag_not_inc,dep_time_group,arr_time_group,lead_time,dep_weekday,dep_weeknum,days_to_last_holiday,days_to_next_holiday,duration_minutes,stop_minutes
0,0,689.52,True,sydney,shanghai,1,0,China Southern Airlines,CZ302,Airbus A330,...,False,evening,afternoon,47,5,23,-11,113,1060,0
1,1,1025.42,True,sydney,shanghai,1,0,Malaysia Airlines,MH140,AIRBUS INDUSTRIE A330-300,...,False,evening,afternoon,64,3,26,-30,94,1085,0
2,1,1283.27,True,sydney,shanghai,1,0,Qantas Airways,QF508,BOEING 737-800 (WINGLETS) PASSENGER,...,False,morning,evening,71,3,27,-37,87,860,0
3,0,723.82,True,sydney,shanghai,1,0,Cathay Pacific,CX138,BOEING 777-300ER,...,False,evening,evening,91,2,28,-43,81,1540,0
4,0,663.82,True,sydney,shanghai,1,0,China Eastern Airlines,MU8440,AIRBUS INDUSTRIE A330-300,...,False,morning,evening,84,0,29,-48,76,655,0

In [19]:
# flight_pd.to_csv('C:\\s3\\20170503_jsonl\\flight_pd.csv', sep='\t')
flight_pd.to_csv('/home/ubuntu/parquet/flight_pd.csv', sep='\t')

In [20]:
h2o.init()
# from h2o.estimators.gbm import H2OGradientBoostingEstimator

# hf = h2o.H2OFrame(flight_pd)

Checking whether there is an H2O instance running at http://localhost:54321..... not found.
Attempting to start a local H2O server...
  Java Version: openjdk version "1.8.0_131"; OpenJDK Runtime Environment (build 1.8.0_131-8u131-b11-0ubuntu1.16.04.2-b11); OpenJDK 64-Bit Server VM (build 25.131-b11, mixed mode)
  Starting server from /home/ubuntu/anaconda3/lib/python3.5/site-packages/h2o/backend/bin/h2o.jar
  Ice root: /tmp/tmp2iu8aa2f
  JVM stdout: /tmp/tmp2iu8aa2f/h2o_ubuntu_started_from_python.out
  JVM stderr: /tmp/tmp2iu8aa2f/h2o_ubuntu_started_from_python.err
  Server is running at http://127.0.0.1:54321
Connecting to H2O server at http://127.0.0.1:54321... successful.

--------------------------  ------------------------------
H2O cluster uptime:         05 secs
H2O cluster version:        3.10.4.6
H2O cluster version age:    16 days
H2O cluster name:           H2O_from_python_ubuntu_x1de28
H2O cluster total nodes:    1
H2O cluster free memory:    232.5 Mb
H2O cluster total cores:    1
H2O cluster allowed cores:  1
H2O cluster status:         accepting new members, healthy
H2O connection url:         http://127.0.0.1:54321
H2O connection proxy:
H2O internal security:      False
Python version:             3.5.2 final
--------------------------  ------------------------------

In [21]:
import pandas as pd
flight_pd=pd.read_csv("/home/ubuntu/parquet/flight_pd.csv", delimiter='\t')

In [22]:
# flight_pd.head()
# help(pd.read_csv)
flight_hex = h2o.H2OFrame(flight_pd)

Parse progress: |âââââââââââââââââââââââââââââââââââââââââââââââââââââââââ| 100%

In [23]:
train, valid, test = flight_hex.split_frame([0.6, 0.2], seed=1234)

flight_X = flight_hex.col_names[2:]
flight_y = flight_hex.col_names[1]

In [24]:
from h2o.estimators.gbm import H2OGradientBoostingEstimator
from h2o.estimators.random_forest import H2ORandomForestEstimator

rf_v1 = H2ORandomForestEstimator(
    model_id="rf_v1",
    ntrees=200,
    stopping_rounds=2,
    score_each_iteration=True,
    seed=1000000)

rf_v1.train(flight_X, flight_y, training_frame=train, validation_frame=valid)
rf_v1
rf_v1.score_history()
model_path = h2o.save_model(model=rf_v1, path="C:\\s3\\20170503_jsonl", force=True)
print(model_path)

drf Model Build progress: |âââââââââââââââââââââââââââââââââââââââââââââââ| 100%
/home/ubuntu/.jupyter/flight_project/C:\s3\20170503_jsonl/rf_v1

In [25]:
rf_v1

Model Details
=============
H2ORandomForestEstimator :  Distributed Random Forest
Model Key:  rf_v1


ModelMetricsRegression: drf
** Reported on train data. **

MSE: 0.16125699307615135
RMSE: 0.4015681674089112
MAE: 0.29576985113399795
RMSLE: 0.2812286384019287
Mean Residual Deviance: 0.16125699307615135

ModelMetricsRegression: drf
** Reported on validation data. **

MSE: 0.14772317434168744
RMSE: 0.3843477258182848
MAE: 0.2896960866913029
RMSLE: 0.26993483527383644
Mean Residual Deviance: 0.14772317434168744
Scoring History:

     timestamp            duration    number_of_trees    training_rmse        training_mae         training_deviance    validation_rmse      validation_mae       validation_deviance
---  -------------------  ----------  -----------------  -------------------  -------------------  -------------------  -------------------  -------------------  ---------------------
     2017-05-13 12:52:38  0.052 sec   0.0                nan                  nan                  nan                  nan                  nan                  nan
     2017-05-13 12:52:39  0.773 sec   1.0                0.5375520890856962   0.2919110682984847   0.28896224848039626  0.5433975849996553   0.29766256910283867  0.29528093538345757
     2017-05-13 12:52:39  1.137 sec   2.0                0.5221193567336646   0.29769227043338264  0.27260862267597574  0.47125920853624204  0.2990893967157407   0.22208524163020527
     2017-05-13 12:52:39  1.453 sec   3.0                0.505002970539796    0.29360235806128787  0.25502800025401806  0.4416677627010321   0.2929564319082589   0.1950704126093352
     2017-05-13 12:52:39  1.713 sec   4.0                0.4906770015861094   0.2913865270721407   0.2407639198855348   0.4279878104120086   0.2926596799762274   0.18317356586126543
---  ---                  ---         ---                ---                  ---                  ---                  ---                  ---                  ---
     2017-05-13 12:52:44  6.563 sec   27.0               0.40362007440923525  0.29465060071844923  0.16290916446611658  0.3850147865336862   0.28891006232890354  0.14823638584957996
     2017-05-13 12:52:45  6.746 sec   28.0               0.402984498333078    0.2951376407251492   0.16239650589676255  0.3846212910569458   0.2890856678756642   0.14793353753431182
     2017-05-13 12:52:45  6.912 sec   29.0               0.4023412633786928   0.2951724486234276   0.16187849221716266  0.3843000528027514   0.2891585751420258   0.14768653058419753
     2017-05-13 12:52:45  7.214 sec   30.0               0.4023115810357749   0.2960082168404483   0.16185460823550488  0.3844270063492678   0.2898464050616378   0.14778412321065998
     2017-05-13 12:52:45  7.521 sec   31.0               0.4015681674089112   0.29576985113399795  0.16125699307615135  0.3843477258182848   0.2896960866913029   0.14772317434168744

See the whole table with table.as_data_frame()
Variable Importances:

variable              relative_importance    scaled_importance    percentage
--------------------  ---------------------  -------------------  ------------
price                 8528.52                1                    0.167018
flight_code           8061.08                0.945192             0.157864
lead_time             6366.93                0.746546             0.124687
days_to_last_holiday  3866.34                0.453342             0.0757164
few_tickets_left      3569.98                0.418593             0.0699126
dep_weeknum           3275.12                0.38402              0.0641384
stay_days             3227.57                0.378444             0.0632071
dep_weekday           2826.22                0.331384             0.0553472
duration_minutes      2584.96                0.303096             0.0506226
days_to_next_holiday  2132.41                0.250032             0.04176
company               2103.76                0.246674             0.041199
plane                 1542.78                0.180896             0.030213
trip                  1051.58                0.123301             0.0205935
arr_time_group        930.657                0.109123             0.0182255
dep_time_group        459.939                0.0539296            0.00900722
video                 300.218                0.0352017            0.00587933
power                 154.563                0.0181231            0.00302689
stop                  73.621                 0.00863233           0.00144176
stop_minutes          7.15665                0.000839143          0.000140152

In [26]:
# output2.take(2)
(trainingData, testData) = output2.randomSplit([0.7, 0.3])

# Stopped here! 20170513

In [35]:
from time import time
from pyspark.ml.classification import LogisticRegression

# Load training data
# training = spark.read.format("libsvm").load("data/mllib/sample_libsvm_data.txt")

lr = LogisticRegression(maxIter=100, regParam=0.1, elasticNetParam=0.8)

# Fit the model
t0 = time()
lrModel = lr.fit(trainingData)
tt = time() - t0

# Print the coefficients and intercept for logistic regression
print("Classifier trained in " + str(tt) + " seconds.")
print("Coefficients: " + str(lrModel.coefficients))
print("Intercept: " + str(lrModel.intercept))

Classifier trained in 117.26345801353455 seconds.
Coefficients: (415,[1,17,18],[-0.636888486254,0.02752806023,-0.0236746971456])
Intercept: -0.15746604930887775

In [36]:
from pyspark.ml.classification import LogisticRegression

# Extract the summary from the returned LogisticRegressionModel instance trained
# in the earlier example
trainingSummary = lrModel.summary

# Obtain the objective per iteration
objectiveHistory = trainingSummary.objectiveHistory
print("objectiveHistory:")
for objective in objectiveHistory:
    print(objective)

# Obtain the receiver-operating characteristic as a dataframe and areaUnderROC.
trainingSummary.roc.show()
print("areaUnderROC: " + str(trainingSummary.areaUnderROC))

# Set the model threshold to maximize F-Measure
fMeasure = trainingSummary.fMeasureByThreshold
maxFMeasure = fMeasure.groupBy().max('F-Measure').select('max(F-Measure)').head()
bestThreshold = fMeasure.where(fMeasure['F-Measure'] == maxFMeasure['max(F-Measure)']) \
    .select('threshold').head()['threshold']
lr.setThreshold(bestThreshold)

objectiveHistory:
0.65965578316531
0.65711778074993
0.6526917948919334
0.6500999301284001
0.6492599933704122
0.6489641671631153
0.6485216921434988
0.6484842065443268
0.6483063221990527
0.6482723762111214
0.6482516218060789
0.6482254209192646
0.6481976474933386
0.6481650074625309
0.6481069533543712
0.6477526451025746
0.6475130339686226
0.6474578323572088
0.647396090473081
0.6473465984142018
0.6472936896040737
0.6472569602439301
0.6472170722058855
0.6471895139254257
0.6471591800353315
0.6471434501387139
0.6470705812041906
0.6470686210102691
0.6470669959768485
0.6470618925480771
0.647060755627432
0.6470597286031927
0.6470580906753532
0.6470578826597967
0.64705783197502
0.6470577567273563
0.6470576866332658
0.6470576435581784
0.6470576237233439
0.6470575811617785
0.6470575110695101
0.6470572963566015
0.6470572552241214
0.6470571417411584
0.6470571010875171
0.647057036177969
0.6470570151283103
0.6470569585685809
0.6470568210794492
0.6470567704462217
0.6470567477581171
0.6470566341047528
0.6470566096080839
0.6470564978490837
0.6470564467918238
0.6470564407736182
0.6470564322263362
0.6470563961325915
0.647056383688619
0.6470563557068195
0.647056329659766
0.6470563043774867
0.6470562874789451
0.6470562642642851
0.6470562542147861
0.647056237214919
0.6470562284385118
0.6470562112589087
0.6470562039309504
0.6470562028423321
0.6470561987141671
0.6470561970695624
0.647056193259162
0.6470561924139273
0.6470561891902595
0.6470561875893502
0.6470561852618576
0.6470561835460706
0.6470561819200972
0.6470561799415141
0.647056178638611
0.6470561768038378
0.6470561757344877
0.6470561739912609
0.6470561727749966
0.6470561718790174
0.6470561706510145
0.647056169713758
0.6470561687872372
0.6470561678742499
0.6470561671880762
0.647056166319005
0.6470561656378336
0.6470561646383202
0.6470561644815959
0.6470561632939417
0.6470561629643342
0.6470561620783383
0.6470561616501709
0.6470561609396622
0.6470561603209987
+-------------------+------------------+
|                FPR|               TPR|
+-------------------+------------------+
|                0.0|               0.0|
| 0.2442847811887655|0.5750950351342011|
|0.24883592621182432|0.5803311306824727|
| 0.7814003028323734|0.9500518373459279|
|                1.0|               1.0|
|                1.0|               1.0|
+-------------------+------------------+

areaUnderROC: 0.6935268346641583

LogisticRegression_4eefbed75b8eca6922ce

In [39]:
# Make predictions.
predictions = lrModel.transform(testData)

# Select example rows to display.
predictions.select("prediction", "label", "features").show(5)
predictions.select('label', 'prediction').coalesce(1).write.csv('D://Data Science//pySpark//check_pred7.csv')

+----------+-----+--------------------+
|prediction|label|            features|
+----------+-----+--------------------+
|       0.0|    0|(415,[0,1,2,4,5,6...|
|       0.0|    0|(415,[0,1,2,4,5,6...|
|       0.0|    0|(415,[0,1,2,4,5,6...|
|       0.0|    0|(415,[0,1,2,4,5,6...|
|       0.0|    0|(415,[0,1,2,4,5,6...|
+----------+-----+--------------------+
only showing top 5 rows

Py4JJavaError: An error occurred while calling o884.csv.
: java.lang.UnsupportedOperationException: CSV data source does not support struct<type:tinyint,size:int,indices:array<int>,values:array<double>> data type.
	at org.apache.spark.sql.execution.datasources.csv.CSVFileFormat.org$apache$spark$sql$execution$datasources$csv$CSVFileFormat$$verifyType$1(CSVFileFormat.scala:233)
	at org.apache.spark.sql.execution.datasources.csv.CSVFileFormat$$anonfun$verifySchema$1.apply(CSVFileFormat.scala:237)
	at org.apache.spark.sql.execution.datasources.csv.CSVFileFormat$$anonfun$verifySchema$1.apply(CSVFileFormat.scala:237)
	at scala.collection.Iterator$class.foreach(Iterator.scala:893)
	at scala.collection.AbstractIterator.foreach(Iterator.scala:1336)
	at scala.collection.IterableLike$class.foreach(IterableLike.scala:72)
	at org.apache.spark.sql.types.StructType.foreach(StructType.scala:96)
	at org.apache.spark.sql.execution.datasources.csv.CSVFileFormat.verifySchema(CSVFileFormat.scala:237)
	at org.apache.spark.sql.execution.datasources.csv.CSVFileFormat.prepareWrite(CSVFileFormat.scala:121)
	at org.apache.spark.sql.execution.datasources.FileFormatWriter$.write(FileFormatWriter.scala:108)
	at org.apache.spark.sql.execution.datasources.InsertIntoHadoopFsRelationCommand.run(InsertIntoHadoopFsRelationCommand.scala:101)
	at org.apache.spark.sql.execution.command.ExecutedCommandExec.sideEffectResult$lzycompute(commands.scala:58)
	at org.apache.spark.sql.execution.command.ExecutedCommandExec.sideEffectResult(commands.scala:56)
	at org.apache.spark.sql.execution.command.ExecutedCommandExec.doExecute(commands.scala:74)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$execute$1.apply(SparkPlan.scala:114)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$execute$1.apply(SparkPlan.scala:114)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$executeQuery$1.apply(SparkPlan.scala:135)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:151)
	at org.apache.spark.sql.execution.SparkPlan.executeQuery(SparkPlan.scala:132)
	at org.apache.spark.sql.execution.SparkPlan.execute(SparkPlan.scala:113)
	at org.apache.spark.sql.execution.QueryExecution.toRdd$lzycompute(QueryExecution.scala:87)
	at org.apache.spark.sql.execution.QueryExecution.toRdd(QueryExecution.scala:87)
	at org.apache.spark.sql.execution.datasources.DataSource.write(DataSource.scala:492)
	at org.apache.spark.sql.DataFrameWriter.save(DataFrameWriter.scala:215)
	at org.apache.spark.sql.DataFrameWriter.save(DataFrameWriter.scala:198)
	at org.apache.spark.sql.DataFrameWriter.csv(DataFrameWriter.scala:579)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(Unknown Source)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(Unknown Source)
	at java.lang.reflect.Method.invoke(Unknown Source)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:280)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.GatewayConnection.run(GatewayConnection.java:214)
	at java.lang.Thread.run(Unknown Source)

In [ ]:
from pyspark.ml import Pipeline
# from pyspark.ml.regression import RandomForestRegressor
from pyspark.ml.classification import GBTClassifier
from pyspark.ml.feature import VectorIndexer
# from pyspark.ml.evaluation import RegressionEvaluator
from pyspark.ml.evaluation import BinaryClassificationEvaluator

# Load and parse the data file, converting it to a DataFrame.
# data = spark.read.format("libsvm").load("data/mllib/sample_libsvm_data.txt")

# Automatically identify categorical features, and index them.
# Set maxCategories so features with > 4 distinct values are treated as continuous.
featureIndexer =\
    VectorIndexer(inputCol="features", outputCol="indexedFeatures", maxCategories=100).fit(output)
    
# Split the data into training and test sets (30% held out for testing)
(trainingData, testData) = output.randomSplit([0.7, 0.3])

# Train a RandomForest model.
# rf = RandomForestRegressor(featuresCol="indexedFeatures", numTrees=1000, featureSubsetStrategy="auto",
#                                     impurity='variance', maxDepth=4, maxBins=32)
gbt = GBTClassifier(labelCol="label", featuresCol="indexedFeatures", maxIter=10)

# Chain indexer and forest in a Pipeline
pipeline = Pipeline(stages=[featureIndexer, gbt])

# Train model.  This also runs the indexer.
model = pipeline.fit(trainingData)

# Make predictions.
predictions = model.transform(testData)

# Select example rows to display.
predictions.select("prediction", "label", "features").show(5)

# Select (prediction, true label) and compute test error
# evaluator = RegressionEvaluator(
#     labelCol="label", predictionCol="prediction", metricName="rmse")
evaluator = BinaryClassificationEvaluator(
    labelCol="label", predictionCol="prediction")
auc = evaluator.evaluate(predictions)
print("Area under the curve (AUC) on test data = %g" % auc)

gbtModel = model.stages[1]
print(gbtModel)  # summary only

In [ ]:
from pyspark.ml.classification import LogisticRegression

# Load training data
# training = spark.read.format("libsvm").load("data/mllib/sample_libsvm_data.txt")
flight7.withColumnRenamed('price_will_drop_num', 'label')

lr = LogisticRegression(maxIter=10, regParam=0.3, elasticNetParam=0.8)

# Fit the model
lrModel = lr.fit(training)

# Print the coefficients and intercept for logistic regression
print("Coefficients: " + str(lrModel.coefficients))
print("Intercept: " + str(lrModel.intercept))

how to score model manually: http://stackoverflow.com/questions/35731140/apply-model-scores-to-spark-dataframe-python

In [44]:
predictions.select('label', 'prediction').coalesce(1).write.csv('D://Data Science//pySpark//check_pred6.csv')

AnalysisException: 'path file:/D:/Data Science/pySpark/check_pred6.csv already exists.;'

In [ ]:
predictions.show(20)

In [ ]:
from pyspark.ml import Pipeline
from pyspark.ml.regression import GBTRegressor
from pyspark.ml.feature import VectorIndexer
from pyspark.ml.evaluation import RegressionEvaluator

# Load and parse the data file, converting it to a DataFrame.
data = flight3

# Automatically identify categorical features, and index them.
# Set maxCategories so features with > 4 distinct values are treated as continuous.
# featureIndexer =\
#     VectorIndexer(inputCol="features", outputCol="indexedFeatures", maxCategories=4).fit(data)


# Split the data into training and test sets (30% held out for testing)
(trainingData, testData) = data.randomSplit([0.7, 0.3])

# Train a GBT model.
gbt = GBTRegressor(featuresCol="indexedFeatures", maxIter=10)

# Chain indexer and GBT in a Pipeline
pipeline = Pipeline(stages=[featureIndexer, gbt])

# Train model.  This also runs the indexer.
model = pipeline.fit(trainingData)

# Make predictions.
predictions = model.transform(testData)

# Select example rows to display.
predictions.select("prediction", "label", "features").show(5)

# Select (prediction, true label) and compute test error
evaluator = RegressionEvaluator(
    labelCol="label", predictionCol="prediction", metricName="rmse")
rmse = evaluator.evaluate(predictions)
print("Root Mean Squared Error (RMSE) on test data = %g" % rmse)

gbtModel = model.stages[1]
print(gbtModel)  # summary only

In [ ]:
from pyspark.ml import Pipeline
from pyspark.ml.regression import GBTRegressor
from pyspark.ml.feature import VectorIndexer
from pyspark.ml.evaluation import RegressionEvaluator

# # Load and parse the data file, converting it to a DataFrame.
# data = spark.read.format("libsvm").load("data/mllib/sample_libsvm_data.txt")

# # Automatically identify categorical features, and index them.
# # Set maxCategories so features with > 4 distinct values are treated as continuous.
featureIndexer =\
    VectorIndexer(inputCol="features", outputCol="indexedFeatures", maxCategories=4).fit(flight3)

# # Split the data into training and test sets (30% held out for testing)
# (trainingData, testData) = data.randomSplit([0.7, 0.3])

# Train a GBT model.
gbt = GBTRegressor(featuresCol="indexedFeatures", maxIter=10)

# Chain indexer and GBT in a Pipeline
pipeline = Pipeline(stages=[featureIndexer, gbt])

# Train model.  This also runs the indexer.
model = pipeline.fit(trainingData)

# Make predictions.
predictions = model.transform(testData)

# Select example rows to display.
predictions.select("prediction", "label", "features").show(5)

# Select (prediction, true label) and compute test error
evaluator = RegressionEvaluator(
    labelCol="label", predictionCol="prediction", metricName="rmse")
rmse = evaluator.evaluate(predictions)
print("Root Mean Squared Error (RMSE) on test data = %g" % rmse)

gbtModel = model.stages[1]
print(gbtModel)  # summary only

In [ ]:
# display(flight.select("duration").show())
# display(flight2.select("duration_h", 'duration_m').show())
display(flight2.show(5))
# flight2.toPandas().head()

In [ ]:
import re
def getHours(x):
  return re.match('([0-9]+(?=h))', x)
temp = flight.select("duration").rdd.map(lambda x:getHours(x[0])).toDF()
temp.select("duration").show()

In [ ]:
flight.select("arr_time").show(2, truncate=False)

In [ ]:
# flight2 = (flight.withColumn('arr_time_local', flight.arr_time.substr(1, 23).cast('date'))                 
#           )

# flight3 = flight2.withColumn('arr_time', flight2.arr_time.cast('timestamp'))

# .select('arr_time').show(2, truncate=False)


# flight2 = (flight.withColumn('duration_minutes', flight.duration.substr(1, 23).cast('date'))                 
#           )

# flight.selectExpr("duration", "regexp_extract(duration,'([0-9]+(?=h))', 1) as duration_hour", "regexp_extract(duration,'([0-9]+(?=m))', 1)", ).show()
flight.selectExpr("regexp_extract(duration,'([0-9]+(?=h))', 1) as duration_hour").duration_hour.cast("double").show()

In [ ]:
flight2.select('arr_time', 'arr_time_local').dtypes
flight2.select('arr_time', 'arr_time_local').show(2, truncate=False)

In [ ]:
# from pyspark.sql import crosstab
# from pyspark.sql.functions import *

flight.crosstab('start_date','from_city_name').show()
# flight.columns


3
down vote
In order to simply cast a string column to a timestamp, the string column must be properly formatted.

To retrieve the "createdAt" column as a timestamp, you can write the UDF function that would convert the string

"2016-07-01T16:37:41-0400"
to

"2016-07-01 16:37:41"
and convert the "createdAt" column to a new format (don't forget to handle the timezone field).

Once you have a column containing timestamps as strings like "2016-07-01 16:37:41", a simple cast to timestamp would do the job, as you have it in your code.

You can read more about Date/Time/String Handling in Spark here.

In [ ]:
display(flight.select("arr_time").take(3))
display(flight2.select("arr_time").take(3))

In [ ]:
flight2.withColumn('local', F.from_utc_timestamp(flight2.arr_time, "AEST")).select("local").show()
flight2.withColumn('local', F.from_utc_timestamp(flight2.arr_time, "CTZ")).select("local").show()

In [ ]:
import time
from datetime import datetime

import pytz # $ pip install pytz
from tzlocal import get_localzone # $ pip install tzlocal

In [ ]:
# get local timezone    
local_tz = get_localzone() 
print(local_tz)

In [ ]:
# test it
# utc_now, now = datetime.utcnow(), datetime.now()
ts = time.time()
utc_now, now = datetime.utcfromtimestamp(ts), datetime.fromtimestamp(ts)
print(utc_now)

In [ ]:
local_now = utc_now.replace(tzinfo=pytz.utc).astimezone(local_tz) # utc -> local
print(local_now)

In [ ]:
assert local_now.replace(tzinfo=None) == now

In [ ]:
# test it
# utc_now, now = datetime.utcnow(), datetime.now()
ts = time.time()
utc_now, now = datetime.utcfromtimestamp(ts), datetime.fromtimestamp(ts)

local_now = utc_now.replace(tzinfo=pytz.utc).astimezone(local_tz) # utc -> local
assert local_now.replace(tzinfo=None) == now

* Spark-Sql doesn't support date-time, and nor timezones
* Using timestamp is the only solution
* from_unixtime(at) parses the epoch time correctly, just that the printing of it as a string changes it due to timezone. It is safe to assume that the  from_unixtime will convert it correctly ( although printing it might show different results)
* from_utc_timestamp will shift ( not just convert) the timestamp to that timezone, in this case it will subtract 8 hours to the time since (-08:00)
* printing sql results messes up the times with respect to timezone param
  	 	
* from_unixtime(at) does what from_utc_timestamp does too, it will parse a Unix timestamp integer (seconds since midnight 1970-01-01), and convert the time instant parsed from UTC to the system's default timezone.

In [ ]:
flight2.selectExpr("from_utc_timestamp(arr_time, 'AEST') as testthis").show()

In [ ]:
flight2.dtypes
display(flight2.select('arr_time').take(3))
display(flight.select('arr_time').take(3))

In [ ]:
from pyspark.sql.functions import year, month, dayofmonth, hour, minute, weekofyear, crosstab

flight2.select(year("arr_time").alias('year'), 
               month("arr_time").alias('month'),
               dayofmonth("arr_time").alias('day'),
               hour("arr_time").alias('hour'),
               minute("arr_time").alias('minute'),
               weekofyear('arr_time').alias('week_no'),
               "arr_time_zone"
              ).show()

In [ ]:
from pyspark.sql.functions import regexp_extract, col

#flight.select(regexp_extract('arr_time', r'[+-][0-9]{2}:[0-9]{2}\b', 1)).alias('d').collect

In [ ]:
df = spark.createDataFrame([('2017-04-09T07:15:00.000+08:00',)], ['str'])
df.select(regexp_extract('str', '(\d+)-(\d+)', 1).alias('d')).collect()

In [ ]:
flight2.describe('price').show()

In [ ]:
from pyspark.sql.functions import *
# flight2.dtypes
# flight2.first()
display(flight2.select(max("start_date")).show())
display(flight2.select(min("start_date")).show())

In [ ]:
flight2 = flight2.withColumn('zero_price', flight2.)

In [ ]:
# flight.describe().show()
flight.describe("from_city_name").show()

In [ ]:
from pyspark.sql.functions import colflight.filter(flight.price > 0).groupby(flight.search_date_x, flight.from_city_name, flight.to_city_name).count().show()

In [ ]:
from pyspark.sql.functions import col
# flight_to_brisbane = flight.where(col("price") > 0 & col("to_city_name") == "brisbane").groupby(flight.search_date_x).count()

In [ ]:
df.where(col("v").isin({"foo", "bar"})).count()

In [ ]:
numeric = sqlContext.createDataFrame([
    ('3.5,', '5.0', 'null'), ('2.0', '14.0', 'null'),  ('null', '38.0', 'null'),
    ('null', 'null', 'null'),  ('1.0', 'null', '4.0')],
    ('low', 'high', 'normal'))

numeric_filtered_1 = numeric.where(numeric['LOW'] != 'null')
numeric_filtered_1.show()

In [ ]:
flight.select('from_city_name', 'price').show(5)

h2o tutorial 
https://github.com/h2oai/h2o-tutorials/blob/master/tutorials/pysparkling/Chicago_Crime_Demo.md