In [1]:
import pyspark
from pyspark import SQLContext
import pyspark.sql.functions as F
from pyspark.sql.window import Window
from pyspark.sql.types import TimestampType

In [83]:
import warnings
warnings.filterwarnings(action='ignore')

import pandas as pd
import numpy as np
import pandas as pd
from sklearn import *
from sklearn import preprocessing
import lightgbm as lgb
from multiprocessing import *
from sklearn.model_selection import StratifiedKFold

pd.set_option('display.max_columns', None)

In [3]:
sc = pyspark.SparkContext('local[*]')
sqlContext = SQLContext(sparkContext=sc)

/opt/conda/lib/python3.6/subprocess.py:761: ResourceWarning: subprocess 41 is still running
  ResourceWarning, source=self)

In [4]:
sc._conf.getAll()

[('spark.app.id', 'local-1509774012058'),
 ('spark.driver.host', '172.17.0.2'),
 ('spark.rdd.compress', 'True'),
 ('spark.serializer.objectStreamReset', '100'),
 ('spark.master', 'local[*]'),
 ('spark.executor.id', 'driver'),
 ('spark.submit.deployMode', 'client'),
 ('spark.app.name', 'pyspark-shell'),
 ('spark.driver.port', '40413')]

In [5]:
! pwd

/home/jovyan/work/uwork/flight

In [2]:
# ! mkdir ../out_data

mkdir: cannot create directory ‘../out_data’: File exists

### Read in flight.pq.11 and consolidate them into bigger files

In [9]:
# sample_pct = .01
sample_pct = 0.5

In [10]:
df01 = (sqlContext.read.parquet("../s3/flight.pq.11/flight_10_1")
            .sample(False, sample_pct, seed=0)
            .withColumn('searchMonth', F.date_format(F.last_day(F.col('searchDate')), "YYYYMM")))
df02 = (sqlContext.read.parquet("../s3/flight.pq.11/flight_6_30")
            .sample(False, sample_pct, seed=0)
            .withColumn('searchMonth', F.date_format(F.last_day(F.col('searchDate')), "YYYYMM")))
df03 = (sqlContext.read.parquet("../s3/flight.pq.11/flight_1_6")
            .sample(False, sample_pct, seed=0)
            .withColumn('searchMonth', F.date_format(F.last_day(F.col('searchDate')), "YYYYMM")))
df04 = (sqlContext.read.parquet("../s3/flight.pq.11/flight_1_12")
            .sample(False, sample_pct, seed=0)
            .withColumn('searchMonth', F.date_format(F.last_day(F.col('searchDate')), "YYYYMM")))
df05 = (sqlContext.read.parquet("../s3/flight.pq.11/flight_6_1")
            .sample(False, sample_pct, seed=0)
            .withColumn('searchMonth', F.date_format(F.last_day(F.col('searchDate')), "YYYYMM")))
df06 = (sqlContext.read.parquet("../s3/flight.pq.11/flight_10_14")
            .sample(False, sample_pct, seed=0)
            .withColumn('searchMonth', F.date_format(F.last_day(F.col('searchDate')), "YYYYMM")))

# pq = df01.withColumn('searchMonth', F.date_format(F.last_day(F.col('searchDate')), "YYYYMM"))
# pq2 = df02.withColumn('searchMonth', F.date_format(F.last_day(F.col('searchDate')), "YYYYMM"))

coalesce into 2 files for this batch

In [11]:
%%time
# pq.coalesce(1).write.partitionBy("fromCity", "toCity", "searchMonth").save("out_data/flight.pq.11")
# pq2.coalesce(1).write.partitionBy("fromCity", "toCity", "searchMonth").mode("append").save("out_data/flight.pq.11")

df01.coalesce(1).write.partitionBy("fromCity", "toCity").mode("overwrite").save("../out_data/flight.pq.11_v2")
df02.coalesce(1).write.partitionBy("fromCity", "toCity").mode("append").save("../out_data/flight.pq.11_v2")
df03.coalesce(1).write.partitionBy("fromCity", "toCity").mode("append").save("../out_data/flight.pq.11_v2")
df04.coalesce(1).write.partitionBy("fromCity", "toCity").mode("append").save("../out_data/flight.pq.11_v2")
df05.coalesce(1).write.partitionBy("fromCity", "toCity").mode("append").save("../out_data/flight.pq.11_v2")
df06.coalesce(1).write.partitionBy("fromCity", "toCity").mode("append").save("../out_data/flight.pq.11_v2")

CPU times: user 456 ms, sys: 148 ms, total: 604 ms
Wall time: 58min 1s

1% data
CPU times: user 236 ms, sys: 88 ms, total: 324 ms
Wall time: 30min 18s

50% data
CPU times: user 456 ms, sys: 148 ms, total: 604 ms
Wall time: 58min 1s

## Read in consolidated parquet file

In [12]:
df = sqlContext.read.parquet("../out_data/flight.pq.11_v2")

In [13]:
df.count()

11219116

In [14]:
%%time

(df.groupby('fromCity', 'toCity')
 .agg(F.count('price').alias('count'),
      F.max('price').alias('maxPrice'))
 .orderBy('count').show())

+--------+-----------+-------+--------+
|fromCity|     toCity|  count|maxPrice|
+--------+-----------+-------+--------+
| Chengdu|     Taipei|1501320|  3468.7|
| Chengdu|     sydney|1677667|24144.66|
|  sydney|      Wuhan|1786996|13979.54|
|  sydney|   shanghai|2016297|12997.27|
|shanghai|Los Angeles|2029207|18204.27|
|shanghai|     sydney|2207629|13046.93|
+--------+-----------+-------+--------+

CPU times: user 8 ms, sys: 0 ns, total: 8 ms
Wall time: 4.22 s

In [15]:
(df.groupBy('leg2_carrierSummary_airlineName')
.agg(F.count('leg2_carrierSummary_airlineName')
.alias('count')).orderBy(F.desc('count')).show(1000))

+-------------------------------+-------+
|leg2_carrierSummary_airlineName|  count|
+-------------------------------+-------+
|                Xiamen Airlines|3209520|
|                       AirAsiaX|2392310|
|           China Southern Ai...|1036644|
|                      Air China| 748523|
|           China Eastern Air...| 617007|
|                 Cathay Pacific| 464122|
|             Singapore Airlines| 360947|
|                               | 343113|
|               Sichuan Airlines| 288969|
|                         United| 276199|
|                 Qantas Airways| 214352|
|              American Airlines| 200179|
|                     Air Canada| 152768|
|                Hainan Airlines| 135945|
|                     Korean Air| 124983|
|                Asiana Airlines| 115962|
|                          Delta| 102636|
|              Air Macau Company|  65887|
|              Malaysia Airlines|  59842|
|             All Nippon Airways|  54888|
|            Philippine Airlines|  40192|
|               Virgin Australia|  38771|
|           Thai Airways Inte...|  34820|
|                 Japan Airlines|  33091|
|               Vietnam Airlines|  32902|
|           Aeroflot-Russian ...|  23974|
|                 China Airlines|  23806|
|               Garuda Indonesia|   8821|
|                Air New Zealand|   7560|
|             Hong Kong Airlines|   3325|
|                  Cathay Dragon|   2291|
|              Shanghai Airlines|   1610|
|              Shenzhen Airlines|   1447|
|               Juneyao Airlines|   1042|
|                    EVA Airways|    476|
|               Turkish Airlines|    191|
|              Shandong Airlines|      1|
+-------------------------------+-------+

In [16]:
df.select(F.weekofyear(F.col('depDate')), F.month(F.col('depDate')),
         F.dayofmonth(F.col('depDate')), F.dayofyear(F.col('depDate'))).distinct().show()

+-------------------+--------------+-------------------+------------------+
|weekofyear(depDate)|month(depDate)|dayofmonth(depDate)|dayofyear(depDate)|
+-------------------+--------------+-------------------+------------------+
|                 26|             6|                 29|               180|
|                 48|            11|                 30|               334|
|                 25|             6|                 20|               171|
|                 46|            11|                 18|               322|
|                  2|             1|                  8|                 8|
|                 46|            11|                 14|               318|
|                 52|            12|                 30|               364|
|                 42|            10|                 20|               293|
|                 51|            12|                 20|               354|
|                 52|            12|                 28|               362|
|                 30|             7|                 25|               206|
|                 39|             9|                 29|               272|
|                 41|            10|                 10|               283|
|                 46|            11|                 17|               321|
|                 33|             8|                 20|               232|
|                 28|             7|                 10|               191|
|                 36|             9|                  8|               251|
|                 23|             6|                  9|               160|
|                 35|             8|                 30|               242|
|                 34|             8|                 26|               238|
+-------------------+--------------+-------------------+------------------+
only showing top 20 rows

In [27]:
(df.groupBy('leg1_arrivalTime_hour')
.agg(F.count('leg1_arrivalTime_hour')
.alias('count')).orderBy(F.desc('count')).show(1000))

+---------------------+-----+
|leg1_arrivalTime_hour|count|
+---------------------+-----+
|                 null|    0|
+---------------------+-----+

In [28]:
(df.groupBy('leg2_carrierSummary_displayUrgencyMessage','leg2_carrierSummary_noOfTicketsLeft')
.agg(F.count('leg2_carrierSummary_noOfTicketsLeft')
.alias('count')).orderBy('leg2_carrierSummary_displayUrgencyMessage','leg2_carrierSummary_noOfTicketsLeft').show(1000))

+-----------------------------------------+-----------------------------------+-----+
|leg2_carrierSummary_displayUrgencyMessage|leg2_carrierSummary_noOfTicketsLeft|count|
+-----------------------------------------+-----------------------------------+-----+
|                                    false|                                  0|24756|
|                                    false|                                  5|12532|
|                                    false|                                  6|  858|
|                                    false|                                  7|  960|
|                                    false|                                  8|  986|
|                                    false|                                  9|18554|
|                                     true|                                  1| 2068|
|                                     true|                                  2| 1456|
|                                     true|                                  3| 1311|
|                                     true|                                  4| 3897|
|                                     true|                                  5| 1696|
+-----------------------------------------+-----------------------------------+-----+

In [17]:
lookforwardDays = 19
ndays = lambda i: i * 86400 # number of seconds in a day
byVar = ['toCity', 'depDate', 'stayDays', 'timeline1_departureTime_time', 'timeline2_departureTime_time',
         'timeline1_carrier_airlineCode', 'timeline2_carrier_airlineCode']

w = (Window.partitionBy('routeCombKey')
     .orderBy(F.col('searchDate').cast('timestamp').cast('long'))
     .rowsBetween(0, ndays(lookforwardDays)))

threshold = 20

udfGetWeekNumer = lambda dt: F.udf(dt.isocalendar()[1], IntegerType())
# udfGetAvg = lambda x: F.udf(sum(x)/float(len(x)))\n\n

df2 = (df.filter(df.price > 0)
       .withColumn('routeCombKey', F.concat_ws('-', F.col('fromCity'),
                                   F.col('toCity'),
                                   F.col('stayDays'), F.col('depDate'),
                                   F.col('timeline1_departureTime_time'),
                                   F.col('timeline2_departureTime_time'),
                                   F.col('timeline1_carrier_airlineCode'),
                                   F.col('timeline2_carrier_airlineCode')))
                                   # join_udf(F.col('timeline1_departureTime_time')),
                                   # join_udf(F.col('timeline2_departureTime_time')),
                                   # join_udf(F.col('timeline1_carrier_airlineCode')),
                                   # join_udf(F.col('timeline2_carrier_airlineCode'))))
       .withColumn('futureMinPrice', F.min(F.col('price')).over(w))
       .withColumn('priceWillDrop', (F.col('price') - F.col('futureMinPrice') > threshold).cast('int'))
       .withColumn('saving0', F.col('price') - F.col('futureMinPrice'))
       .withColumn('temp0', F.lit(0))
       .withColumn('saving', F.greatest('saving0', 'temp0'))
       .drop('saving0', 'temp0')
       .withColumn('leadTime', F.datediff(F.col('depDate'), F.col('searchDate')))
       .withColumn('depWeekOfYear', F.weekofyear(F.col('depDate')))
       .withColumn('retWeekOfYear', F.weekofyear(F.col('leg2_departureTime_date')))
       .withColumn('depMonth', F.month(F.col('depDate')))
       .withColumn('depDayOfMonth', F.dayofmonth(F.col('depDate')))
       .withColumn('depDayOfYear', F.dayofyear(F.col('depDate')))
       .withColumn('depDayOfWeek', F.date_format(F.col('depDate'), 'EEEE'))
       .withColumn('retDayOfWeek', F.date_format(F.col('leg2_departureTime_date'), 'EEEE'))
       .withColumn('searchDayOfWeek', F.date_format(F.col('searchDate'), 'EEEE'))
       .withColumn('leg1_noOfTicketsLeft', 
                   F.when(F.col('leg1_carrierSummary_noOfTicketsLeft') > 0, 
                          F.col('leg1_carrierSummary_noOfTicketsLeft')).otherwise(99))
        .withColumn('leg2_noOfTicketsLeft', 
                    F.when(F.col('leg2_carrierSummary_noOfTicketsLeft') > 0, 
                           F.col('leg2_carrierSummary_noOfTicketsLeft')).otherwise(99))
       .withColumn('leg1_cabinClass_0', F.col('timeline1_carrier_cabinClass').getItem(0))
       .withColumn('leg1_cabinClass_1', F.col('timeline1_carrier_cabinClass').getItem(1))
       .withColumn('leg1_cabinClass_2', F.col('timeline1_carrier_cabinClass').getItem(2))
       .withColumn('leg2_cabinClass_0', F.col('timeline2_carrier_cabinClass').getItem(0))
       .withColumn('leg2_cabinClass_1', F.col('timeline2_carrier_cabinClass').getItem(1))
       .withColumn('leg2_cabinClass_2', F.col('timeline2_carrier_cabinClass').getItem(2))
       .select('price', 'priceWillDrop', 'futureMinPrice', 'saving',
               'fromCity', 'toCity',
               'searchDate',
               'routeCombKey',
               'leadTime', 
               'leg1_stops', 'leg2_stops',
               'leg1_noOfTicketsLeft', 'leg2_noOfTicketsLeft',
               'leg1_carrierSummary_airlineName', 'leg2_carrierSummary_airlineName',
               'leg1_departureTime_hour', 'leg2_departureTime_hour',
               'depWeekOfYear', 'depDayOfWeek','retWeekOfYear', 'retDayOfWeek',
               'searchDayOfWeek',
               'leg1_cabinClass_0', 'leg1_cabinClass_1', 'leg1_cabinClass_2',
               'leg2_cabinClass_0', 'leg2_cabinClass_1', 'leg2_cabinClass_2',
               'trip')
      )

# df2.cache()

In [18]:
df2.limit(5).toPandas()

/opt/conda/lib/python3.6/socket.py:657: ResourceWarning: unclosed <socket.socket fd=43, family=AddressFamily.AF_INET, type=SocketKind.SOCK_STREAM, proto=6, laddr=('127.0.0.1', 47510), raddr=('127.0.0.1', 37139)>
  self._sock = None

,price,priceWillDrop,futureMinPrice,saving,fromCity,toCity,searchDate,routeCombKey,leadTime,leg1_stops,leg2_stops,leg1_noOfTicketsLeft,leg2_noOfTicketsLeft,leg1_carrierSummary_airlineName,leg2_carrierSummary_airlineName,leg1_departureTime_hour,leg2_departureTime_hour,depWeekOfYear,depDayOfWeek,retWeekOfYear,retDayOfWeek,searchDayOfWeek,leg1_cabinClass_0,leg1_cabinClass_1,leg1_cabinClass_2,leg2_cabinClass_0,leg2_cabinClass_1,leg2_cabinClass_2,trip
0,1478.4,0,1478.4,0.0,Chengdu,Taipei,2017-05-25,Chengdu-Taipei-0-2017-05-27-5:40pm-9:30am-1:25...,2,1,1,1,5,Air China,Xiamen Airlines,17,13,21,Saturday,None,None,Thursday,3,2,None,3,3,None,1
1,1481.6,0,1481.6,0.0,Chengdu,Taipei,2017-05-26,Chengdu-Taipei-0-2017-05-27-5:40pm-9:30am-1:25...,1,1,1,1,5,Air China,Xiamen Airlines,17,13,21,Saturday,None,None,Friday,3,2,None,3,3,None,1
2,1447.9,0,1447.9,0.0,Chengdu,Taipei,2017-05-27,Chengdu-Taipei-0-2017-05-28-9:25am-4:30pm-1:25...,1,1,1,2,5,,Xiamen Airlines,9,13,21,Sunday,None,None,Saturday,3,2,None,3,3,None,1
3,428.6,0,428.6,0.0,Chengdu,Taipei,2017-05-15,Chengdu-Taipei-0-2017-05-29-9:15am-2:25pm-1:25...,14,1,1,9,5,Shenzhen Airlines,Xiamen Airlines,9,13,22,Monday,None,None,Monday,3,3,None,3,3,None,1
4,629.9,0,629.9,0.0,Chengdu,Taipei,2017-05-20,Chengdu-Taipei-0-2017-05-29-9:15am-2:25pm-1:25...,9,1,1,9,5,Shenzhen Airlines,Xiamen Airlines,9,13,22,Monday,None,None,Saturday,3,3,None,3,3,None,1

## Save into multiple pickle files

In [19]:
%%time
# Slow!

df3 = df2.filter(F.col('searchDate') <= F.lit('2017-06-23').cast(TimestampType()))
df3 = df3.withColumn('randVar', F.round(F.rand()*10, 0))
# df3.filter(F.col('searchDate') >= F.lit('2017-06-16').cast(TimestampType())).toPandas().to_pickle("D:\flight.pq.11\df3_test.pkl")
df3.groupby('randVar').agg(F.count('randVar').alias('count')).show(100)

listRand = [x['randVar'] for x in df3.select('randVar').distinct().collect()]

dfArray = [df3.where(F.col('randVar') == x) for x in listRand]

# spark.conf.set("spark.driver.maxResultSize", "10g")

i = 0

for df_temp in dfArray:
    df_temp.toPandas().to_pickle('../out_data/flight.pq.11_v2_pickle/df3_test_' + str(listRand[i]) + '.pkl')
    i += 1

# (df2.filter(F.col('searchDate') <= F.lit('2017-06-23').cast(TimestampType()))
#     .toPandas().to_pickle("../df2_v2.pkl"))
#     .limit(4000000)

# (df2.filter(F.col('searchDate') <= F.lit('2017-06-23').cast(TimestampType()))
#     .toPandas().to_pickle("../df2_v2.pkl"))
#     .limit(4000000)

# get_ipython().run_cell_magic(u'time', u'', u'# pyspark --driver-memory 5g --executor-memory 25g\n\nimport pyspark.sql.functions as F\n\n# set default parquet partition to be 128mb\n# spark._jsc.hadoopConfiguration().set("dfs.block.size", "64m")\n# spark._jsc.hadoopConfiguration().setInt("parquet.block.size", 128*1024*1024)\n\n# Read in original parquet files\nparquetFile = spark.read.parquet("C:\\Data\Flight Data\\flight.pq.11\\flight_10_1")\nparquetFile2 = spark.read.parquet("C:\\Data\\Flight Data\\flight.pq.11\\flight_10_14")\n\n# Add searchMonth\nparquetFile = parquetFile.withColumn(\'searchMonth\', F.date_format(F.last_day(F.col(\'searchDate\')), "YYYYMM"))\nparquetFile2 = parquetFile2.withColumn(\'searchMonth\', F.date_format(F.last_day(F.col(\'searchDate\')), "YYYYMM"))\n\n# Save first parquet file, partition by fromCity, toCity and searchMonth\nparquetFile.coalesce(1).write.partitionBy("fromCity", "toCity", "searchMonth").save("C:\\Data\\Flight Data\\flight.pq.11\\flight.pq")\n\n# Save additional parquet files, partition by fromCity, toCity and searchMonth\nparquetFile2.coalesce(1).write.partitionBy("fromCity", "toCity", "searchMonth").mode("append").save("C:\Data\\Flight Data\\flight.pq.11\\flight.pq")\n\n# Next: convert this to a jar file, save on s3, launch ec2 spot instance and run the jar file')
# df2_in = pd.read_pickle("D:\flight.pq.11\df2.pkl")
# df2_in.searchDate.value_counts()
# parquetFile.count()
# parquetFile.show(1)
# parquetFile.select('searchDate').distinct().orderBy('searchDate').show(10000, truncate=False)
# parquetFile.select('price').distinct().orderBy('price').show(10000, truncate=False)
# parquetFile.filter(parquetFile.)
# parquetFile.select('depDate').distinct().orderBy('depDate').show(100, truncate=False)
# (parquetFile.searchDate == '2017-06-12')
# parquetFile.show(2)

+-------+------+
|randVar| count|
+-------+------+
|    8.0|909709|
|    0.0|456030|
|    7.0|909278|
|    1.0|911782|
|    4.0|910763|
|    3.0|910784|
|    2.0|911883|
|   10.0|455060|
|    6.0|910323|
|    5.0|909643|
|    9.0|911444|
+-------+------+

/opt/conda/lib/python3.6/socket.py:657: ResourceWarning: unclosed <socket.socket fd=43, family=AddressFamily.AF_INET, type=SocketKind.SOCK_STREAM, proto=6, laddr=('127.0.0.1', 42516), raddr=('127.0.0.1', 35059)>
  self._sock = None
/opt/conda/lib/python3.6/socket.py:657: ResourceWarning: unclosed <socket.socket fd=43, family=AddressFamily.AF_INET, type=SocketKind.SOCK_STREAM, proto=6, laddr=('127.0.0.1', 47454), raddr=('127.0.0.1', 37595)>
  self._sock = None
/opt/conda/lib/python3.6/socket.py:657: ResourceWarning: unclosed <socket.socket fd=43, family=AddressFamily.AF_INET, type=SocketKind.SOCK_STREAM, proto=6, laddr=('127.0.0.1', 45466), raddr=('127.0.0.1', 45623)>
  self._sock = None
/opt/conda/lib/python3.6/socket.py:657: ResourceWarning: unclosed <socket.socket fd=43, family=AddressFamily.AF_INET, type=SocketKind.SOCK_STREAM, proto=6, laddr=('127.0.0.1', 53986), raddr=('127.0.0.1', 41395)>
  self._sock = None
/opt/conda/lib/python3.6/socket.py:657: ResourceWarning: unclosed <socket.socket fd=43, family=AddressFamily.AF_INET, type=SocketKind.SOCK_STREAM, proto=6, laddr=('127.0.0.1', 38104), raddr=('127.0.0.1', 35749)>
  self._sock = None
/opt/conda/lib/python3.6/socket.py:657: ResourceWarning: unclosed <socket.socket fd=43, family=AddressFamily.AF_INET, type=SocketKind.SOCK_STREAM, proto=6, laddr=('127.0.0.1', 40468), raddr=('127.0.0.1', 42537)>
  self._sock = None
/opt/conda/lib/python3.6/socket.py:657: ResourceWarning: unclosed <socket.socket fd=43, family=AddressFamily.AF_INET, type=SocketKind.SOCK_STREAM, proto=6, laddr=('127.0.0.1', 35672), raddr=('127.0.0.1', 37023)>
  self._sock = None
/opt/conda/lib/python3.6/socket.py:657: ResourceWarning: unclosed <socket.socket fd=43, family=AddressFamily.AF_INET, type=SocketKind.SOCK_STREAM, proto=6, laddr=('127.0.0.1', 60210), raddr=('127.0.0.1', 41643)>
  self._sock = None
/opt/conda/lib/python3.6/socket.py:657: ResourceWarning: unclosed <socket.socket fd=43, family=AddressFamily.AF_INET, type=SocketKind.SOCK_STREAM, proto=6, laddr=('127.0.0.1', 45908), raddr=('127.0.0.1', 33575)>
  self._sock = None
/opt/conda/lib/python3.6/socket.py:657: ResourceWarning: unclosed <socket.socket fd=43, family=AddressFamily.AF_INET, type=SocketKind.SOCK_STREAM, proto=6, laddr=('127.0.0.1', 35402), raddr=('127.0.0.1', 42641)>
  self._sock = None
/opt/conda/lib/python3.6/socket.py:657: ResourceWarning: unclosed <socket.socket fd=43, family=AddressFamily.AF_INET, type=SocketKind.SOCK_STREAM, proto=6, laddr=('127.0.0.1', 57084), raddr=('127.0.0.1', 45561)>
  self._sock = None

Py4JJavaError: An error occurred while calling o367.collectToPython.
: org.apache.spark.SparkException: Job aborted due to stage failure: Task 10 in stage 59.0 failed 1 times, most recent failure: Lost task 10.0 in stage 59.0 (TID 3054, localhost, executor driver): java.io.IOException: No space left on device
	at java.io.FileOutputStream.writeBytes(Native Method)
	at java.io.FileOutputStream.write(FileOutputStream.java:326)
	at org.apache.spark.storage.TimeTrackingOutputStream.write(TimeTrackingOutputStream.java:58)
	at java.io.BufferedOutputStream.flushBuffer(BufferedOutputStream.java:82)
	at java.io.BufferedOutputStream.write(BufferedOutputStream.java:126)
	at net.jpountz.lz4.LZ4BlockOutputStream.flushBufferedData(LZ4BlockOutputStream.java:205)
	at net.jpountz.lz4.LZ4BlockOutputStream.write(LZ4BlockOutputStream.java:158)
	at java.io.BufferedOutputStream.flushBuffer(BufferedOutputStream.java:82)
	at java.io.BufferedOutputStream.write(BufferedOutputStream.java:126)
	at java.io.DataOutputStream.write(DataOutputStream.java:107)
	at org.apache.spark.sql.catalyst.expressions.UnsafeRow.writeToStream(UnsafeRow.java:554)
	at org.apache.spark.sql.execution.UnsafeRowSerializerInstance$$anon$1.writeValue(UnsafeRowSerializer.scala:69)
	at org.apache.spark.storage.DiskBlockObjectWriter.write(DiskBlockObjectWriter.scala:239)
	at org.apache.spark.shuffle.sort.BypassMergeSortShuffleWriter.write(BypassMergeSortShuffleWriter.java:151)
	at org.apache.spark.scheduler.ShuffleMapTask.runTask(ShuffleMapTask.scala:96)
	at org.apache.spark.scheduler.ShuffleMapTask.runTask(ShuffleMapTask.scala:53)
	at org.apache.spark.scheduler.Task.run(Task.scala:108)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:335)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)
	at java.lang.Thread.run(Thread.java:748)

Driver stacktrace:
	at org.apache.spark.scheduler.DAGScheduler.org$apache$spark$scheduler$DAGScheduler$$failJobAndIndependentStages(DAGScheduler.scala:1499)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$abortStage$1.apply(DAGScheduler.scala:1487)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$abortStage$1.apply(DAGScheduler.scala:1486)
	at scala.collection.mutable.ResizableArray$class.foreach(ResizableArray.scala:59)
	at scala.collection.mutable.ArrayBuffer.foreach(ArrayBuffer.scala:48)
	at org.apache.spark.scheduler.DAGScheduler.abortStage(DAGScheduler.scala:1486)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$handleTaskSetFailed$1.apply(DAGScheduler.scala:814)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$handleTaskSetFailed$1.apply(DAGScheduler.scala:814)
	at scala.Option.foreach(Option.scala:257)
	at org.apache.spark.scheduler.DAGScheduler.handleTaskSetFailed(DAGScheduler.scala:814)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.doOnReceive(DAGScheduler.scala:1714)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:1669)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:1658)
	at org.apache.spark.util.EventLoop$$anon$1.run(EventLoop.scala:48)
	at org.apache.spark.scheduler.DAGScheduler.runJob(DAGScheduler.scala:630)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2022)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2043)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2062)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2087)
	at org.apache.spark.rdd.RDD$$anonfun$collect$1.apply(RDD.scala:936)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:151)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:112)
	at org.apache.spark.rdd.RDD.withScope(RDD.scala:362)
	at org.apache.spark.rdd.RDD.collect(RDD.scala:935)
	at org.apache.spark.sql.execution.SparkPlan.executeCollect(SparkPlan.scala:278)
	at org.apache.spark.sql.Dataset$$anonfun$collectToPython$1.apply$mcI$sp(Dataset.scala:2803)
	at org.apache.spark.sql.Dataset$$anonfun$collectToPython$1.apply(Dataset.scala:2800)
	at org.apache.spark.sql.Dataset$$anonfun$collectToPython$1.apply(Dataset.scala:2800)
	at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:65)
	at org.apache.spark.sql.Dataset.withNewExecutionId(Dataset.scala:2823)
	at org.apache.spark.sql.Dataset.collectToPython(Dataset.scala:2800)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.lang.reflect.Method.invoke(Method.java:498)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:280)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.GatewayConnection.run(GatewayConnection.java:214)
	at java.lang.Thread.run(Thread.java:748)
Caused by: java.io.IOException: No space left on device
	at java.io.FileOutputStream.writeBytes(Native Method)
	at java.io.FileOutputStream.write(FileOutputStream.java:326)
	at org.apache.spark.storage.TimeTrackingOutputStream.write(TimeTrackingOutputStream.java:58)
	at java.io.BufferedOutputStream.flushBuffer(BufferedOutputStream.java:82)
	at java.io.BufferedOutputStream.write(BufferedOutputStream.java:126)
	at net.jpountz.lz4.LZ4BlockOutputStream.flushBufferedData(LZ4BlockOutputStream.java:205)
	at net.jpountz.lz4.LZ4BlockOutputStream.write(LZ4BlockOutputStream.java:158)
	at java.io.BufferedOutputStream.flushBuffer(BufferedOutputStream.java:82)
	at java.io.BufferedOutputStream.write(BufferedOutputStream.java:126)
	at java.io.DataOutputStream.write(DataOutputStream.java:107)
	at org.apache.spark.sql.catalyst.expressions.UnsafeRow.writeToStream(UnsafeRow.java:554)
	at org.apache.spark.sql.execution.UnsafeRowSerializerInstance$$anon$1.writeValue(UnsafeRowSerializer.scala:69)
	at org.apache.spark.storage.DiskBlockObjectWriter.write(DiskBlockObjectWriter.scala:239)
	at org.apache.spark.shuffle.sort.BypassMergeSortShuffleWriter.write(BypassMergeSortShuffleWriter.java:151)
	at org.apache.spark.scheduler.ShuffleMapTask.runTask(ShuffleMapTask.scala:96)
	at org.apache.spark.scheduler.ShuffleMapTask.runTask(ShuffleMapTask.scala:53)
	at org.apache.spark.scheduler.Task.run(Task.scala:108)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:335)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)
	... 1 more

In [20]:
listRand

[8.0, 0.0, 7.0, 1.0, 4.0, 3.0, 2.0, 10.0, 6.0, 5.0, 9.0]

In [21]:
# ran out of space so rerun this dataset

dfArray[-1].toPandas().to_pickle('../out_data/flight.pq.11_v2_pickle/df3_test_' + str(listRand[-1]) + '.pkl')

/opt/conda/lib/python3.6/socket.py:657: ResourceWarning: unclosed <socket.socket fd=43, family=AddressFamily.AF_INET, type=SocketKind.SOCK_STREAM, proto=6, laddr=('127.0.0.1', 41662), raddr=('127.0.0.1', 38095)>
  self._sock = None

## Read in pickle files

In [57]:
dfin01 = pd.concat([pd.read_pickle("../out_data/flight.pq.11_v2_pickle/df3_test_1.0.pkl"), 
#                     pd.read_pickle("../out_data/df3_test_2.0.pkl"),
#                     pd.read_pickle("../out_data/df3_test_3.0.pkl"),
#                     pd.read_pickle("../out_data/df3_test_4.0.pkl"),
#                     pd.read_pickle("../out_data/df3_test_5.0.pkl"),
#                     pd.read_pickle("../out_data/df3_test_6.0.pkl"), 
#                     pd.read_pickle("../out_data/df3_test_7.0.pkl"),
#                     pd.read_pickle("../out_data/df3_test_8.0.pkl"),
#                     pd.read_pickle("../out_data/df3_test_9.0.pkl"),
#                     pd.read_pickle("../out_data/df3_test_10.0.pkl"),
                   ], axis=0)

In [58]:
dfin01.shape

(908535, 30)

In [59]:
dfin01_orig = dfin01.copy()

In [60]:
dfin01.columns

Index(['price', 'priceWillDrop', 'futureMinPrice', 'saving', 'fromCity',
       'toCity', 'searchDate', 'routeCombKey', 'leadTime', 'leg1_stops',
       'leg2_stops', 'leg1_noOfTicketsLeft', 'leg2_noOfTicketsLeft',
       'leg1_carrierSummary_airlineName', 'leg2_carrierSummary_airlineName',
       'leg1_departureTime_hour', 'leg2_departureTime_hour', 'depWeekOfYear',
       'depDayOfWeek', 'retWeekOfYear', 'retDayOfWeek', 'searchDayOfWeek',
       'leg1_cabinClass_0', 'leg1_cabinClass_1', 'leg1_cabinClass_2',
       'leg2_cabinClass_0', 'leg2_cabinClass_1', 'leg2_cabinClass_2', 'trip',
       'randVar'],
      dtype='object')

In [61]:
dfin01.dtypes

price                              float64
priceWillDrop                        int64
futureMinPrice                     float64
saving                             float64
fromCity                            object
toCity                              object
searchDate                          object
routeCombKey                        object
leadTime                             int64
leg1_stops                           int64
leg2_stops                           int64
leg1_noOfTicketsLeft                 int64
leg2_noOfTicketsLeft                 int64
leg1_carrierSummary_airlineName     object
leg2_carrierSummary_airlineName     object
leg1_departureTime_hour              int64
leg2_departureTime_hour              int64
depWeekOfYear                        int64
depDayOfWeek                        object
retWeekOfYear                       object
retDayOfWeek                        object
searchDayOfWeek                     object
leg1_cabinClass_0                   object
leg1_cabinClass_1                   object
leg1_cabinClass_2                   object
leg2_cabinClass_0                   object
leg2_cabinClass_1                   object
leg2_cabinClass_2                   object
trip                                 int64
randVar                            float64
dtype: object

In [62]:
target = ['priceWillDrop']
num_features = ['leadTime', 'leg1_stops',
               'leg2_stops', 'leg1_noOfTicketsLeft', 'leg2_noOfTicketsLeft',
               'price',]

cat_features = ['fromCity', 'toCity','leg1_carrierSummary_airlineName', 'leg2_carrierSummary_airlineName',
                'leg1_departureTime_hour', 'leg2_departureTime_hour', 'depWeekOfYear',
               'depDayOfWeek', 'searchDayOfWeek',
               'leg1_cabinClass_0', 'leg1_cabinClass_1', 'leg1_cabinClass_2',
               'leg2_cabinClass_0', 'leg2_cabinClass_1', 'leg2_cabinClass_2',
                'trip']

ignored = ['futureMinPrice', 'saving', 
            'searchDate', 'routeCombKey', 'randVar',
          'retWeekOfYear', 'retDayOfWeek', ]# only a single value in the data

In [63]:
dfin01.head()

,price,priceWillDrop,futureMinPrice,saving,fromCity,toCity,searchDate,routeCombKey,leadTime,leg1_stops,leg2_stops,leg1_noOfTicketsLeft,leg2_noOfTicketsLeft,leg1_carrierSummary_airlineName,leg2_carrierSummary_airlineName,leg1_departureTime_hour,leg2_departureTime_hour,depWeekOfYear,depDayOfWeek,retWeekOfYear,retDayOfWeek,searchDayOfWeek,leg1_cabinClass_0,leg1_cabinClass_1,leg1_cabinClass_2,leg2_cabinClass_0,leg2_cabinClass_1,leg2_cabinClass_2,trip,randVar
0,1481.6,0,1481.6,0.0,Chengdu,Taipei,2017-05-26,Chengdu-Taipei-0-2017-05-27-5:40pm-9:30am-1:25...,1,1,1,1,5,Air China,Xiamen Airlines,17,13,21,Saturday,None,None,Friday,3,2,None,3,3,None,1,1.0
1,1184.3,0,1176.0,8.3,Chengdu,Taipei,2017-05-20,Chengdu-Taipei-0-2017-06-01-1:55pm-5:45pm-1:25...,12,1,1,9,5,Cathay Pacific,Xiamen Airlines,13,13,22,Thursday,None,None,Saturday,3,3,None,3,3,None,1,1.0
2,1188.4,0,1188.4,0.0,Chengdu,Taipei,2017-05-31,Chengdu-Taipei-0-2017-06-01-1:55pm-5:45pm-1:25...,1,1,1,9,5,Cathay Pacific,Xiamen Airlines,13,13,22,Thursday,None,None,Wednesday,3,3,None,3,3,None,1,1.0
3,358.7,0,354.3,4.4,Chengdu,Taipei,2017-05-16,Chengdu-Taipei-0-2017-06-05-8:35am-8:40pm-1:25...,20,1,1,4,5,Air Macau Company,Xiamen Airlines,8,13,23,Monday,None,None,Tuesday,3,3,None,3,3,None,1,1.0
4,357.5,0,354.3,3.2,Chengdu,Taipei,2017-05-22,Chengdu-Taipei-0-2017-06-05-8:35am-8:40pm-1:25...,14,1,1,4,5,Air Macau Company,Xiamen Airlines,8,13,23,Monday,None,None,Monday,3,3,None,3,3,None,1,1.0

In [64]:
dfin01 = dfin01.fillna(0)
dfin01.head()

,price,priceWillDrop,futureMinPrice,saving,fromCity,toCity,searchDate,routeCombKey,leadTime,leg1_stops,leg2_stops,leg1_noOfTicketsLeft,leg2_noOfTicketsLeft,leg1_carrierSummary_airlineName,leg2_carrierSummary_airlineName,leg1_departureTime_hour,leg2_departureTime_hour,depWeekOfYear,depDayOfWeek,retWeekOfYear,retDayOfWeek,searchDayOfWeek,leg1_cabinClass_0,leg1_cabinClass_1,leg1_cabinClass_2,leg2_cabinClass_0,leg2_cabinClass_1,leg2_cabinClass_2,trip,randVar
0,1481.6,0,1481.6,0.0,Chengdu,Taipei,2017-05-26,Chengdu-Taipei-0-2017-05-27-5:40pm-9:30am-1:25...,1,1,1,1,5,Air China,Xiamen Airlines,17,13,21,Saturday,0,0,Friday,3,2,0,3,3,0,1,1.0
1,1184.3,0,1176.0,8.3,Chengdu,Taipei,2017-05-20,Chengdu-Taipei-0-2017-06-01-1:55pm-5:45pm-1:25...,12,1,1,9,5,Cathay Pacific,Xiamen Airlines,13,13,22,Thursday,0,0,Saturday,3,3,0,3,3,0,1,1.0
2,1188.4,0,1188.4,0.0,Chengdu,Taipei,2017-05-31,Chengdu-Taipei-0-2017-06-01-1:55pm-5:45pm-1:25...,1,1,1,9,5,Cathay Pacific,Xiamen Airlines,13,13,22,Thursday,0,0,Wednesday,3,3,0,3,3,0,1,1.0
3,358.7,0,354.3,4.4,Chengdu,Taipei,2017-05-16,Chengdu-Taipei-0-2017-06-05-8:35am-8:40pm-1:25...,20,1,1,4,5,Air Macau Company,Xiamen Airlines,8,13,23,Monday,0,0,Tuesday,3,3,0,3,3,0,1,1.0
4,357.5,0,354.3,3.2,Chengdu,Taipei,2017-05-22,Chengdu-Taipei-0-2017-06-05-8:35am-8:40pm-1:25...,14,1,1,4,5,Air Macau Company,Xiamen Airlines,8,13,23,Monday,0,0,Monday,3,3,0,3,3,0,1,1.0

In [84]:
dfin01[cat_features].head()

,fromCity,toCity,leg1_carrierSummary_airlineName,leg2_carrierSummary_airlineName,leg1_departureTime_hour,leg2_departureTime_hour,depWeekOfYear,depDayOfWeek,searchDayOfWeek,leg1_cabinClass_0,leg1_cabinClass_1,leg1_cabinClass_2,leg2_cabinClass_0,leg2_cabinClass_1,leg2_cabinClass_2,trip
0,0,1,3,34,9,5,2,2,0,2,2,0,2,3,0,0
1,0,1,12,34,5,5,3,4,2,2,3,0,2,3,0,0
2,0,1,12,34,5,5,3,4,6,2,3,0,2,3,0,0
3,0,1,4,34,20,5,4,1,5,2,3,0,2,3,0,0
4,0,1,4,34,20,5,4,1,1,2,3,0,2,3,0,0

In [67]:
le_dict = {}

for c in cat_features:
    le = preprocessing.LabelEncoder()    
    dfin01[c] = le.fit_transform(dfin01[c].astype(str))
    le_name_mapping = dict(zip(le.classes_, le.transform(le.classes_)))
    le_dict[c] = le_name_mapping   
    
#     print(dfin01[c].value_counts())

In [106]:
le_dict

{'depDayOfWeek': {'Friday': 0,
  'Monday': 1,
  'Saturday': 2,
  'Sunday': 3,
  'Thursday': 4,
  'Tuesday': 5,
  'Wednesday': 6},
 'depWeekOfYear': {'19': 0,
  '20': 1,
  '21': 2,
  '22': 3,
  '23': 4,
  '24': 5,
  '25': 6,
  '26': 7,
  '27': 8,
  '28': 9,
  '29': 10,
  '30': 11,
  '31': 12,
  '32': 13,
  '33': 14,
  '34': 15,
  '35': 16,
  '36': 17,
  '37': 18,
  '38': 19,
  '39': 20,
  '40': 21,
  '41': 22,
  '42': 23,
  '43': 24,
  '44': 25,
  '45': 26,
  '46': 27,
  '47': 28,
  '48': 29,
  '49': 30,
  '50': 31,
  '51': 32},
 'fromCity': {'Chengdu': 0, 'shanghai': 1, 'sydney': 2},
 'leg1_cabinClass_0': {'1': 0, '2': 1, '3': 2, '5': 3},
 'leg1_cabinClass_1': {'0': 0, '1': 1, '2': 2, '3': 3, '5': 4},
 'leg1_cabinClass_2': {'0': 0, '1': 1, '2': 2, '3': 3, '5': 4},
 'leg1_carrierSummary_airlineName': {'': 0,
  'Aeroflot-Russian Airlines': 1,
  'Air Canada': 2,
  'Air China': 3,
  'Air Macau Company': 4,
  'Air New Zealand': 5,
  'AirAsiaX': 6,
  'All Nippon Airways': 7,
  'American Airlines': 8,
  'Asiana Airlines': 9,
  'British Airways': 10,
  'Cathay Dragon': 11,
  'Cathay Pacific': 12,
  'China Airlines': 13,
  'China Eastern Airlines': 14,
  'China Southern Airlines': 15,
  'Delta': 16,
  'EVA Airways': 17,
  'Etihad Airways': 18,
  'Garuda Indonesia': 19,
  'Hainan Airlines': 20,
  'Hong Kong Airlines': 21,
  'Japan Airlines': 22,
  'Juneyao Airlines': 23,
  'Korean Air': 24,
  'Malaysia Airlines': 25,
  'Philippine Airlines': 26,
  'Qantas Airways': 27,
  'Shandong Airlines': 28,
  'Shenzhen Airlines': 29,
  'Sichuan Airlines': 30,
  'Singapore Airlines': 31,
  'Thai Airways International': 32,
  'Turkish Airlines': 33,
  'United': 34,
  'Vietnam Airlines': 35,
  'Virgin Australia': 36,
  'Xiamen Airlines': 37},
 'leg1_departureTime_hour': {'0': 0,
  '1': 1,
  '10': 2,
  '11': 3,
  '12': 4,
  '13': 5,
  '14': 6,
  '15': 7,
  '16': 8,
  '17': 9,
  '18': 10,
  '19': 11,
  '2': 12,
  '20': 13,
  '21': 14,
  '22': 15,
  '23': 16,
  '4': 17,
  '6': 18,
  '7': 19,
  '8': 20,
  '9': 21},
 'leg2_cabinClass_0': {'1': 0, '2': 1, '3': 2, '5': 3},
 'leg2_cabinClass_1': {'0': 0, '1': 1, '2': 2, '3': 3, '5': 4},
 'leg2_cabinClass_2': {'0': 0, '1': 1, '2': 2, '3': 3, '5': 4},
 'leg2_carrierSummary_airlineName': {'': 0,
  'Aeroflot-Russian Airlines': 1,
  'Air Canada': 2,
  'Air China': 3,
  'Air Macau Company': 4,
  'Air New Zealand': 5,
  'AirAsiaX': 6,
  'All Nippon Airways': 7,
  'American Airlines': 8,
  'Asiana Airlines': 9,
  'Cathay Dragon': 10,
  'Cathay Pacific': 11,
  'China Airlines': 12,
  'China Eastern Airlines': 13,
  'China Southern Airlines': 14,
  'Delta': 15,
  'EVA Airways': 16,
  'Garuda Indonesia': 17,
  'Hainan Airlines': 18,
  'Hong Kong Airlines': 19,
  'Japan Airlines': 20,
  'Juneyao Airlines': 21,
  'Korean Air': 22,
  'Malaysia Airlines': 23,
  'Philippine Airlines': 24,
  'Qantas Airways': 25,
  'Shanghai Airlines': 26,
  'Shenzhen Airlines': 27,
  'Sichuan Airlines': 28,
  'Singapore Airlines': 29,
  'Thai Airways International': 30,
  'United': 31,
  'Vietnam Airlines': 32,
  'Virgin Australia': 33,
  'Xiamen Airlines': 34},
 'leg2_departureTime_hour': {'0': 0,
  '1': 1,
  '10': 2,
  '11': 3,
  '12': 4,
  '13': 5,
  '14': 6,
  '15': 7,
  '16': 8,
  '17': 9,
  '18': 10,
  '19': 11,
  '20': 12,
  '21': 13,
  '22': 14,
  '23': 15,
  '5': 16,
  '6': 17,
  '7': 18,
  '8': 19,
  '9': 20},
 'searchDayOfWeek': {'Friday': 0,
  'Monday': 1,
  'Saturday': 2,
  'Sunday': 3,
  'Thursday': 4,
  'Tuesday': 5,
  'Wednesday': 6},
 'toCity': {'Los Angeles': 0,
  'Taipei': 1,
  'Wuhan': 2,
  'shanghai': 3,
  'sydney': 4},
 'trip': {'1': 0, '2': 1}}

In [85]:
# import json
# with open('../out_data/cat_feature_mapping.json', 'w') as f:
#     json.dump(le_dict, f)

In [16]:
import pickle 

def save_obj(obj, name ):
    with open('../out_data/score_data/'+ name + '.pkl', 'wb') as f:
        pickle.dump(obj, f, pickle.HIGHEST_PROTOCOL)

def load_obj(name ):
    with open('../out_data/score_data/' + name + '.pkl', 'rb') as f:
        return pickle.load(f)

In [40]:
# save_obj(le_dict, 'cat_feature_mapping')

In [18]:
dfin01.head()

,price,priceWillDrop,futureMinPrice,saving,fromCity,toCity,searchDate,routeCombKey,leadTime,leg1_stops,leg2_stops,leg1_noOfTicketsLeft,leg2_noOfTicketsLeft,leg1_carrierSummary_airlineName,leg2_carrierSummary_airlineName,leg1_departureTime_hour,leg2_departureTime_hour,depWeekOfYear,depDayOfWeek,retWeekOfYear,retDayOfWeek,searchDayOfWeek,leg1_cabinClass_0,leg1_cabinClass_1,leg1_cabinClass_2,leg2_cabinClass_0,leg2_cabinClass_1,leg2_cabinClass_2,trip,randVar
0,1481.6,0,1481.6,0.0,0,1,2017-05-26,Chengdu-Taipei-0-2017-05-27-5:40pm-9:30am-1:25...,1,1,1,1,5,3,34,9,5,2,2,0,0,0,2,2,0,2,3,0,0,1.0
1,1184.3,0,1176.0,8.3,0,1,2017-05-20,Chengdu-Taipei-0-2017-06-01-1:55pm-5:45pm-1:25...,12,1,1,9,5,12,34,5,5,3,4,0,0,2,2,3,0,2,3,0,0,1.0
2,1188.4,0,1188.4,0.0,0,1,2017-05-31,Chengdu-Taipei-0-2017-06-01-1:55pm-5:45pm-1:25...,1,1,1,9,5,12,34,5,5,3,4,0,0,6,2,3,0,2,3,0,0,1.0
3,358.7,0,354.3,4.4,0,1,2017-05-16,Chengdu-Taipei-0-2017-06-05-8:35am-8:40pm-1:25...,20,1,1,4,5,4,34,20,5,4,1,0,0,5,2,3,0,2,3,0,0,1.0
4,357.5,0,354.3,3.2,0,1,2017-05-22,Chengdu-Taipei-0-2017-06-05-8:35am-8:40pm-1:25...,14,1,1,4,5,4,34,20,5,4,1,0,0,1,2,3,0,2,3,0,0,1.0

In [42]:
dfin01.searchDate.value_counts

<bound method IndexOpsMixin.value_counts of 0         2017-05-26
1         2017-05-20
2         2017-05-31
3         2017-05-16
4         2017-05-22
5         2017-05-25
6         2017-05-18
7         2017-06-04
8         2017-06-01
9         2017-05-21
10        2017-05-23
11        2017-06-05
12        2017-05-25
13        2017-05-22
14        2017-05-23
15        2017-05-15
16        2017-06-12
17        2017-06-01
18        2017-06-02
19        2017-06-22
20        2017-05-29
21        2017-05-29
22        2017-06-02
23        2017-06-19
24        2017-05-31
25        2017-06-03
26        2017-06-04
27        2017-05-20
28        2017-06-16
29        2017-05-15
             ...
908505    2017-06-21
908506    2017-05-17
908507    2017-05-22
908508    2017-05-21
908509    2017-06-21
908510    2017-06-11
908511    2017-05-27
908512    2017-06-04
908513    2017-06-19
908514    2017-06-17
908515    2017-05-26
908516    2017-06-02
908517    2017-05-19
908518    2017-06-02
908519    2017-06-04
908520    2017-06-10
908521    2017-06-06
908522    2017-06-15
908523    2017-05-21
908524    2017-06-21
908525    2017-05-28
908526    2017-06-04
908527    2017-06-07
908528    2017-05-27
908529    2017-06-06
908530    2017-06-01
908531    2017-06-18
908532    2017-06-09
908533    2017-06-20
908534    2017-06-17
Name: searchDate, dtype: object>

## Start model building

In [68]:
test = dfin01[dfin01['searchDate'] >= '2017-06-20']
train = dfin01[dfin01['searchDate'] < '2017-06-20']

test_orig = dfin01_orig[dfin01_orig['searchDate'] >= '2017-06-20']
# del dfin01

In [21]:
def gini(y, pred):
    g = np.asarray(np.c_[y, pred, np.arange(len(y)) ], dtype=np.float)
    g = g[np.lexsort((g[:,2], -1*g[:,1]))]
    gs = g[:,0].cumsum().sum() / g[:,0].sum()
    gs -= (len(y) + 1) / 2.
    return gs / len(y)

def gini_xgb(pred, y):
    y = y.get_label()
    return 'gini', gini(y, pred) / gini(y, y)

def gini_lgb(preds, dtrain):
    y = list(dtrain.get_label())
    score = gini(y, preds) / gini(y, y)
    return 'gini', score, True

In [48]:
features = cat_features + num_features

In [49]:
features

['fromCity',
 'toCity',
 'leg1_carrierSummary_airlineName',
 'leg2_carrierSummary_airlineName',
 'leg1_departureTime_hour',
 'leg2_departureTime_hour',
 'depWeekOfYear',
 'depDayOfWeek',
 'searchDayOfWeek',
 'leg1_cabinClass_0',
 'leg1_cabinClass_1',
 'leg1_cabinClass_2',
 'leg2_cabinClass_0',
 'leg2_cabinClass_1',
 'leg2_cabinClass_2',
 'trip',
 'leadTime',
 'leg1_stops',
 'leg2_stops',
 'leg1_noOfTicketsLeft',
 'leg2_noOfTicketsLeft',
 'price']

In [23]:
nrounds=20000  # need to change to 2000
kfold = 2  # need to change to 5

X = train[features].values
y = train[target].values.flatten()

In [24]:
X.shape
y.shape

(844259,)

In [48]:
test['predicted'] = 0

/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [49]:
pd.options.mode.chained_assignment = None

In [50]:
%%time
# lgb
params = {'metric': 'auc', 'learning_rate' : 0.2, 'max_depth':10, 'max_bin':10,  'objective': 'binary', 
          'feature_fraction': 0.8,'bagging_fraction':0.7,'bagging_freq':10,  'min_data': 500}

skf = StratifiedKFold(n_splits=kfold, random_state=1)
for i, (train_index, test_index) in enumerate(skf.split(X, y)):
    print(' lgb kfold: {}  of  {} : '.format(i+1, kfold))
    X_train, X_eval = X[train_index], X[test_index]
    y_train, y_eval = y[train_index], y[test_index]
    lgb_model = lgb.train(params, lgb.Dataset(X_train, label=y_train), nrounds, 
                  lgb.Dataset(X_eval, label=y_eval), verbose_eval=100, 
                  feval=gini_lgb, early_stopping_rounds=200)
    test['predicted'] += lgb_model.predict(test[features].values, 
                        num_iteration=lgb_model.best_iteration) / (2*kfold)
    
# sub.to_csv('sub10.csv', index=False, float_format='%.5f') 
# gc.collect()
# sub.head(2)

 lgb kfold: 1  of  2 :
Training until validation scores don't improve for 200 rounds.
[100]	valid_0's auc: 0.794967	valid_0's gini: 0.589935
[200]	valid_0's auc: 0.81139	valid_0's gini: 0.62278
[300]	valid_0's auc: 0.820523	valid_0's gini: 0.641046
[400]	valid_0's auc: 0.82655	valid_0's gini: 0.653101
[500]	valid_0's auc: 0.830564	valid_0's gini: 0.661128
[600]	valid_0's auc: 0.833664	valid_0's gini: 0.667329
[700]	valid_0's auc: 0.836372	valid_0's gini: 0.672745
[800]	valid_0's auc: 0.838488	valid_0's gini: 0.676977
[900]	valid_0's auc: 0.84022	valid_0's gini: 0.68044
[1000]	valid_0's auc: 0.841594	valid_0's gini: 0.683188
[1100]	valid_0's auc: 0.842747	valid_0's gini: 0.685495
[1200]	valid_0's auc: 0.844028	valid_0's gini: 0.688056
[1300]	valid_0's auc: 0.84487	valid_0's gini: 0.689739
[1400]	valid_0's auc: 0.845962	valid_0's gini: 0.691923
[1500]	valid_0's auc: 0.846646	valid_0's gini: 0.693292
[1600]	valid_0's auc: 0.84719	valid_0's gini: 0.69438
[1700]	valid_0's auc: 0.847859	valid_0's gini: 0.695717
[1800]	valid_0's auc: 0.84828	valid_0's gini: 0.696561
[1900]	valid_0's auc: 0.848843	valid_0's gini: 0.697686
[2000]	valid_0's auc: 0.849356	valid_0's gini: 0.698712
[2100]	valid_0's auc: 0.8498	valid_0's gini: 0.699601
[2200]	valid_0's auc: 0.850296	valid_0's gini: 0.700593
[2300]	valid_0's auc: 0.850551	valid_0's gini: 0.701103
[2400]	valid_0's auc: 0.850897	valid_0's gini: 0.701794
[2500]	valid_0's auc: 0.851157	valid_0's gini: 0.702314
[2600]	valid_0's auc: 0.851611	valid_0's gini: 0.703223
[2700]	valid_0's auc: 0.85175	valid_0's gini: 0.703499
[2800]	valid_0's auc: 0.851897	valid_0's gini: 0.703793
[2900]	valid_0's auc: 0.852279	valid_0's gini: 0.704559
[3000]	valid_0's auc: 0.852513	valid_0's gini: 0.705026
[3100]	valid_0's auc: 0.852718	valid_0's gini: 0.705436
[3200]	valid_0's auc: 0.852994	valid_0's gini: 0.705988
[3300]	valid_0's auc: 0.853299	valid_0's gini: 0.706597
[3400]	valid_0's auc: 0.85356	valid_0's gini: 0.70712
[3500]	valid_0's auc: 0.853711	valid_0's gini: 0.707422
[3600]	valid_0's auc: 0.853826	valid_0's gini: 0.707652
[3700]	valid_0's auc: 0.854043	valid_0's gini: 0.708087
[3800]	valid_0's auc: 0.85418	valid_0's gini: 0.708359
[3900]	valid_0's auc: 0.854293	valid_0's gini: 0.708586
[4000]	valid_0's auc: 0.854413	valid_0's gini: 0.708825
[4100]	valid_0's auc: 0.8545	valid_0's gini: 0.709
[4200]	valid_0's auc: 0.854621	valid_0's gini: 0.709242
[4300]	valid_0's auc: 0.854767	valid_0's gini: 0.709534
[4400]	valid_0's auc: 0.854834	valid_0's gini: 0.709667
[4500]	valid_0's auc: 0.854936	valid_0's gini: 0.709873
[4600]	valid_0's auc: 0.854967	valid_0's gini: 0.709934
[4700]	valid_0's auc: 0.855001	valid_0's gini: 0.710002
[4800]	valid_0's auc: 0.855066	valid_0's gini: 0.710132
[4900]	valid_0's auc: 0.855172	valid_0's gini: 0.710343
[5000]	valid_0's auc: 0.855367	valid_0's gini: 0.710735
[5100]	valid_0's auc: 0.855435	valid_0's gini: 0.71087
[5200]	valid_0's auc: 0.855536	valid_0's gini: 0.711072
[5300]	valid_0's auc: 0.855607	valid_0's gini: 0.711214
[5400]	valid_0's auc: 0.855673	valid_0's gini: 0.711345
[5500]	valid_0's auc: 0.855748	valid_0's gini: 0.711495
[5600]	valid_0's auc: 0.855842	valid_0's gini: 0.711683
[5700]	valid_0's auc: 0.855905	valid_0's gini: 0.71181
[5800]	valid_0's auc: 0.855921	valid_0's gini: 0.711842
[5900]	valid_0's auc: 0.856018	valid_0's gini: 0.712037
[6000]	valid_0's auc: 0.85613	valid_0's gini: 0.71226
[6100]	valid_0's auc: 0.856162	valid_0's gini: 0.712325
[6200]	valid_0's auc: 0.856132	valid_0's gini: 0.712264
[6300]	valid_0's auc: 0.856178	valid_0's gini: 0.712356
[6400]	valid_0's auc: 0.856327	valid_0's gini: 0.712655
[6500]	valid_0's auc: 0.856342	valid_0's gini: 0.712684
[6600]	valid_0's auc: 0.85638	valid_0's gini: 0.71276
[6700]	valid_0's auc: 0.856381	valid_0's gini: 0.712762
[6800]	valid_0's auc: 0.856396	valid_0's gini: 0.712792
[6900]	valid_0's auc: 0.856471	valid_0's gini: 0.712942
[7000]	valid_0's auc: 0.856427	valid_0's gini: 0.712854
Early stopping, best iteration is:
[6881]	valid_0's auc: 0.856496	valid_0's gini: 0.712991
 lgb kfold: 2  of  2 :
Training until validation scores don't improve for 200 rounds.
[100]	valid_0's auc: 0.792203	valid_0's gini: 0.584406
[200]	valid_0's auc: 0.809178	valid_0's gini: 0.618356
[300]	valid_0's auc: 0.818894	valid_0's gini: 0.637787
[400]	valid_0's auc: 0.825532	valid_0's gini: 0.651065
[500]	valid_0's auc: 0.829965	valid_0's gini: 0.65993
[600]	valid_0's auc: 0.833077	valid_0's gini: 0.666154
[700]	valid_0's auc: 0.835722	valid_0's gini: 0.671445
[800]	valid_0's auc: 0.837752	valid_0's gini: 0.675504
[900]	valid_0's auc: 0.839242	valid_0's gini: 0.678485
[1000]	valid_0's auc: 0.840716	valid_0's gini: 0.681432
[1100]	valid_0's auc: 0.842021	valid_0's gini: 0.684042
[1200]	valid_0's auc: 0.842976	valid_0's gini: 0.685952
[1300]	valid_0's auc: 0.844023	valid_0's gini: 0.688046
[1400]	valid_0's auc: 0.845167	valid_0's gini: 0.690335
[1500]	valid_0's auc: 0.845896	valid_0's gini: 0.691792
[1600]	valid_0's auc: 0.846759	valid_0's gini: 0.693518

KeyboardInterrupt:

In [59]:
lgb_model.best_iteration
lgb_model.best_score
lgb_model.feature_name()
lgb_model.feature_importance(), features

(array([ 4220,  6203, 15777, 11311, 16572, 13074, 20397, 12520,  9629,
          752,  1318,  1167,   318,  1120,   458,  1043, 32918,   469,
          393,  7671,  6967, 42133]),
 ['fromCity',
  'toCity',
  'leg1_carrierSummary_airlineName',
  'leg2_carrierSummary_airlineName',
  'leg1_departureTime_hour',
  'leg2_departureTime_hour',
  'depWeekOfYear',
  'depDayOfWeek',
  'searchDayOfWeek',
  'leg1_cabinClass_0',
  'leg1_cabinClass_1',
  'leg1_cabinClass_2',
  'leg2_cabinClass_0',
  'leg2_cabinClass_1',
  'leg2_cabinClass_2',
  'trip',
  'leadTime',
  'leg1_stops',
  'leg2_stops',
  'leg1_noOfTicketsLeft',
  'leg2_noOfTicketsLeft',
  'price'])

In [60]:
save_obj(lgb_model, 'lgb-5pct-data-20171104-1551')

## Test scoring model onto json file

Create json files for testing purposes. Later, need to covnert real json data to this format.

In [80]:
for i in test_orig.head(10).index:
    test_orig.head(10)[features].loc[i].to_json("../out_data/score_data/row{}.json".format(i))

In [107]:
import argparse
import lightgbm as lgb
import pandas as pd

# path = '../out_data/'

# json_file_name = 'row19.json'
# json_file_name = 'row42.json'
# json_file_name = 'row146.json'
# json_file_name = 'row111.json'



def load_obj(name ):
    with open(path + name + '.pkl', 'rb') as f:
        return pickle.load(f)

    
if __name__ == '__main__':
    parser = argparse.ArgumentParser(description='Score model on data')
    parser.add_argument('path', type=str, help='path where files are kept')
    parser.add_argument('jsonfile', type=str, help='name of the json file that contains flight data')
    args = parser.parse_args()
    
    # load model
    lgb_model2 = load_obj('lgb-5pct-data-20171104-1551')

    # load mapping
    le_dict = load_obj('cat_feature_mapping')
    print(le_dict)


    #read in json file
    row_temp = pd.read_json('../out_data/'+json_file_name, typ='series')
    row = pd.DataFrame(columns=features)
    row.loc[0] = row_temp

    #map to the format accepted by the model
    row_mapped = row.copy()
    for c in cat_features:
        row_mapped[c] = row[c].map(le_dict[c])

    #load model
    lgb_model2 = load_obj('lgb-5pct-data-20171104-1551')

    #print probability of price drop in the next 19 days
    lgb_model2.predict(row_mapped[features])

usage: ipykernel_launcher.py [-h] path jsonfile
ipykernel_launcher.py: error: the following arguments are required: jsonfile

SystemExit: 2

In [112]:
c='leg1_departureTime_hour'
le_dict[c], row[c]

({'0': 0,
  '1': 1,
  '10': 2,
  '11': 3,
  '12': 4,
  '13': 5,
  '14': 6,
  '15': 7,
  '16': 8,
  '17': 9,
  '18': 10,
  '19': 11,
  '2': 12,
  '20': 13,
  '21': 14,
  '22': 15,
  '23': 16,
  '4': 17,
  '6': 18,
  '7': 19,
  '8': 20,
  '9': 21},
 0    11.0
 Name: leg1_departureTime_hour, dtype: float64)

In [116]:
le_dict

{'depDayOfWeek': {'Friday': 0,
  'Monday': 1,
  'Saturday': 2,
  'Sunday': 3,
  'Thursday': 4,
  'Tuesday': 5,
  'Wednesday': 6},
 'depWeekOfYear': {'19': 0,
  '20': 1,
  '21': 2,
  '22': 3,
  '23': 4,
  '24': 5,
  '25': 6,
  '26': 7,
  '27': 8,
  '28': 9,
  '29': 10,
  '30': 11,
  '31': 12,
  '32': 13,
  '33': 14,
  '34': 15,
  '35': 16,
  '36': 17,
  '37': 18,
  '38': 19,
  '39': 20,
  '40': 21,
  '41': 22,
  '42': 23,
  '43': 24,
  '44': 25,
  '45': 26,
  '46': 27,
  '47': 28,
  '48': 29,
  '49': 30,
  '50': 31,
  '51': 32},
 'fromCity': {'Chengdu': 0, 'shanghai': 1, 'sydney': 2},
 'leg1_cabinClass_0': {'1': 0, '2': 1, '3': 2, '5': 3},
 'leg1_cabinClass_1': {'0': 0, '1': 1, '2': 2, '3': 3, '5': 4},
 'leg1_cabinClass_2': {'0': 0, '1': 1, '2': 2, '3': 3, '5': 4},
 'leg1_carrierSummary_airlineName': {'': 0,
  'Aeroflot-Russian Airlines': 1,
  'Air Canada': 2,
  'Air China': 3,
  'Air Macau Company': 4,
  'Air New Zealand': 5,
  'AirAsiaX': 6,
  'All Nippon Airways': 7,
  'American Airlines': 8,
  'Asiana Airlines': 9,
  'British Airways': 10,
  'Cathay Dragon': 11,
  'Cathay Pacific': 12,
  'China Airlines': 13,
  'China Eastern Airlines': 14,
  'China Southern Airlines': 15,
  'Delta': 16,
  'EVA Airways': 17,
  'Etihad Airways': 18,
  'Garuda Indonesia': 19,
  'Hainan Airlines': 20,
  'Hong Kong Airlines': 21,
  'Japan Airlines': 22,
  'Juneyao Airlines': 23,
  'Korean Air': 24,
  'Malaysia Airlines': 25,
  'Philippine Airlines': 26,
  'Qantas Airways': 27,
  'Shandong Airlines': 28,
  'Shenzhen Airlines': 29,
  'Sichuan Airlines': 30,
  'Singapore Airlines': 31,
  'Thai Airways International': 32,
  'Turkish Airlines': 33,
  'United': 34,
  'Vietnam Airlines': 35,
  'Virgin Australia': 36,
  'Xiamen Airlines': 37},
 'leg1_departureTime_hour': {'0': 0,
  '1': 1,
  '10': 2,
  '11': 3,
  '12': 4,
  '13': 5,
  '14': 6,
  '15': 7,
  '16': 8,
  '17': 9,
  '18': 10,
  '19': 11,
  '2': 12,
  '20': 13,
  '21': 14,
  '22': 15,
  '23': 16,
  '4': 17,
  '6': 18,
  '7': 19,
  '8': 20,
  '9': 21},
 'leg2_cabinClass_0': {'1': 0, '2': 1, '3': 2, '5': 3},
 'leg2_cabinClass_1': {'0': 0, '1': 1, '2': 2, '3': 3, '5': 4},
 'leg2_cabinClass_2': {'0': 0, '1': 1, '2': 2, '3': 3, '5': 4},
 'leg2_carrierSummary_airlineName': {'': 0,
  'Aeroflot-Russian Airlines': 1,
  'Air Canada': 2,
  'Air China': 3,
  'Air Macau Company': 4,
  'Air New Zealand': 5,
  'AirAsiaX': 6,
  'All Nippon Airways': 7,
  'American Airlines': 8,
  'Asiana Airlines': 9,
  'Cathay Dragon': 10,
  'Cathay Pacific': 11,
  'China Airlines': 12,
  'China Eastern Airlines': 13,
  'China Southern Airlines': 14,
  'Delta': 15,
  'EVA Airways': 16,
  'Garuda Indonesia': 17,
  'Hainan Airlines': 18,
  'Hong Kong Airlines': 19,
  'Japan Airlines': 20,
  'Juneyao Airlines': 21,
  'Korean Air': 22,
  'Malaysia Airlines': 23,
  'Philippine Airlines': 24,
  'Qantas Airways': 25,
  'Shanghai Airlines': 26,
  'Shenzhen Airlines': 27,
  'Sichuan Airlines': 28,
  'Singapore Airlines': 29,
  'Thai Airways International': 30,
  'United': 31,
  'Vietnam Airlines': 32,
  'Virgin Australia': 33,
  'Xiamen Airlines': 34},
 'leg2_departureTime_hour': {'0': 0,
  '1': 1,
  '10': 2,
  '11': 3,
  '12': 4,
  '13': 5,
  '14': 6,
  '15': 7,
  '16': 8,
  '17': 9,
  '18': 10,
  '19': 11,
  '20': 12,
  '21': 13,
  '22': 14,
  '23': 15,
  '5': 16,
  '6': 17,
  '7': 18,
  '8': 19,
  '9': 20},
 'searchDayOfWeek': {'Friday': 0,
  'Monday': 1,
  'Saturday': 2,
  'Sunday': 3,
  'Thursday': 4,
  'Tuesday': 5,
  'Wednesday': 6},
 'toCity': {'Los Angeles': 0,
  'Taipei': 1,
  'Wuhan': 2,
  'shanghai': 3,
  'sydney': 4},
 'trip': {'1': 0, '2': 1}}

In [114]:
row

,fromCity,toCity,leg1_carrierSummary_airlineName,leg2_carrierSummary_airlineName,leg1_departureTime_hour,leg2_departureTime_hour,depWeekOfYear,depDayOfWeek,searchDayOfWeek,leg1_cabinClass_0,leg1_cabinClass_1,leg1_cabinClass_2,leg2_cabinClass_0,leg2_cabinClass_1,leg2_cabinClass_2,trip,leadTime,leg1_stops,leg2_stops,leg1_noOfTicketsLeft,leg2_noOfTicketsLeft,price
0,Chengdu,Taipei,China Southern Airlines,Xiamen Airlines,11.0,13.0,49.0,Sunday,Wednesday,3,3,None,3,3,None,1.0,172.0,1.0,1.0,2.0,5.0,586.7

In [115]:
row_mapped = row.copy()
for c in cat_features:
    if c in ['leg1_departureTime_hour', 'leg2_departureTime_hour', 
             'depWeekOfYear', 'leg1_cabinClass_2', 'leg2_cabinClass_2', 'trip']:
        row_mapped[c] = row[c].astype(int).map(le_dict[c])
    else:
        row_mapped[c] = row[c].map(le_dict[c])
row_mapped

,fromCity,toCity,leg1_carrierSummary_airlineName,leg2_carrierSummary_airlineName,leg1_departureTime_hour,leg2_departureTime_hour,depWeekOfYear,depDayOfWeek,searchDayOfWeek,leg1_cabinClass_0,leg1_cabinClass_1,leg1_cabinClass_2,leg2_cabinClass_0,leg2_cabinClass_1,leg2_cabinClass_2,trip,leadTime,leg1_stops,leg2_stops,leg1_noOfTicketsLeft,leg2_noOfTicketsLeft,price
0,0,1,15,34,NaN,NaN,NaN,3,6,2,3,NaN,2,3,NaN,NaN,172.0,1.0,1.0,2.0,5.0,586.7

In [90]:
%%time
test['pred'] = lgb_model2.predict(test[features])

CPU times: user 1min 39s, sys: 120 ms, total: 1min 40s
Wall time: 57.2 s

In [104]:
test_orig['pred'] = test['pred']
test_orig['pred_percentile'] = pd.qcut(test_orig['pred'], 20)#, labels=False)

In [105]:
test_orig.groupby(['pred_percentile'])[target].mean()

                      priceWillDrop
pred_percentile
[1.84e-08, 0.000592]       0.004356
(0.000592, 0.00233]        0.014001
(0.00233, 0.00518]         0.016179
(0.00518, 0.00932]         0.028002
(0.00932, 0.0149]          0.045440
(0.0149, 0.0225]           0.043871
(0.0225, 0.0321]           0.063472
(0.0321, 0.0446]           0.070006
(0.0446, 0.0599]           0.086523
(0.0599, 0.0794]           0.100809
(0.0794, 0.104]            0.115744
(0.104, 0.133]             0.140012
(0.133, 0.168]             0.154684
(0.168, 0.211]             0.195334
(0.211, 0.264]             0.224712
(0.264, 0.33]              0.262912
(0.33, 0.413]              0.300031
(0.413, 0.52]              0.336963
(0.52, 0.678]              0.389857
(0.678, 0.999]             0.487243

In [79]:
test.head(2)
max(lgb_model2.predict(test.head(100)[features]))
min(lgb_model2.predict(test.head(100)[features]))
lgb_model2.predict(test.head(100)[features])
test.head(100)

,price,priceWillDrop,futureMinPrice,saving,fromCity,toCity,searchDate,routeCombKey,leadTime,leg1_stops,leg2_stops,leg1_noOfTicketsLeft,leg2_noOfTicketsLeft,leg1_carrierSummary_airlineName,leg2_carrierSummary_airlineName,leg1_departureTime_hour,leg2_departureTime_hour,depWeekOfYear,depDayOfWeek,retWeekOfYear,retDayOfWeek,searchDayOfWeek,leg1_cabinClass_0,leg1_cabinClass_1,leg1_cabinClass_2,leg2_cabinClass_0,leg2_cabinClass_1,leg2_cabinClass_2,trip,randVar,predicted
19,1056.00,0,1056.00,0.00,0,1,2017-06-22,Chengdu-Taipei-0-2017-06-27-4:15pm-9:45pm-1:25...,5,1,1,8,5,0,34,8,5,7,5,0,0,4,2,3,0,2,3,0,0,1.0,0.004786
42,424.30,0,424.30,0.00,0,1,2017-06-20,Chengdu-Taipei-0-2017-07-29-8:35pm-8:15am-1:25...,39,1,1,9,5,20,34,13,5,11,2,0,0,5,2,3,0,2,3,0,0,1.0,0.036401
49,393.70,0,393.70,0.00,0,1,2017-06-21,Chengdu-Taipei-0-2017-07-31-7:45pm-11:30am-1:2...,40,1,1,9,5,15,34,11,5,12,1,0,0,6,2,3,0,2,3,0,0,1.0,0.001158
53,575.70,0,575.70,0.00,0,1,2017-06-21,Chengdu-Taipei-0-2017-08-04-11:50am-5:30pm-1:2...,44,1,1,9,5,15,34,3,5,12,0,0,0,6,2,3,0,2,3,0,0,1.0,0.001874
57,896.50,0,896.50,0.00,0,1,2017-06-21,Chengdu-Taipei-0-2017-08-08-8:20am-2:00pm-1:25...,48,1,1,9,5,0,34,20,5,13,5,0,0,6,2,3,0,2,3,0,0,1.0,0.065677
84,1201.70,0,1201.70,0.00,0,1,2017-06-20,Chengdu-Taipei-0-2017-09-19-11:15am-5:30pm-1:2...,91,1,1,9,5,0,34,3,5,19,5,0,0,5,2,3,0,2,3,0,0,1.0,0.150563
111,752.70,0,752.70,0.00,0,1,2017-06-21,Chengdu-Taipei-0-2017-10-03-11:10am-7:50pm-1:2...,104,1,1,9,5,0,34,3,5,21,5,0,0,6,2,3,0,2,3,0,0,1.0,0.028790
114,375.00,0,375.00,0.00,0,1,2017-06-20,Chengdu-Taipei-0-2017-10-06-7:20am-3:10pm-1:25...,108,1,1,9,5,30,34,19,5,21,0,0,0,5,2,3,0,2,3,0,0,1.0,0.012135
142,511.70,0,511.70,0.00,0,1,2017-06-21,Chengdu-Taipei-0-2017-11-22-10:05pm-8:20am-1:2...,154,1,1,9,5,15,34,15,5,28,6,0,0,6,2,3,0,2,3,0,0,1.0,0.000014
146,586.70,1,452.80,133.90,0,1,2017-06-21,Chengdu-Taipei-0-2017-12-10-11:30am-6:40pm-1:2...,172,1,1,2,5,15,34,3,5,30,3,0,0,6,2,3,0,2,3,0,0,1.0,0.000046
147,417.60,0,417.50,0.10,0,1,2017-06-22,Chengdu-Taipei-0-2017-12-16-12:20am-10:00am-1:...,177,1,1,8,5,9,34,0,5,31,2,0,0,4,2,3,0,2,3,0,0,1.0,0.000157
162,1513.40,0,1512.50,0.90,0,1,2017-06-21,Chengdu-Taipei-14-2017-07-01-1:55pm-6:35pm-7:4...,10,1,0,9,4,11,3,5,11,7,2,0,0,6,2,3,0,2,0,0,1,1.0,0.000411
163,1512.50,0,1512.50,0.00,0,1,2017-06-22,Chengdu-Taipei-14-2017-07-01-1:55pm-6:35pm-7:4...,9,1,0,9,4,11,3,5,11,7,2,0,0,4,2,3,0,2,0,0,1,1.0,0.000400
194,636.90,0,636.90,0.00,0,1,2017-06-21,Chengdu-Taipei-14-2017-08-06-8:20am-2:50pm-7:4...,46,1,0,9,4,0,3,20,11,12,3,0,0,6,2,3,0,2,0,0,1,1.0,0.004310
195,438.30,0,438.30,0.00,0,1,2017-06-20,Chengdu-Taipei-14-2017-08-07-6:35am-4:50pm-11:...,48,1,1,3,3,37,34,18,3,13,1,0,0,5,2,3,0,2,3,0,1,1.0,0.000009
200,886.00,0,886.00,0.00,0,1,2017-06-20,Chengdu-Taipei-14-2017-08-13-8:25am-3:30pm-11:...,54,1,1,2,2,0,34,20,3,13,3,0,0,5,2,3,0,2,3,0,1,1.0,0.009519
201,776.40,0,776.40,0.00,0,1,2017-06-21,Chengdu-Taipei-14-2017-08-15-12:10am-10:00am-1...,55,1,1,5,1,9,34,0,3,14,5,0,0,6,2,3,0,2,3,0,1,1.0,0.004392
203,757.40,0,757.40,0.00,0,1,2017-06-21,Chengdu-Taipei-14-2017-08-16-12:10am-10:00am-7...,56,1,1,4,3,9,34,0,11,14,6,0,0,6,2,3,0,2,3,0,1,1.0,0.001313
209,1470.20,0,1470.20,0.00,0,1,2017-06-22,Chengdu-Taipei-14-2017-08-21-8:10am-12:15pm-11...,60,1,1,3,3,11,34,20,3,15,1,0,0,4,2,3,0,2,3,0,1,1.0,0.039487
212,1470.20,0,1470.20,0.00,0,1,2017-06-22,Chengdu-Taipei-14-2017-08-25-8:20am-12:15pm-11...,64,1,1,4,3,11,34,20,3,15,0,0,0,4,2,3,0,2,3,0,1,1.0,0.098836
223,1471.10,1,1446.20,24.90,0,1,2017-06-21,Chengdu-Taipei-14-2017-09-06-8:20am-1:15pm-8:4...,77,1,1,4,4,11,34,20,12,17,6,0,0,6,2,3,0,2,3,0,1,1.0,0.107331
225,527.50,0,527.50,0.00,0,1,2017-06-20,Chengdu-Taipei-14-2017-09-09-10:20pm-11:30am-9...,81,1,1,4,4,15,4,15,20,17,2,0,0,5,2,3,0,2,3,0,1,1.0,0.000356
226,527.60,0,527.60,0.00,0,1,2017-06-21,Chengdu-Taipei-14-2017-09-09-10:20pm-11:30am-9...,80,1,1,4,4,15,4,15,20,17,2,0,0,6,2,3,0,2,3,0,1,1.0,0.000691
257,906.80,0,906.80,0.00,0,1,2017-06-22,Chengdu-Taipei-14-2017-11-06-10:30am-6:05pm-8:...,137,1,1,5,5,14,34,2,12,26,1,0,0,4,2,3,0,2,3,0,1,1.0,0.004269
265,1449.10,0,1446.20,2.90,0,1,2017-06-21,Chengdu-Taipei-14-2017-12-03-2:05pm-6:45pm-11:...,165,1,1,5,5,12,34,6,3,29,3,0,0,6,2,3,0,2,3,0,1,1.0,0.013365
268,728.60,1,558.90,169.70,0,1,2017-06-21,Chengdu-Taipei-14-2017-12-18-7:20am-12:30pm-5:...,180,1,0,8,9,14,28,19,9,32,1,0,0,6,0,2,0,2,0,0,1,1.0,0.238176
304,1030.50,0,1030.50,0.00,0,1,2017-06-22,Chengdu-Taipei-21-2017-07-18-10:40am-5:30pm-11...,26,1,1,3,1,0,34,2,3,10,5,0,0,4,2,3,0,2,3,0,1,1.0,0.003013
329,1114.10,0,1114.10,0.00,0,1,2017-06-21,Chengdu-Taipei-21-2017-08-25-8:20am-1:00pm-7:4...,65,1,1,5,5,0,34,20,11,15,0,0,0,6,2,3,0,2,3,0,1,1.0,0.028931
351,1491.00,0,1491.00,0.00,0,1,2017-06-20,Chengdu-Taipei-21-2017-10-01-8:20am-1:35pm-11:...,103,1,1,4,5,11,34,20,3,20,3,0,0,5,2,3,0,2,3,0,1,1.0,0.086604
353,1491.20,0,1491.20,0.00,0,1,2017-06-22,Chengdu-Taipei-21-2017-10-03-8:20am-12:15pm-11...,103,1,1,4,5,12,34,20,3,21,5,0,0,4,2,3,0,2,3,0,1,1.0,0.010024
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1183,2100.12,1,1979.51,120.61,0,4,2017-06-21,Chengdu-sydney-28-2017-09-17-1:55pm-8:15pm-9:4...,88,1,1,99,99,0,6,5,13,18,3,0,0,6,2,3,0,2,3,0,1,1.0,0.187932
1189,1483.78,0,1483.78,0.00,0,4,2017-06-21,Chengdu-sydney-28-2017-09-19-9:55am-7:35pm-9:4...,90,1,1,99,99,0,6,21,13,19,5,0,0,6,2,3,0,2,3,0,1,1.0,0.151090
1213,1090.89,0,1090.89,0.00,0,4,2017-06-21,Chengdu-sydney-28-2017-10-09-11:10pm-9:35am-2:...,110,1,0,9,99,0,3,16,6,22,1,0,0,6,2,3,0,2,0,0,1,1.0,0.001414
1224,1306.31,0,1306.31,0.00,0,4,2017-06-20,Chengdu-sydney-28-2017-10-27-6:25pm-9:35am-9:0...,129,1,1,9,9,0,29,10,20,24,0,0,0,5,2,3,0,2,3,0,1,1.0,0.125347
1228,1370.24,0,1370.24,0.00,0,4,2017-06-22,Chengdu-sydney-28-2017-10-30-7:55am-11:55pm-10...,130,1,1,4,4,12,0,19,14,25,1,0,0,4,2,3,0,2,3,0,1,1.0,0.009710
1253,1197.12,1,1057.61,139.51,0,4,2017-06-21,Chengdu-sydney-28-2017-12-04-2:05pm-7:50pm-9:4...,166,1,1,99,99,0,6,6,13,30,1,0,0,6,2,3,0,2,3,0,1,1.0,0.002885
1256,1323.62,1,1281.28,42.34,0,4,2017-06-20,Chengdu-sydney-28-2017-12-10-2:05pm-7:00pm-9:4...,173,1,1,99,99,0,6,6,13,30,3,0,0,5,2,3,0,2,3,0,1,1.0,0.021257
1257,1019.71,0,1019.71,0.00,0,4,2017-06-20,Chengdu-sydney-28-2017-12-14-11:10pm-7:05am-9:...,177,1,1,99,99,31,6,16,13,31,4,0,0,5,2,3,0,2,3,0,1,1.0,0.000324
1258,1019.71,0,1019.71,0.00,0,4,2017-06-22,Chengdu-sydney-28-2017-12-14-11:10pm-7:05am-9:...,175,1,1,99,99,31,6,16,13,31,4,0,0,4,2,3,0,2,3,0,1,1.0,0.000783
1259,7634.32,0,7634.32,0.00,0,4,2017-06-22,Chengdu-sydney-28-2017-12-16-9:30am-2:00pm-10:...,177,2,1,99,99,0,6,21,13,31,2,0,0,4,2,3,3,2,3,0,1,1.0,0.123930
1347,695.96,0,694.89,1.07,0,4,2017-06-20,Chengdu-sydney-7-2017-08-29-11:55pm-10:00am-9:...,70,1,1,99,99,6,6,16,13,16,5,0,0,5,2,3,0,2,3,0,1,1.0,0.120676
1377,1491.82,0,1491.82,0.00,0,4,2017-06-21,Chengdu-sydney-7-2017-09-22-4:00pm-8:25am-11:0...,93,1,1,99,99,15,6,8,3,19,0,0,0,6,2,3,0,2,3,0,1,1.0,0.144678
1384,1248.82,0,1248.82,0.00,0,4,2017-06-21,Chengdu-sydney-7-2017-10-03-8:15am-9:10pm-9:45...,104,1,1,99,99,15,6,20,13,21,5,0,0,6,2,3,0,2,3,0,1,1.0,0.013000
1401,7723.80,0,7723.80,0.00,0,4,2017-06-21,Chengdu-sydney-7-2017-10-22-9:15pm-10:50pm-11:...,123,1,1,9,9,0,3,14,3,23,3,0,0,6,2,3,0,2,3,0,1,1.0,0.105804
1402,1193.87,0,1193.87,0.00,0,4,2017-06-20,Chengdu-sydney-7-2017-10-24-11:10pm-9:35am-7:1...,126,1,1,9,9,0,29,16,11,24,5,0,0,5,2,3,0,2,3,0,1,1.0,0.036697
1418,954.71,0,953.51,1.20,0,4,2017-06-20,Chengdu-sydney-7-2017-11-15-6:15pm-12:45am-9:4...,148,1,1,99,99,31,6,10,13,27,6,0,0,5,2,3,0,2,3,0,1,1.0,0.027492
1425,1274.78,0,1274.78,0.00,0,4,2017-06-20,Chengdu-sydney-7-2017-11-17-4:30pm-12:50am-9:4...,150,1,1,99,99,0,6,8,13,27,0,0,0,5,2,3,0,2,3,0,1,1.0,0.012190
1430,586.24,0,586.24,0.00,0,4,2017-06-20,Chengdu-sydney-7-2017-12-02-2:00pm-12:50am-11:...,165,1,1,3,3,14,13,6,3,29,2,0,0,5,2,3,0,2,3,0,1,1.0,0.000312
1455,1612.70,1,1493.40,119.30,1,0,2017-06-20,shanghai-Los Angeles-0-2017-07-08-2:15pm-8:00p...,18,1,1,9,5,24,34,6,5,8,2,0,0,5,2,3,0,2,3,0,0,1.0,0.080626
1479,1262.80,1,515.90,746.90,1,0,2017-06-21,shanghai-Los Angeles-0-2017-08-22-12:10pm-12:0...,62,1,1,9,5,34,34,4,5,15,5,0,0,6,2,3,0,2,3,0,0,1.0,0.125624
1485,1299.60,0,1299.60,0.00,1,0,2017-06-20,shanghai-Los Angeles-0-2017-08-25-8:10am-3:00p...,66,1,1,9,5,24,34,20,5,15,0,0,0,5,2,3,0,2,3,0,0,1.0,0.123815
1486,1174.80,1,515.90,658.90,1,0,2017-06-21,shanghai-Los Angeles-0-2017-08-28-12:10pm-10:4...,68,1,1,9,5,34,34,4,5,16,1,0,0,6,2,3,0,2,3,0,0,1.0,0.183273
1490,1032.50,0,1032.50,0.00,1,0,2017-06-20,shanghai-Los Angeles-0-2017-08-30-4:00pm-9:00p...,71,1,1,7,5,26,34,8,5,16,6,0,0,5,2,3,0,2,3,0,0,1.0,0.098197
1508,6207.70,0,6207.70,0.00,1,0,2017-06-21,shanghai-Los Angeles-0-2017-09-23-5:25pm-10:55...,94,1,1,9,5,0,34,9,5,19,2,0,0,6,2,3,0,2,3,0,0,1.0,0.091537
1515,892.80,0,892.80,0.00,1,0,2017-06-21,shanghai-Los Angeles-0-2017-10-01-12:10pm-6:35...,102,1,1,9,5,34,34,4,5,20,3,0,0,6,2,3,0,2,3,0,0,1.0,0.021234
1520,1305.60,0,1305.50,0.10,1,0,2017-06-20,shanghai-Los Angeles-0-2017-10-03-4:05pm-9:30p...,105,1,1,8,5,20,34,8,5,21,5,0,0,5,2,3,0,2,3,0,0,1.0,0.177915
1538,949.80,0,949.80,0.00,1,0,2017-06-20,shanghai-Los Angeles-0-2017-10-23-10:15am-10:5...,125,1,1,9,5,7,34,2,5,24,1,0,0,5,2,3,0,2,3,0,0,1.0,0.014191
1540,768.90,0,766.70,2.20,1,0,2017-06-22,shanghai-Los Angeles-0-2017-10-23-4:45pm-8:16p...,123,1,1,7,5,8,34,8,5,24,1,0,0,4,2,3,0,2,3,0,0,1.0,0.000110
1551,1349.50,1,719.90,629.60,1,0,2017-06-22,shanghai-Los Angeles-0-2017-11-04-5:50pm-2:30p...,135,1,1,4,5,2,34,9,5,25,2,0,0,4,2,3,0,2,3,0,0,1.0,0.014736
1591,4931.00,0,4931.00,0.00,1,0,2017-06-20,shanghai-Los Angeles-14-2017-07-01-10:00am-5:0...,11,1,1,4,2,7,8,2,15,7,2,0,0,5,2,3,0,2,3,0,1,1.0,0.158132

                  rows, auc, gini, time
0.1%             17009 0.61
0.5%             85044 0.69, 0.38
1%               161166 0.71
10%
100%                  0.86

In [122]:
test

,price,priceWillDrop,futureMinPrice,saving,fromCity,toCity,searchDate,routeCombKey,leadTime,leg1_stops,leg2_stops,leg1_noOfTicketsLeft,leg2_noOfTicketsLeft,leg1_carrierSummary_airlineName,leg2_carrierSummary_airlineName,leg1_departureTime_hour,leg2_departureTime_hour,depWeekOfYear,depDayOfWeek,retWeekOfYear,retDayOfWeek,searchDayOfWeek,leg1_cabinClass_0,leg1_cabinClass_1,leg1_cabinClass_2,leg2_cabinClass_0,leg2_cabinClass_1,leg2_cabinClass_2,trip,randVar,predicted
1,1169.30,0,1169.30,0.0,0,1,2017-06-20,Chengdu-Taipei-0-2017-11-10-8:20am-12:00pm-1:2...,143,1,1,9,5,4,25,18,2,19,0,0,0,5,2,3,0,2,2,0,0,1.0,0.258104
10,756.78,0,756.78,0.0,0,4,2017-06-20,Chengdu-sydney-0-2017-11-10-5:00pm-12:50am-1:2...,143,1,1,9,5,23,25,7,2,19,0,0,0,5,2,3,0,2,2,0,0,1.0,0.256345
16,1309.92,0,1308.82,1.1,0,4,2017-06-21,Chengdu-sydney-7-2017-08-07-3:15pm-10:20pm-9:2...,47,1,1,99,99,31,28,5,10,5,1,0,0,6,2,3,0,2,2,0,1,1.0,0.261907
19,1262.80,0,1262.80,0.0,1,0,2017-06-21,shanghai-Los Angeles-0-2017-08-03-12:20pm-11:1...,43,2,1,8,5,8,25,2,2,4,4,0,0,6,2,3,2,2,2,0,0,1.0,0.253101
30,1350.50,0,1350.50,0.0,1,0,2017-06-22,shanghai-Los Angeles-28-2017-09-23-12:30am-10:...,93,1,1,9,9,28,21,0,20,11,2,0,0,4,2,3,0,2,2,0,1,1.0,0.260202
34,1111.60,0,1111.60,0.0,1,0,2017-06-22,shanghai-Los Angeles-7-2017-10-30-1:45pm-6:00p...,130,1,1,3,9,28,12,3,14,18,1,0,0,4,2,3,0,2,2,0,1,1.0,0.258142
44,1634.84,0,1634.84,0.0,1,4,2017-06-21,shanghai-sydney-21-2017-09-14-4:35pm-11:55pm-1...,85,1,1,9,9,4,3,6,19,10,4,0,0,6,2,3,0,2,2,0,1,1.0,0.261014
108,511.24,0,511.24,0.0,0,4,2017-06-22,Chengdu-sydney-14-2017-09-19-4:00pm-8:25am-11:...,89,1,1,5,5,7,6,6,19,11,5,0,0,4,2,3,0,2,2,0,1,1.0,0.256983
111,1602.20,0,1602.20,0.0,0,4,2017-06-20,Chengdu-sydney-21-2017-12-02-9:30am-10:10pm-2:...,165,1,0,9,99,35,23,19,3,22,2,0,0,5,2,3,0,2,0,0,1,1.0,0.258406
134,1807.60,0,1807.60,0.0,1,0,2017-06-22,shanghai-Los Angeles-7-2017-08-21-4:10pm-6:45p...,60,1,1,7,7,36,21,6,18,7,1,0,0,4,2,3,0,2,2,0,1,1.0,0.255145
142,4928.62,0,4928.62,0.0,1,4,2017-06-20,shanghai-sydney-14-2017-11-01-1:50pm-11:50pm-9...,134,1,1,99,99,0,28,3,10,18,6,0,0,5,3,3,0,2,2,0,1,1.0,0.270656
145,989.24,0,989.24,0.0,1,4,2017-06-22,shanghai-sydney-28-2017-10-29-1:15pm-7:10pm-11...,129,1,1,9,9,7,6,3,19,17,3,0,0,4,2,3,0,2,2,0,1,1.0,0.266259
176,1441.87,0,1441.87,0.0,2,3,2017-06-21,sydney-shanghai-7-2017-07-11-10:05am-7:05pm-1:...,20,1,1,99,99,4,28,20,1,32,5,0,0,6,2,3,0,2,2,0,1,1.0,0.250793
190,1160.78,0,1160.78,0.0,0,4,2017-06-21,Chengdu-sydney-14-2017-06-30-12:00pm-12:50am-9...,9,1,1,99,99,23,28,2,10,30,0,0,0,6,2,3,0,2,2,0,1,1.0,0.249489
196,1491.24,0,1491.24,0.0,0,4,2017-06-22,Chengdu-sydney-21-2017-08-01-4:25pm-11:55pm-10...,40,1,1,2,2,4,0,6,18,4,5,0,0,4,2,3,0,2,2,0,1,1.0,0.252439
203,1323.62,0,1323.62,0.0,0,4,2017-06-20,Chengdu-sydney-28-2017-11-05-7:55am-7:00pm-9:4...,138,1,1,99,99,0,28,17,10,18,3,0,0,5,2,3,0,2,2,0,1,1.0,0.260867
216,1035.20,0,1035.20,0.0,1,0,2017-06-20,shanghai-Los Angeles-7-2017-07-06-12:10pm-6:10...,16,1,1,9,9,28,21,2,18,31,4,0,0,5,2,3,0,2,2,0,1,1.0,0.248655
218,1805.70,0,1805.70,0.0,1,0,2017-06-20,shanghai-Los Angeles-7-2017-08-01-12:10pm-7:40...,42,1,1,9,5,28,21,2,17,4,5,0,0,5,2,3,0,2,2,0,1,1.0,0.251539
224,1026.06,0,1026.06,0.0,1,4,2017-06-22,shanghai-sydney-14-2017-10-17-12:20am-6:45pm-1...,117,1,0,2,9,20,16,0,18,16,5,0,0,4,2,3,0,2,0,0,1,1.0,0.261779
236,1231.82,0,1231.82,0.0,1,4,2017-06-22,shanghai-sydney-7-2017-08-19-1:15pm-9:50pm-9:2...,58,1,1,99,99,31,28,3,10,6,2,0,0,4,2,3,0,2,2,0,1,1.0,0.262526
242,1192.95,0,1192.95,0.0,2,2,2017-06-22,sydney-Wuhan-0-2017-12-13-11:00am-6:10pm-1:55p...,174,2,1,4,5,30,25,21,2,25,6,0,0,4,2,3,2,2,2,0,0,1.0,0.253437
244,8922.24,0,8922.24,0.0,2,2,2017-06-21,sydney-Wuhan-14-2017-07-31-9:45pm-8:35am-2:05p...,40,1,1,2,2,0,0,11,3,4,1,0,0,6,1,2,0,1,1,0,1,1.0,0.252076
264,608.00,0,608.00,0.0,2,3,2017-06-20,sydney-shanghai-21-2017-09-20-11:00am-7:00pm-1...,92,1,1,99,99,34,28,21,1,11,6,0,0,5,2,3,0,2,2,0,1,1.0,0.255163
286,652.70,0,652.70,0.0,0,1,2017-06-20,Chengdu-Taipei-21-2017-11-02-10:55am-5:30pm-2:...,135,1,1,9,9,7,6,20,3,18,4,0,0,5,2,3,0,2,2,0,1,1.0,0.250958
289,1491.00,0,1491.00,0.0,0,1,2017-06-20,Chengdu-Taipei-7-2017-10-18-8:20am-3:45pm-11:2...,120,1,1,4,4,4,25,18,19,16,6,0,0,5,2,3,0,2,2,0,1,1.0,0.258964
290,958.80,0,958.80,0.0,0,1,2017-06-22,Chengdu-Taipei-7-2017-12-05-9:30pm-8:30am-11:2...,166,1,1,5,5,23,25,11,19,24,5,0,0,4,2,3,0,2,2,0,1,1.0,0.254032
292,1126.82,0,1126.82,0.0,0,4,2017-06-22,Chengdu-sydney-0-2017-07-28-8:50pm-12:50am-1:2...,36,1,1,9,5,6,25,10,2,3,0,0,0,4,2,3,0,2,2,0,0,1.0,0.252341
318,986.42,0,986.42,0.0,1,4,2017-06-21,shanghai-sydney-0-2017-09-25-5:15pm-11:50pm-1:...,96,1,1,9,5,0,25,7,2,13,1,0,0,6,2,3,0,2,2,0,0,1.0,0.255523
328,1498.35,0,1498.35,0.0,1,4,2017-06-22,shanghai-sydney-21-2017-11-29-7:15pm-12:30pm-1...,160,1,1,9,1,0,8,9,20,22,6,0,0,4,2,3,0,2,2,0,1,1.0,0.259787
340,636.16,0,636.16,0.0,2,2,2017-06-22,sydney-Wuhan-14-2017-10-20-8:40pm-5:30pm-7:45a...,120,1,1,9,9,23,23,10,15,16,0,0,0,4,2,3,0,2,2,0,1,1.0,0.252705
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17985,1121.78,0,1121.78,0.0,0,4,2017-06-22,Chengdu-sydney-28-2017-10-24-2:00pm-12:50am-11...,124,1,1,99,99,23,28,4,19,17,5,0,0,4,2,3,0,2,2,0,1,1.0,0.270151
18017,5088.82,0,5088.82,0.0,1,4,2017-06-21,shanghai-sydney-14-2017-11-12-2:45pm-11:50pm-9...,144,1,1,99,99,0,28,4,10,19,3,0,0,6,2,3,0,2,2,0,1,1.0,0.270152
18022,1288.71,0,1288.71,0.0,1,4,2017-06-21,shanghai-sydney-21-2017-10-03-4:50pm-12:45am-1...,104,1,1,99,99,25,28,6,20,14,5,0,0,6,2,3,0,2,2,0,1,1.0,0.267543
18111,892.24,0,892.24,0.0,1,4,2017-06-20,shanghai-sydney-21-2017-10-12-7:45pm-8:25am-9:...,114,1,1,9,8,7,6,9,17,15,4,0,0,5,2,3,0,2,2,0,1,1.0,0.264086
18141,1454.24,0,1454.24,0.0,2,2,2017-06-21,sydney-Wuhan-7-2017-07-29-8:50pm-7:55am-10:00p...,38,1,1,4,1,0,6,10,11,3,2,0,0,6,2,3,0,2,2,0,1,1.0,0.251343
18154,1062.84,0,1062.84,0.0,2,3,2017-06-20,sydney-shanghai-28-2017-11-26-9:05am-5:05pm-1:...,159,1,1,4,4,30,24,19,2,21,3,0,0,5,2,3,0,2,2,0,1,1.0,0.255461
18159,743.60,0,743.60,0.0,0,1,2017-06-21,Chengdu-Taipei-14-2017-08-02-1:40pm-7:50pm-5:4...,42,1,0,7,9,6,18,3,6,4,6,0,0,6,2,3,0,2,0,0,1,1.0,0.252204
18173,994.71,0,994.71,0.0,0,4,2017-06-22,Chengdu-sydney-21-2017-12-06-6:15pm-7:05am-9:4...,167,1,1,99,99,25,28,8,10,24,6,0,0,4,2,3,0,2,2,0,1,1.0,0.261908
18210,7062.82,0,7062.82,0.0,1,4,2017-06-21,shanghai-sydney-21-2017-09-21-4:30pm-11:55pm-1...,92,1,1,99,99,0,28,6,20,11,4,0,0,6,1,2,0,2,2,0,1,1.0,0.268322
18217,1693.12,0,1693.12,0.0,1,4,2017-06-20,shanghai-sydney-7-2017-08-11-7:55pm-11:00am-7:...,52,0,1,99,99,6,28,9,19,5,0,0,0,5,2,0,0,2,2,0,1,1.0,0.261545
18241,1316.89,0,1316.89,0.0,2,3,2017-06-22,sydney-shanghai-14-2017-07-26-4:00pm-12:30am-1...,34,1,1,99,99,26,28,6,1,3,6,0,0,4,2,3,0,2,2,0,1,1.0,0.257991
18281,1135.12,0,1135.12,0.0,0,4,2017-06-21,Chengdu-sydney-21-2017-11-07-2:05pm-7:50pm-11:...,139,1,1,99,99,0,28,4,19,19,5,0,0,6,2,3,0,2,2,0,1,1.0,0.259629
18291,1807.60,0,1807.60,0.0,1,0,2017-06-22,shanghai-Los Angeles-28-2017-07-16-12:10pm-1:1...,24,1,1,2,2,28,21,2,19,32,3,0,0,4,2,3,0,2,2,0,1,1.0,0.249130
18340,614.16,0,614.16,0.0,2,3,2017-06-22,sydney-shanghai-28-2017-11-15-8:40pm-4:30pm-7:...,146,1,1,9,9,23,23,10,8,20,6,0,0,4,2,3,0,2,2,0,1,1.0,0.254276
18346,1039.30,0,1039.30,0.0,0,1,2017-06-20,Chengdu-Taipei-0-2017-09-22-11:55am-4:30pm-1:2...,94,1,1,9,5,0,25,21,2,11,0,0,0,5,2,3,0,2,2,0,0,1.0,0.251456
18370,1312.96,0,1312.96,0.0,0,4,2017-06-21,Chengdu-sydney-28-2017-10-04-7:30pm-12:50am-2:...,105,1,0,9,99,23,23,9,3,14,6,0,0,6,2,3,0,2,0,0,1,1.0,0.259796
18376,707.80,0,707.80,0.0,1,0,2017-06-21,shanghai-Los Angeles-0-2017-11-15-12:50pm-10:2...,147,2,1,9,5,8,25,2,2,20,6,0,0,6,2,3,2,2,2,0,0,1.0,0.253426
18398,1181.66,0,1181.66,0.0,1,4,2017-06-21,shanghai-sydney-21-2017-10-20-8:05pm-12:30pm-1...,121,1,0,9,4,20,16,10,18,16,0,0,0,6,2,3,0,2,0,0,1,1.0,0.265589
18422,840.04,0,840.04,0.0,2,3,2017-06-21,sydney-shanghai-14-2017-08-17-9:45pm-10:00am-1...,57,1,1,9,9,7,18,11,19,6,4,0,0,6,2,3,0,2,2,0,1,1.0,0.253484
18441,586.30,0,586.30,0.0,0,1,2017-06-22,Chengdu-Taipei-0-2017-09-28-8:25am-3:30pm-1:25...,98,1,1,9,5,0,25,18,2,13,4,0,0,4,2,3,0,2,2,0,0,1.0,0.248778
18469,1262.80,0,1262.80,0.0,1,0,2017-06-21,shanghai-Los Angeles-0-2017-07-15-12:10pm-11:1...,24,1,1,9,5,28,25,2,2,32,2,0,0,6,2,3,0,2,2,0,0,1.0,0.250909
18475,987.80,0,987.80,0.0,1,0,2017-06-20,shanghai-Los Angeles-14-2017-09-14-8:10pm-10:3...,86,0,1,9,9,28,21,10,18,10,4,0,0,5,2,0,0,2,2,0,1,1.0,0.257215
18480,1439.60,0,1439.60,0.0,1,0,2017-06-20,shanghai-Los Angeles-7-2017-07-05-1:35pm-8:00p...,15,1,1,8,8,17,13,3,18,31,6,0,0,5,2,3,0,2,2,0,1,1.0,0.247936
18532,1449.10,0,1449.10,0.0,0,1,2017-06-21,Chengdu-Taipei-21-2017-11-27-8:20am-12:00pm-8:...,159,1,1,5,5,3,25,18,9,22,1,0,0,6,2,3,0,2,2,0,1,1.0,0.257971
18536,438.30,0,438.30,0.0,0,1,2017-06-20,Chengdu-Taipei-28-2017-12-13-9:25pm-8:45am-11:...,176,1,1,5,5,31,25,11,19,25,6,0,0,5,2,3,0,2,2,0,1,1.0,0.250536
18547,2910.42,0,2910.42,0.0,0,4,2017-06-22,Chengdu-sydney-0-2017-10-01-1:55pm-8:15pm-1:25...,101,1,1,9,5,0,25,3,2,13,3,0,0,4,2,3,0,2,2,0,0,1.0,0.255975
18550,1193.87,0,1193.87,0.0,0,4,2017-06-22,Chengdu-sydney-14-2017-08-01-6:25pm-9:35am-6:0...,40,1,1,4,3,0,19,8,7,4,5,0,0,4,2,3,0,2,2,0,1,1.0,0.250843
18611,1602.77,0,1602.77,0.0,2,2,2017-06-22,sydney-Wuhan-7-2017-12-06-11:00am-6:10pm-1:55p...,167,2,1,4,4,30,6,21,9,24,6,0,0,4,2,3,2,2,2,0,1,1.0,0.254137
18618,750.08,0,750.08,0.0,2,3,2017-06-21,sydney-shanghai-28-2017-08-10-10:45am-9:45pm-1...,50,1,1,99,99,7,28,20,1,5,4,0,0,6,2,3,0,2,2,0,1,1.0,0.253337
18622,1180.54,0,1180.54,0.0,2,3,2017-06-22,sydney-shanghai-7-2017-09-20-7:30am-9:15pm-6:0...,90,1,1,99,99,4,28,17,14,11,6,0,0,4,2,3,0,2,2,0,1,1.0,0.265495

In [ ]:
coding: utf-8
In[1]:

spark
In[7]:

import pandas as pd
import pyspark.sql.functions as F
from pyspark.sql.types import TimestampType
from pyspark.sql.window import Window
import sys
pd.set_option('display.max_columns', None)
In[3]:
df = spark.read.parquet("C:\Data\Flight Data\flight.pq.11\data\flight_v2.pq")
df.count()
In[4]:

get_ipython().run_cell_magic(u'time', u'', u"df.groupby('fromCity', 'toCity').agg(F.count('price').alias('count'), F.max('price').alias('maxPrice')).orderBy('count').show()")
In[5]:

get_ipython().run_cell_magic(u'time', u'', u"df.groupby('searchDate').agg(F.avg('price')).orderBy('searchDate').show(100)")
In[6]:

df.printSchema()
In[7]:

df.filter(F.col('searchMonth')=='201707').agg(F.avg('price')).show()
In[11]:

get_ipython().run_cell_magic(u'time', u'', u'df.dropDuplicates().count()')
In[53]:

get_ipython().run_cell_magic(u'time', u'', u'dfv1.dropDuplicates().count()')
In[54]:

get_ipython().run_cell_magic(u'time', u'', u'dfv2.dropDuplicates().count()')
In[102]:

df = spark.read.parquet("C:\Data\Flight Data\flight.pq.11\flight_10_1_14.pq")
df.count()
In[6]:

df.printSchema()
In[38]:
(df.groupBy('leg2_carrierSummary_airlineName')
.agg(F.count('leg2_carrierSummary_airlineName')
.alias('count')).orderBy(F.desc('count')).show(1000))
df.select(F.weekofyear(F.col('depDate')), F.month(F.col('depDate')),
F.dayofmonth(F.col('depDate')), F.dayofyear(F.col('depDate'))).distinct().show()
(df.groupBy('leg1_arrivalTime_hour')
.agg(F.count('leg1_arrivalTime_hour')
.alias('count')).orderBy(F.desc('count')).show(1000))
(df.groupBy('leg2_carrierSummary_displayUrgencyMessage','leg2_carrierSummary_noOfTicketsLeft')
.agg(F.count('leg2_carrierSummary_noOfTicketsLeft')
.alias('count')).orderBy('leg2_carrierSummary_displayUrgencyMessage','leg2_carrierSummary_noOfTicketsLeft').show(1000))

(df.groupBy('timeline1_carrier_bookingCode','timeline1_carrier_cabinClass')
.agg(F.count('leg2_carrierSummary_noOfTicketsLeft').alias('count'),
F.avg('price')).orderBy('timeline1_carrier_bookingCode','timeline1_carrier_cabinClass').show(1000))
timeline1_carrier_bookingCode
timeline1_carrier_cabinClass
In[4]:

df.printSchema()
In[20]:

df.limit(2).toPandas().to_csv("D:\flight.pq.11\df.csv", index=False)
In[8]:

get_ipython().run_cell_magic(u'time', u'', u"\nlookforwardDays = 19\ndays = lambda i: i * 86400 # number of seconds in a day\n\nbyVar = ['toCity', 'depDate', 'stayDays', \n 'timeline1_departureTime_time', 'timeline2_departureTime_time',\n 'timeline1_carrier_airlineCode', 'timeline2_carrier_airlineCode']\nw = (Window.partitionBy('routeCombKey')\n .orderBy(F.col('searchDate').cast('timestamp').cast('long'))\n .rowsBetween(0, days(lookforwardDays)))\nthreshold = 20\n\nudfGetWeekNumer = lambda dt: F.udf(dt.isocalendar()[1], IntegerType())\n\n# udfGetAvg = lambda x: F.udf(sum(x)/float(len(x)))\n\ndf2 = (df.filter(df.price > 0)\n .withColumn('routeCombKey', F.concat_ws('-', F.col('fromCity'), \n F.col('toCity'),\n F.col('stayDays'), F.col('depDate'), \n F.col('timeline1_departureTime_time'),\n F.col('timeline2_departureTime_time'),\n F.col('timeline1_carrier_airlineCode'),\n F.col('timeline2_carrier_airlineCode')))\n \n# join_udf(F.col('timeline1_departureTime_time')),\n# join_udf(F.col('timeline2_departureTime_time')),\n# join_udf(F.col('timeline1_carrier_airlineCode')),\n# join_udf(F.col('timeline2_carrier_airlineCode'))))\n .withColumn('futureMinPrice', F.min(F.col('price')).over(w))\n .withColumn('priceWillDrop', (F.col('price') - F.col('futureMinPrice') > threshold).cast('int'))\n .withColumn('saving0', F.col('price') - F.col('futureMinPrice'))\n .withColumn('temp0', F.lit(0))\n .withColumn('saving', F.greatest('saving0', 'temp0'))\n .drop('saving0', 'temp0')\n .withColumn('leadTime', F.datediff(F.col('depDate'), F.col('searchDate'))) \n .withColumn('depWeekOfYear', F.weekofyear(F.col('depDate')))\n .withColumn('retWeekOfYear', F.weekofyear(F.col('leg2_departureTime_date')))\n .withColumn('depMonth', F.month(F.col('depDate')))\n .withColumn('depDayOfMonth', F.dayofmonth(F.col('depDate')))\n .withColumn('depDayOfYear', F.dayofyear(F.col('depDate')))\n .withColumn('depDayOfWeek', F.date_format(F.col('depDate'), 'EEEE'))\n .withColumn('retDayOfWeek', F.date_format(F.col('leg2_departureTime_date'), 'EEEE'))\n .withColumn('searchDayOfWeek', F.date_format(F.col('searchDate'), 'EEEE'))\n .withColumn('leg1_noOfTicketsLeft', \n F.when(F.col('leg1_carrierSummary_noOfTicketsLeft') > 0, \n F.col('leg1_carrierSummary_noOfTicketsLeft')).otherwise(99)) \n .withColumn('leg2_noOfTicketsLeft', \n F.when(F.col('leg2_carrierSummary_noOfTicketsLeft') > 0, \n F.col('leg2_carrierSummary_noOfTicketsLeft')).otherwise(99))\n .withColumn('leg1_cabinClass_0', F.col('timeline1_carrier_cabinClass').getItem(0))\n .withColumn('leg1_cabinClass_1', F.col('timeline1_carrier_cabinClass').getItem(1))\n .withColumn('leg1_cabinClass_2', F.col('timeline1_carrier_cabinClass').getItem(2))\n .withColumn('leg2_cabinClass_0', F.col('timeline2_carrier_cabinClass').getItem(0))\n .withColumn('leg2_cabinClass_1', F.col('timeline2_carrier_cabinClass').getItem(1))\n .withColumn('leg2_cabinClass_2', F.col('timeline2_carrier_cabinClass').getItem(2)) \n .select('price', 'priceWillDrop', 'futureMinPrice', 'saving',\n 'fromCity', 'toCity',\n 'searchDate',\n 'routeCombKey',\n 'leadTime', \n 'leg1_stops', 'leg2_stops',\n 'leg1_noOfTicketsLeft', 'leg2_noOfTicketsLeft',\n 'leg1_carrierSummary_airlineName', 'leg2_carrierSummary_airlineName',\n 'leg1_departureTime_hour', 'leg2_departureTime_hour',\n 'depWeekOfYear', 'depDayOfWeek','retWeekOfYear', 'retDayOfWeek',\n 'searchDayOfWeek',\n 'leg1_cabinClass_0', 'leg1_cabinClass_1', 'leg1_cabinClass_2',\n 'leg2_cabinClass_0', 'leg2_cabinClass_1', 'leg2_cabinClass_2',\n 'trip')\n )\n\n, \n# df2.cache()")
In[9]:

get_ipython().run_cell_magic(u'time', u'', u'df2.limit(5).toPandas()')
In[10]:

df2.cache()
In[6]:

df3 = df2.filter(F.col('searchDate') <= F.lit('2017-06-23').cast(TimestampType()))
df3 = df3.withColumn('randVar', F.round(F.rand()*10, 0))
df3.filter(F.col('searchDate') >= F.lit('2017-06-16').cast(TimestampType())).toPandas().to_pickle("D:\flight.pq.11\df3_test.pkl")
In[45]:

df3.groupby('randVar').agg(F.count('randVar').alias('count')).show(100)
In[7]:

listRand = [x['randVar'] for x in df3.select('randVar').distinct().collect()]
In[9]:

dfArray = [df3.where(F.col('randVar') == x) for x in listRand]
In[15]:

spark.conf.set("spark.driver.maxResultSize", "10g")
In[11]:

i = 0
for df_temp in dfArray:
df_temp.toPandas().to_pickle('D:\flight.pq.11\df3_test_' + str(listRand[i]) + '.pkl')
i += 1
In[16]:

(df2.filter(F.col('searchDate') <= F.lit('2017-06-23').cast(TimestampType()))
.toPandas().to_pickle("D:\flight.pq.11\df2_v2.pkl"))
.limit(4000000)
In[15]:

(df2.filter(F.col('searchDate') <= F.lit('2017-06-23').cast(TimestampType()))
.toPandas().to_pickle("D:\flight.pq.11\df2_v2.pkl"))
.limit(4000000)
In[18]:

get_ipython().run_cell_magic(u'time', u'', u'# pyspark --driver-memory 5g --executor-memory 25g\n\nimport pyspark.sql.functions as F\n\n# set default parquet partition to be 128mb\n# spark._jsc.hadoopConfiguration().set("dfs.block.size", "64m")\n# spark._jsc.hadoopConfiguration().setInt("parquet.block.size", 128*1024*1024)\n\n# Read in original parquet files\nparquetFile = spark.read.parquet("C:\\Data\Flight Data\\flight.pq.11\\flight_10_1")\nparquetFile2 = spark.read.parquet("C:\\Data\\Flight Data\\flight.pq.11\\flight_10_14")\n\n# Add searchMonth\nparquetFile = parquetFile.withColumn(\'searchMonth\', F.date_format(F.last_day(F.col(\'searchDate\')), "YYYYMM"))\nparquetFile2 = parquetFile2.withColumn(\'searchMonth\', F.date_format(F.last_day(F.col(\'searchDate\')), "YYYYMM"))\n\n# Save first parquet file, partition by fromCity, toCity and searchMonth\nparquetFile.coalesce(1).write.partitionBy("fromCity", "toCity", "searchMonth").save("C:\\Data\\Flight Data\\flight.pq.11\\flight.pq")\n\n# Save additional parquet files, partition by fromCity, toCity and searchMonth\nparquetFile2.coalesce(1).write.partitionBy("fromCity", "toCity", "searchMonth").mode("append").save("C:\Data\\Flight Data\\flight.pq.11\\flight.pq")\n\n# Next: convert this to a jar file, save on s3, launch ec2 spot instance and run the jar file')
In[8]:

df2_in = pd.read_pickle("D:\flight.pq.11\df2.pkl")
In[12]:

df2_in.searchDate.value_counts()
In[59]:
parquetFile.count()
parquetFile.show(1)
parquetFile.select('searchDate').distinct().orderBy('searchDate').show(10000, truncate=False)
parquetFile.select('price').distinct().orderBy('price').show(10000, truncate=False)
parquetFile.filter(parquetFile.)
parquetFile.select('depDate').distinct().orderBy('depDate').show(100, truncate=False)
(parquetFile.searchDate == '2017-06-12')
In[ ]:

parquetFile.show(2)